<!--<div class="col-md-12">-->
  <div class="mt-6 flex justify-center">
    <p class="text-xl font-bold ">Login to CourseMapper</p>
  </div>
<div class="flex flex-wrap justify-center py-8">
  <div class="flex flex-col" [style]="{ width: '248px' }">
    <!-- <div>
      <h2> Login to CourseMapper </h2>
    </div> -->
    <div class="p-float-label mb-4">
      <input
        id="float-input"
        type="text"
        pInputText
        [(ngModel)]="form.username"
        [style]="{ width: '100%' }"
      />
      <label for="float-input">Username</label>
    </div>

    <span class="p-float-label">
      <p-password [(ngModel)]="form.password"      [toggleMask]="true"
      [feedback]="false" [style]="{ width: '100%' }" class="mb-4"></p-password>
      <label for="password">Password</label>
    </span>
    <a [routerLink]="[forgetPassword]" style="color: #0277bd">
      Forget Password?</a
    >
    <button
      pButton
      [ngStyle]="{ backgroundColor: '#EA580C' , width: '100%',    margin: '1rem 0rem'}"
      type="button"
      label="Sign in"
      (click)="onSubmit()"
    ></button>

    <p
      *ngIf="isLoginFailed"
      [style]="{ textAlign: 'center' }"
      class="mt-4 text-red-600"
    >
      {{ errorMessage }}
    </p>
    <div style="text-align: center;
    margin: 1rem;" >
      Don’t have an account? <br/>  <a [routerLink]="[signup]" style="color: #0277BD;"> Sign up </a><br/>
    </div>

  </div>

</div>
