<div
  class="h-screen w-20 m-0 flex flex-col py-2 bg-gray-600 text-white shadow-lg"
>
  <div class="sidebar-icon group">
    <i class="pi pi-home" style="font-size: 24px"></i>
    <span class="sidebar-tooltip group-hover:scale-100"> Home </span>
  </div>

  <hr class="sidebar-hr" />

  <div *ngFor="let item of array2; let i = index" [attr.data-index]="i">
    <div class="sidebar-icon group">
      <button class="text-xl">{{ item.name }}</button>
      <span class="icon-button-badge">{{ item.notification }}</span>
      <span class="sidebar-tooltip group-hover:scale-100">{{
        item.description
      }}</span>
    </div>
  </div>

  <hr class="sidebar-hr" />

  <div class="sidebar-icon group">
    <i class="pi pi-plus" style="font-size: 24px"></i>
    <span class="sidebar-tooltip group-hover:scale-100"> Add new course </span>
  </div>

  <div class="sidebar-icon group">
    <i class="pi pi-search" style="font-size: 24px"></i>
    <span class="sidebar-tooltip group-hover:scale-100">
      Search for courses
    </span>
  </div>
</div>
