PIPELINES=concept-map,modify-graph,expand-material

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=1234qwer!

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=


WIKIPEDIA_DATABASE_CONNECTION_STRING=
WIKIPEDIA_TIMEOUT=30           # Timeout for Wikipedia API requests in seconds
WIKIPEDIA_MAX_RETRIES=3        # Maximum number of retries for failed Wikipedia requests
WIKIPEDIA_RETRY_DELAY=2        # Delay between retries in seconds

DBPEDIA_SPOTLIGHT_URL="https://api.dbpedia-spotlight.org/en/annotate" # official DBpedia Spotlight API ...
#DBPEDIA_SPOTLIGHT_URL="https://example.org/rest/annotate"             # ... or custom instance

MONGO_DB_URI=mongodb://localhost:27017
MONGO_DB_NAME=coursemapper_v2


