button {
    margin-left: 8px;
  }
 .primary{
     background-color: #1890ff;
     color: white;
 }
 .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
 
/*   label{
    display: inline-block;
    background-color: #1890ff;
    color: white; 
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
  } */
  .separator {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    width: 100%;
  }

  .options-card{
    width: 5rem;
  }

  .card-header{
    font-size: 20px;
    text-align: center;
  }

  .dialog-header{
    font-size: 1.5vw;
    font-weight: 400;
    box-sizing: border-box;
  }

  .break-line{
    width: 100%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.548);
    position: absolute;
    left: 0;
    top: 5rem;
  }

 
  .header-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
  }

  ::ng-deep .p-card{
    width: 150px;
    border-radius: 20px;
    border: 3px solid #0277bd;

  }
  ::ng-deep .p-card:hover{
    border: 3px solid #022c42;
    
  }

   p-card{
    display:block;
    width: 150px;
    margin: 1rem;
  }

  .card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  ::ng-deep .p-dialog{
    width: 32vw ;
    min-width: 580px;
  }

  ::ng-deep .p-dialog .p-button.submit{
    background: #ea580c;
  }
  ::ng-deep .p-dialog .p-button{
    background: #0177bd;
    min-width: 190px;
  }
  ::ng-deep .p-dialog .p-button:hover{
    background: #00598d;
    min-width: 190px;

  }

  .input{
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-top: 0.5vw;
  }

  ::ng-deep .p-fileupload .p-fileupload-content{
    display:none;
  }

  ::ng-deep .p-fileupload .p-fileupload-buttonbar {
    border: 0px solid #e0e0e0;
    padding: 0;
    min-width: 60px;
    margin-right: 10px;
    box-sizing: content-box;
  
}

.ng-invalid.ng-touched:not(form){
  border: 1px solid #a94442; /* red */
}

/* .ng-valid:not(form), .ng-valid:not(form):focus-visible{
  border: 1px solid #17a30a;
} */

.ng-untouched:not(form){
  border: 1px solid #3a95cc;
}

.input label{
  width: 3.5vw;
  min-width: 150px;
}

.input input{
  height: 20px;
  min-width: 60px;
}

.radioButtons{
  display:flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}
.radioOption label{
  margin-right: 1rem;
}

.radioOption{
  display:flex;
  justify-content: space-around;
}

::ng-deep .p-fileupload .p-component {
  box-sizing: content-box;
}