<h2 class="text-xl text-center mb-8">
  Upload a learning material to this channel
</h2>

<div class="card-container">
  <p-card (click)="showPdfAddModel()">
    <div class="header-container">
      <span class="card-header"> Add a Pdf </span>
    </div>
  </p-card>
  <p-card (click)="showVideoAddModel()">
    <div class="header-container">
      <span class="card-header"> Add a Video </span>
    </div>
  </p-card>
</div>

<p-dialog
  header="Upload a PDF File"
  [(visible)]="pdfAddModelDisplay"
  [baseZIndex]="10000"
  (onHide)="resetDialogs($event)"
  [modal]="true"
  header="Upload a PDF File"
>
  <!--   <ng-template pTemplate="header">
    <div class="dialog-header">Upload a PDF File</div>
    <div class="break-line"></div>
  </ng-template> -->

  <form [formGroup]="validateForm">
    <div class="input-container">
      <div class="input">
        <label for="pdf-file-input"> Select a PDF </label>
        <p-fileUpload
          mode="advanced"
          name="file"
          id="pdf-file-input"
          [customUpload]="true"
          (onSelect)="myUploader($event)"
          chooseLabel="{{ pdfAttachButtonText }}"
          chooseIcon="pi pi-paperclip"
          [showUploadButton]="false"
          [showCancelButton]="false"
          accept="application/pdf"
        ></p-fileUpload>
        <span>{{ invalidPDFFileMessage }}</span>
      </div>

      <div class="input">
        <label for="materialName">Name</label>
        <input
          id="materialName"
          type="text"
          pInputText
          formControlName="materialName"
          placeholder="Give a name to your file"
        />
      </div>
      <div class="input">
        <label for="description">Description</label>
        <input
          id="description"
          type="text"
          pInputText
          formControlName="description"
          placeholder="Give a description to your file"
        />
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      styleClass="submit"
      icon="pi pi-check"
      (onClick)="submitForm()"
      label="Submit"
      [disabled]="!validateForm.valid || isFileSelectedInvalid"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="videoAddModelDisplay"
  [baseZIndex]="10000"
  (onHide)="resetDialogs($event)"
  [modal]="true"
  header="Upload a Video"
>
  <!--   <ng-template pTemplate="header">
    <div class="dialog-header">Upload a Video</div>
    <div class="break-line"></div>
  </ng-template> -->

  <form [formGroup]="radioFormGroup">
    <div class="radioButtons">
      <div class="radioOption">
        <input
          formControlName="videoRadio"
          id="url-radio"
          type="radio"
          value="urlOption"
        />
        <label for="url-radio">Add a URL</label>
      </div>
      <div class="radioOption">
        <input
          formControlName="videoRadio"
          id="url-radio"
          type="radio"
          value="videoOption"
        />
        <label for="url-radio">Add a video file</label>
      </div>
    </div>
  </form>

  <div class="input-container" *ngIf="urlOrFile === 'videoOption'">
    <form [formGroup]="validateForm">
      <div class="input">
        <label for="pdf-file-input"> Select a Video </label>
        <p-fileUpload
          mode="advanced"
          name="file"
          id="pdf-file-input"
          [customUpload]="true"
          (onSelect)="myUploader($event)"
          chooseLabel="{{ videoAttachButtonText }}"
          chooseIcon="pi pi-paperclip"
          [showUploadButton]="false"
          [showCancelButton]="false"
          accept="video/mp4,video/x-m4v,video/*"
        ></p-fileUpload>
        <span>{{ invalidVideoFileMessage }}</span>
      </div>

      <div class="input">
        <label for="materialName">Name</label>
        <input
          id="materialName"
          type="text"
          pInputText
          formControlName="materialName"
        />
      </div>
      <div class="input">
        <label for="description">Description</label>
        <input
          id="description"
          type="text"
          pInputText
          formControlName="description"
          placeholder="File Description"
        />
      </div>
    </form>
  </div>

  <div class="input-container" *ngIf="urlOrFile === 'urlOption'">
    <div class="input">
      <label for="url">URL</label>
      <input
        id="url"
        type="url"
        pInputText
        [formControl]="urlFormControl"
        placeholder="Add a YouTube URL"
      />
      <span *ngIf="urlFormControl.errors && urlFormControl.hasError('required')"
        >Please add a valid URL</span
      >
      <span
        *ngIf="
          urlFormControl.errors &&
          urlFormControl.hasError('invalidUrl') &&
          !urlFormControl.hasError('required')
        "
        >The URL format is invalid</span
      >
    </div>

    <form [formGroup]="validateForm">
      <div class="input">
        <label for="materialName">Name</label>
        <input
          id="materialName"
          type="text"
          pInputText
          formControlName="materialName"
          placeholder="Give a name to your file"
        />
      </div>
      <div class="input">
        <label for="description">Description</label>
        <input
          id="description"
          type="text"
          pInputText
          formControlName="description"
          placeholder="File Description"
        />
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      *ngIf="urlOrFile === 'urlOption'"
      styleClass="submit"
      icon="pi pi-check"
      label="Submit"
      [disabled]="validateForm.invalid || urlFormControl.invalid"
      (onClick)="submitForm()"
    >
    </p-button>
    <p-button
      *ngIf="urlOrFile === 'videoOption'"
      styleClass="submit"
      icon="pi pi-check"
      label="Submit"
      [disabled]="validateForm.invalid || isFileSelectedInvalid"
      (onClick)="submitForm()"
    >
    </p-button>
  </ng-template>
</p-dialog>
<p-toast position="bottom-left"></p-toast>
