<p-panel header="Discussion" [toggleable]="false" class="comment-panel">
  <div class="flex flex-wrap flex-col space-y-5">
    <div class="filter">
      <h2 class="text-lg font-medium">Filters</h2>
      <p-multiSelect
        [options]=""
        defaultLabel="Select a filter"
        optionLabel="name"
        display="chip"
        autoWidth="false"
        [style]="{ minWidth: '100%' }"
      ></p-multiSelect>
    </div>
    <div>
      <div>
        <h2 class="text-lg font-medium -mb-4">Content</h2>
        <p-divider align="left"></p-divider>
      </div>
      <div *ngFor="let annotation of annotations">
        <app-pdf-comment-item
        [annotation]="annotation"
      ></app-pdf-comment-item>
      </div>
    </div>
  </div>
</p-panel>
