<app-vis-back-button></app-vis-back-button>

<div style="text-align: center" >
  <div><p class="discover">Discover a MOOC</p></div>


  <p-dropdown [options]="groupedCities"
              (ngModelChange)="updateButtonState()"
              [style]="{'width':'50%'}"
              [panelStyle]="{'width':'50%'}"
              scrollHeight="350px"
              [(ngModel)]="selectedCity" placeholder="Select a platform" [group]="true">
    <ng-template let-group pTemplate="group">
      <div class="flex align-items-center">
        <span>{{ group.label }}</span>
      </div>
    </ng-template>
  </p-dropdown>

  <div>

    <button style="margin-top: 3em" class="button"
            [ngClass]="{'active': selectedCity !== null}"
            [disabled]="selectedCity==='' "
            (click)="exploreCourse()">Explore</button>


  </div>


</div>
