input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #3B82F6 0%, #3B82F6 100%);
  /*outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;*/
}
/*
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
}
*/


.filter-button{

  margin-right:10px ;
}

.sort, .filter-button{
  border:1px solid #0277BD;
  border-radius: 5px;
  padding: 3px;
  color: #0277BD;
  margin-bottom: 10px;
  font-size: 12px;
}

.slider-filter{
  display: flex;
}

.slider{
  border: 2px solid whitesmoke;
  border-radius: 11px;
  padding: 15px;
  width: 55%;
  margin-bottom: 10px;
}

.slider-text{
  font-size: 11px;
  color: grey;
  white-space: nowrap;

}
