<p-toast key="resource_bookmark_video" position="bottom-left"></p-toast>
<div class="mb-6 flex flex-row items-stretch border-b-4 border-gray-300">
  <!-- Colored Band -->
  <div class="w-2" *ngIf="resultTabType !== 'saved'">
    <app-colored-band
      [document_concept_similarity_colorband]="
        coloredBandData.document_concept_similarity_colorband
      "
      [tags]="coloredBandData.tags"
      [resourceTitle]="videoElement.title"
      [contentType]="'video'"
    ></app-colored-band>
  </div>
  <!-- Main Content -->
  <div class="flex flex-row flex-1 gap-6 p-4 w-full">
    <!-- Thumbnail Column -->
    <div class="flex-none">
      <img
        (click)="readVideo(videoElement)"
        class="object-cover rounded w-48 cursor-pointer"
        [src]="videoElement.thumbnail"
        alt="video thumbnail"
      />
    </div>
    <!-- Details Column (Thumbnail, Title, Description)-->
    <div class="flex flex-col flex-1 gap-3">
      <div class="flex flex-row justify-between">
        <div class="w-full">
          <h3
            class="title-video text-lg font-bold inline-block break-normal flex-wrap w-11/12"
            (click)="readVideo(videoElement)"
            [class.active]="isActive"
            [innerHTML]="padStringToLength(videoElement?.title)"
          ></h3>
        </div>

        <!-- Similarity Score and Bookmark -->
<div class="w-3.5/12 text-sm flex items-center mt-1">
  <!-- Similarity Score (hidden in 'saved' tab) -->
  <div
    class="text-[#0288d1] flex flex-row gap-2 whitespace-nowrap"
    *ngIf="resultTabType !== 'saved'"
  >
    <div class="my-auto opacity-75">Similarity score:</div>
    <div class="my-auto font-bold">
      {{ videoElement.similarity_score | percent }}
    </div>
    <div
      class="my-auto"
      pTooltip="This score refers to how similar this video is with the concepts used to get recommendations"
      tooltipPosition="top"
    >
      <span class="pi pi-info-circle" style="font-size: 0.8rem"></span>
    </div>
  </div>

  <!-- Bookmark (always on the far right) -->
  <div class="ml-4" (click)="addToBookmark()">
    <i
      class="pi"
      [ngClass]="videoElement?.is_bookmarked_fill ? 'pi-bookmark-fill text-[#0277bd]' : 'pi-bookmark text-black'"
      style="font-size: 1.2rem"
    ></i>
  </div>
</div>

      </div>

      <!-- Keyphrases Rendered Only for Algorithms 1 and 3 -->
      <div
        *ngIf="
          this.videoElement?.keyphrases &&
          (this.resourcesPagination?.recommendation_type === '1' ||
            this.resourcesPagination?.recommendation_type === '3')
        "
        class="flex flex-row"
      >
        <p class="mr-2 font-semibold">Keyphrases:</p>
        <div class="flex flex-wrap gap-1">
      
          <div
            *ngFor="let concept of videoElement.keyphrases.slice(0, 5)"
            pTooltip="Main keyphrases extracted from this video"
            class="text-xs uppercase text-chips-txt bg-gray-200 mx-1 p-1 px-2 font-semibold rounded-2xl"
          >
            {{ cleanKeyphrase(concept[0]) }}
          </div>
        </div>
      </div>
      <!-- Meta Info -->
      <div class="flex flex-row gap-2 flex-wrap gap-4">
        <div>
          <span class="font-bold">Created at:</span>
          {{ videoElement.publish_time | dateAgo }}
        </div>
        <div>
          <span class="font-bold">Likes:</span>
          {{ videoElement.like_count | number }}
        </div>
        <div>
          <span class="font-bold">Views:</span>
          {{ videoElement.views | number }}
        </div>
      </div>
      <div>
        <span class="font-bold">Author:</span> {{ videoElement.channel_title }}
      </div>
      <!-- Description -->
      <div class="flex flex-row">
        <p *ngIf="videoElement.description" class="mr-2 font-semibold">
          Description:
        </p>
        <p class="text-base text-gray-600" *ngIf="resultTabType !== 'saved'">
          <ng-container *ngFor="let part of abstractParts">
            <span
              *ngIf="part.isKeyphrase"
              class="highlight-keyphrase"
              [style.color]="part.keyphraseMeta.color"
              style="cursor: pointer"
              (click)="openKeyphrasePopover(kpPopover, $event, part)"
              pTooltip="{{ getTooltipText(part) }}"
              tooltipPosition="top"
            >
              {{ part.text }}
            </span>
            <span *ngIf="!part.isKeyphrase">{{ part.text }}</span>
          </ng-container>
        </p>
        <p class="text-base text-gray-600" *ngIf="resultTabType === 'saved'">
          {{ videoElement.description }}
        </p>
      </div>
      <!-- Rating + WHY button -->
      <div class="flex flex-row justify-between">
        <div class="py-3 pl-7">
          <app-rating
            [element]="videoElement"
            [concepts]="concepts"
            [currentMaterial]="currentMaterial"
          >
          </app-rating>
        </div>
        <div
          class="flex flex-row items-center gap-4"
          *ngIf="resultTabType !== 'saved'"
        >
          <button
            (click)="toggleWhy()"
            class="bg-[#3F51B5] text-white py-2 px-4 rounded-md shadow-md hover:bg-[#2C387E] flex items-center space-x-2"
          >
            <i class="pi pi-chart-bar text-sm"></i> <span>Why this video?</span>
          </button>
        </div>
      </div>
      <!-- Explanation section (only visible when WHY? is clicked) -->

      <div *ngIf="isWhyExpanded" class="mt-6 w-full">
        <!-- Divider with Title -->
        <div class="relative flex items-center mb-4">
          <div class="flex-grow border-t border-gray-300"></div>
          <span
            class="mx-4 text-[#3F51B5] font-semibold relative px-2 bg-white"
          >
            Why this video?
            <span
              class="absolute bottom-0 left-0 right-0 border-b-2 border-[#3F51B5]"
            ></span>
          </span>
          <div class="flex-grow border-t border-gray-300"></div>
        </div>
        <!-- Explanation text -->
        <p class="text-gray-700 mb-4">
          This word cloud diagram shows the main extracted keywords from this
          recommended video.<br />
          You can hover over each keyword to see its similarity to all concepts
          used to generate the recommendations.
        </p>
        <!-- Word Cloud + Bar Chart  -->
        <div class="flex items-start justify-center w-full h-auto">
          <app-word-cloud
            [keyphrasesImportanceTuple]="videoElement.keyphrases"
            [concepts]="concepts"
            [keyphrases_concept_similarity_score]="
              videoElement.keyphrases_concept_similarity_score
            "
            [conceptColors]="conceptColors"
            class="w-full max-w-4xl"
          >
          </app-word-cloud>
        </div>
      </div>

      <p-overlayPanel
  #kpPopover
  appendTo="body"
  [showCloseIcon]="false"
  [dismissable]="true"
  [baseZIndex]="10000"
  [style]="{ width: '450px' }"
  styleClass="kp-panel"
>
  <div class="kp-panel-content">
    <span class="custom-close" (click)="kpPopover.hide()">×</span>
    <div class="kp-title">
      The top three similarity scores between the concepts used for
      generating the recommendations and the keyphrase: "{{ selectedKeyphrase }}"
    </div>

    <!-- Chart canvas -->
    <canvas #popupBarChartCanvas width="330" height="220" 
      [style.display]="hasPositiveScores ? 'block' : 'none'">
    </canvas>

    <!-- No bars message -->
    <div *ngIf="!hasPositiveScores" style="text-align:center; font-size:14px; padding:20px;">
      This keyphrase is not at all similar to the concept(s) used in generating recommendations.
    </div>
  </div>
</p-overlayPanel>

    </div>
  </div>
</div>
