<p-toast position="bottom-left"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="relative contain bg-gray-100" *ngIf="selectedChannel?.materials">
  <div class="h-max m-0 flex flex-col bg-gray-100">
    <div class="flex items-start justify-between py-4 pl-3 bg-gray-200">
      <p
        id="{{ selectedChannel?._id }}"
        class="flex w-full text-xl font-semibold"
        #selectedCourse._id
      >
        {{ selectedChannel?.name }}
      </p>
    </div>
  </div>

  <p-tabView
    id="material-tabview"
    (onChange)="onTabChange($event)"
    (onClose)="deleteMaterial($event)"
    *ngIf="selectedChannel?.materials"
    [(activeIndex)]="tabIndex"
  >
    <!-- *ngIf="showModeratorPrivileges" -->
    <p-tabPanel>
      <ng-template pTemplate="header">
        <app-iconbutton
          icon="bxs-folder-plus"
          color="text-blue-500"
        ></app-iconbutton>
        <span>ADD MATERIAL</span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-add-material
          *ngIf="showModeratorPrivileges"
          [courseID]="selectedChannel?.courseId"
          [topicID]="selectedChannel?.topicId"
          [channelID]="selectedChannel?._id"
          [channelEmittd]="selectedChannel"
        >
        </app-add-material>
        <p *ngIf="!showModeratorPrivileges">
          Only course moderator can add material
        </p>
      </ng-template>
    </p-tabPanel>
    <ng-container *ngIf="this.materials.length > 0">
      <p-tabPanel
        *ngFor="let material of materials; let i = index"
        [closable]="false"
      >
        <ng-template pTemplate="header" *ngIf="material.type === 'pdf'">
          <div class="flex relative">
            <div
              [class.activity-indicator]="
                getMaterialActivityIndicator(material._id) | async
              "
            >
              <app-iconbutton
                icon="bxs-file-pdf"
                color="text-blue-500"
              ></app-iconbutton>
            </div>
            <!-- <div class="relative"> -->
            <!-- <span class="material-header">{{ material.name }}</span> -->
            <span *ngIf="selectedMaterial" class="mr-2">
              <span
                class="flex-grow"
                id="{{ material._id }}"
                (keydown)="onTextInserted(selectedMaterial._id, $event)"
                (keyup)="afterTextInserted(selectedMaterial._id, $event)"
                #selectedMaterial._id
              >
                <span *ngIf="!showFullMap[material._id]" class="material-name">
                  {{ truncateText(material.name, 2) }}
                </span>
                <span
                  *ngIf="showFullMap[material._id]"
                  class="material-full-name"
                >
                  {{ material.name }}
                </span>
              </span>
              <span
                class="collapse-arrow"
                *ngIf="material.name.split(' ').length > 2"
                (click)="toggleFullMaterialName(material._id, $event)"
              >
                <i
                  pTooltip="Long press on the arrow to Expand/Collapse Material Name"
                  class="pi"
                  [ngClass]="
                    showFullMap[material._id] ? 'pi-angle-up' : 'pi-angle-down'
                  "
                ></i>
              </span>
            </span>

            <span *ngIf="!selectedMaterial" class="mr-2">
              <span class="flex-grow">
                <span *ngIf="!showFullMap[material._id]" class="material-name">
                  {{ truncateText(material.name, 2) }}
                </span>
                <span
                  *ngIf="showFullMap[material._id]"
                  class="material-full-name"
                >
                  {{ material.name }}
                </span>
              </span>
              <span
                class="collapse-arrow"
                *ngIf="material.name.split(' ').length > 2"
                (click)="toggleFullMaterialName(material._id, $event)"
              >
                <i
                  pTooltip="Long press on the arrow to Expand/Collapse Material Name"
                  class="pi"
                  [ngClass]="
                    showFullMap[material._id] ? 'pi-angle-up' : 'pi-angle-down'
                  "
                ></i>
              </span>
            </span>

            <!--  </div> -->
            <!--   <span
              class="bg-orange-600 text-[white] text-base p-[0.1rem] w-[1.5rem] text-center rounded-[15px] font-semibold text-[0.8rem]"
              *ngIf="getNumUnreadNotificationsForMaterial(material._id) | async"
              >{{
                getNumUnreadNotificationsForMaterial(material._id) | async
              }}</span
            > -->
            <app-iconbutton
              style="z-index: 10; padding: 0"
              icon="bx-network-chart"
              color="text-orange-500"
              (click)="
                selectedMaterial = material; onConceptMapButtonClicked(true)
              "
              pTooltip="View material knowledge graph"
            ></app-iconbutton>
          </div>
          <p-overlayPanel #materialMenu styleClass="settingsContextMenu">
            <ng-template pTemplate="content">
              <app-context-menu
                [showModeratorPrivileges]="showModeratorPrivileges"
                [checkBoxesGroup]="materialCheckBoxesGroup"
                [checkBoxesArray]="materialCheckBoxesArray"
                [isResetButtonEnabled]="
                  isResetMaterialNotificationsButtonEnabled
                "
                resetTo="channel"
                (renameClicked)="onRenameMaterial()"
                (deleteClicked)="onDeleteMaterial()"
                (resetButtonClicked)="onResetMaterialNotificationsClicked()"
                (notificationSettingClicked)="
                  onMaterialNotificationSettingsClicked($event)
                "
                [MaterialSettingChosen]="true"
                (viewMaterialDashboardClicked)="viewMaterialDashboardClicked()"
              ></app-context-menu>
            </ng-template>
          </p-overlayPanel>
          <app-iconbutton
            style="z-index: 1"
            icon="bx-dots-vertical-rounded"
            color="text-blue-500"
            (click)="materialMenuButtonClicked($event, material)"
          ></app-iconbutton>
        </ng-template>

        <ng-template pTemplate="header" *ngIf="material.type === 'video'">
          <div class="flex relative">
            <div
              [class.activity-indicator]="
                getMaterialActivityIndicator(material._id) | async
              "
            >
              <app-iconbutton
                icon="bxs-videos"
                color="text-blue-500"
              ></app-iconbutton>
            </div>
            <span *ngIf="selectedMaterial" class="mr-2">
              <span
                class="flex-grow"
                id="{{ material._id }}"
                (keydown)="onTextInserted(selectedMaterial._id, $event)"
                (keyup)="afterTextInserted(selectedMaterial._id, $event)"
                #selectedMaterial._id
              >
                <span *ngIf="!showFullMap[material._id]" class="material-name">
                  {{ truncateText(material.name, 2) }}
                </span>
                <span
                  *ngIf="showFullMap[material._id]"
                  class="material-full-name"
                >
                  {{ material.name }}
                </span>
              </span>
              <span
                class="collapse-arrow"
                *ngIf="material.name.split(' ').length > 2"
                (click)="toggleFullMaterialName(material._id, $event)"
              >
                <i
                  pTooltip="Long press on the arrow to Expand/Collapse Material Name"
                  class="pi"
                  [ngClass]="
                    showFullMap[material._id] ? 'pi-angle-up' : 'pi-angle-down'
                  "
                ></i>
              </span>
            </span>
            <span *ngIf="!selectedMaterial" class="mr-2">
              <span class="flex-grow">
                <span *ngIf="!showFullMap[material._id]" class="material-name">
                  {{ truncateText(material.name, 2) }}
                </span>
                <span
                  *ngIf="showFullMap[material._id]"
                  class="material-full-name"
                >
                  {{ material.name }}
                </span>
              </span>
              <span
                class="collapse-arrow"
                *ngIf="material.name.split(' ').length > 2"
                (click)="toggleFullMaterialName(selectedMaterial._id, $event)"
              >
                <i
                  pTooltip="Long press on the arrow to Expand/Collapse Material Name"
                  class="pi"
                  [ngClass]="
                    showFullMap[material._id] ? 'pi-angle-up' : 'pi-angle-down'
                  "
                ></i>
              </span>
            </span>
          </div>
          <!--  <span
            class="bg-orange-600 text-[white] text-base p-[0.1rem] w-[1.5rem] text-center rounded-[15px] font-semibold text-[0.8rem]"
            *ngIf="getNumUnreadNotificationsForMaterial(material._id) | async"
            >{{
              getNumUnreadNotificationsForMaterial(material._id) | async
            }}</span
          > -->
          <p-overlayPanel #materialMenu styleClass="settingsContextMenu">
            <ng-template pTemplate="content">
              <app-context-menu
                [showModeratorPrivileges]="showModeratorPrivileges"
                [checkBoxesGroup]="materialCheckBoxesGroup"
                [checkBoxesArray]="materialCheckBoxesArray"
                [isResetButtonEnabled]="
                  isResetMaterialNotificationsButtonEnabled
                "
                resetTo="channel"
                (renameClicked)="onRenameMaterial()"
                (deleteClicked)="onDeleteMaterial()"
                (resetButtonClicked)="onResetMaterialNotificationsClicked()"
                (notificationSettingClicked)="
                  onMaterialNotificationSettingsClicked($event)
                "
              ></app-context-menu>
            </ng-template>
          </p-overlayPanel>
          <app-iconbutton
            style="z-index: 1"
            icon="bx-dots-vertical-rounded"
            color="text-blue-500"
            (click)="materialMenuButtonClicked($event, material)"
          ></app-iconbutton>
        </ng-template>
      </p-tabPanel>

      <router-outlet name="material"></router-outlet>
    </ng-container>
  </p-tabView>
</div>

<ng-container>
  <!-- <app-concept-map #conceptMap [material]="selectedMaterial">
  </app-concept-map> -->
  <!-- (loading)="passLoadingStatus($event)" -->
</ng-container>
