<div class="card">
  <h2 style="font-size: 20px; font-family: Roboto">Content</h2>
  <div
    *ngFor="let annotation of annotationsWithInitials"
    class="flex flex-col flex-wrap"
  >
    <p-divider align="left"></p-divider>
    <div class="inline-flex align-items-center flex-row flex-wrap space-x-2">
      <p-avatar
        label="{{ annotation.initials }}"
        shape="circle"
        size="large"
        [style]="{ 'background-color': '#0277BD', color: '#ffffff' }"
      ></p-avatar>
      <app-iconbutton icon="bxs-user" color="text-grey-200"></app-iconbutton>
      <b style="margin-right: 10px">{{ annotation.author.name }}</b>
      <h1>{{ annotation.elapsedTime }}</h1>
    </div>
    <div class="mb-6 mt-6">
      <p style="font-size: 20px; font-family: Roboto">
        {{ annotation.content }}
      </p>
    </div>
    <div class="flex flex-row flex-wrap space-x-3">
      <app-iconbutton icon="bx-like" color="text-grey-600"></app-iconbutton>
      <app-iconbutton icon="bx-dislike" color="text-grey-600"></app-iconbutton>
      <app-button
        variant="contained"
        label="Show Annotation On Material"
        icon="bx-highlight"
      ></app-button>
    </div>

    <p-divider align="left"></p-divider>
  </div>
</div>
