<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<div
  class="card my-5 p-2 rounded-lg"
  [ngStyle]="{ border: '2px solid' + annotationColor }"
  [id]="'annotation-' + annotation._id"
>
  <div class="flex flex-col flex-wrap space-y-2">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row justify-start space-x-2">
        <p-avatar
          label="{{ annotationInitials }}"
          shape="circle"
          size="large"
          [style]="{ 'background-color': '#0277BD', color: '#ffffff' }"
        ></p-avatar>
        <app-iconbutton
        *ngIf="annotation?.author?.role?.name === Roles.User"
          icon="bxs-user"
          color="text-grey-200"
          class="mt-3"
        ></app-iconbutton>
        <app-iconbutton
        *ngIf="annotation?.author?.role?.name === Roles.Moderator || annotation?.author?.role?.name === Roles.Admin"
        icon="bxs-graduation"
        color="text-grey-200"
        class="mt-3"
      ></app-iconbutton>
        <b class="mt-4 text-base">{{ annotation?.author?.name }}</b>
        <h1 class="mt-5 text-xs">{{ annotationElapsedTime }}</h1>
      </div>

      <div class="flex justify-end mt-3">
        <h1
        class="mt-2 mr-2 text-xs cursor-pointer hover:underline hover:text-blue-600"
        *ngIf="selectedMaterial?.type === 'pdf' && (showAllPDFAnnotations$ | async)"
        (click)="showAnnotationOnMaterial()"
      >
        Page {{ PDFAnnotationLocation[0] }}-{{ PDFAnnotationLocation[1] }}
      </h1>
        <h1
        class="mt-2 mr-2 text-xs cursor-pointer hover:underline hover:text-blue-600"
        *ngIf="selectedMaterial?.type === 'video'"
        (click)="showAnnotationOnMaterial()"
      >
      {{ printTime(VideoAnnotationLocation[0]) }} - {{ printTime(VideoAnnotationLocation[1]) }}
      </h1>
      <div *ngIf="this.loggedInUser?.id == this.annotation?.author?.userId">
        <p-menu
          #menu
          id="config_menu"
          [model]="annotationOptions"
          [popup]="true"
          appendTo="body"
        ></p-menu>
        <app-iconbutton
          icon="bx-dots-vertical-rounded"
          color="text-black"
          (click)="menu.toggle($event)"
        ></app-iconbutton>
      </div>
      </div>
    </div>
    <div class="mb-0 mt-0">
        <p style="font-family: Roboto" *ngIf="!isEditing" class="text-lg" [innerHTML]="linkifyText(annotation?.content)"></p>
      <div class="flex flex-row space-x-3 mx-7 my-3" *ngIf="isEditing">
        <input
          type="text"
          placeholder="Edit Annotation"
          [(ngModel)]="updatedAnnotation"
          class="p-inputtext-sm w-11/12 h-2/3"
          pInputText
        />
        <app-iconbutton
          icon="bxs-check-circle"
          color="text-slate-500"
          class="mt-3 flex-1 justify-end"
          (onClick)="dispatchUpdatedAnnotation()"
        ></app-iconbutton>
        <app-iconbutton
          icon="bxs-x-circle"
          color="text-slate-500"
          class="mt-3 flex-1 justify-end"
          (onClick)="cancelEditing()"
        ></app-iconbutton>
      </div>
    </div>
    <div class="flex flex-row flex-wrap space-x-3">
      <app-button
        *ngIf="!blueLikeButtonEnabled"
        icon="bx-like"
        color="text-grey-600"
        label="{{ likesCount }}"
        (onClick)="likeAnnotation()"
      ></app-button>
      <app-button
        *ngIf="blueLikeButtonEnabled"
        icon="bxs-like"
        color="text-blue-600"
        class="text-blue-600"
        label="{{ likesCount }}"
        (onClick)="likeAnnotation()"
      ></app-button>
      <app-button
        *ngIf="!blueDislikeButtonEnabled"
        icon="bx-dislike"
        color="text-grey-600"
        label="{{ dislikesCount }}"
        (onClick)="dislikeAnnotation()"
      ></app-button>
      <app-button
        *ngIf="blueDislikeButtonEnabled"
        icon="bxs-dislike"
        color="text-grey-600"
        class="text-blue-600"
        label="{{ dislikesCount }}"
        (onClick)="dislikeAnnotation()"
      ></app-button>
      <app-button
        *ngIf="showAnnotationInMaterial"
        variant="contained"
        label="Show Annotation On Material"
        class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline"
        icon="bx-highlight"
        (onClick)="showAnnotationOnMaterial()"
      ></app-button>
    </div>
    <div class="flex flex-col">
      <app-pdf-reply-panel [annotation]="annotation"></app-pdf-reply-panel>
      <div class="flex flex-row space-x-3 mx-7 my-2">
        <input
          type="text"
          placeholder="Reply"
          [(ngModel)]="replyContent"
          (ngModelChange)="onReplyContentChange()"
          class="p-inputtext-sm w-11/12 h-2/3"
          (keyup.enter)="sendReply()"
          pInputText
        />
        <app-iconbutton
          icon="bx-send"
          color="text-slate-500"
          class="mt-3 flex-1 justify-end"
          (onClick)="sendReply()"
          [disabled]="sendButtonDisabled"
        ></app-iconbutton>
      </div>
    </div>
  </div>
</div>
