#addIndicatorButton {
    height: 70%;
}

input.ng-invalid{
    border: red 1px solid;
}

.resizer { display:flex; margin:0; padding:0; resize:both; overflow:hidden }
.resizer > .resized { flex-grow:1; margin:0; padding:0; border:0 }

:host ::ng-deep .p-toast {
    width: 23%;
    font-size: 15px;
  }
  :host ::ng-deep .p-toast-icon {
    font-size: 15px;
  }
  