<p-toast position="bottom-left"></p-toast>
<p-confirmDialog [style]="{ width: '30vw' }"></p-confirmDialog>

<div class="m-10" *ngIf="selectedCourse?._id">
  <div *ngIf="hasPrivileges">

    <p class="mb-2 text-lg font-semibold">Add new Indicator:</p>
    <form
      id="indicatorForm"
      [formGroup]="indicatorForm"
      (ngSubmit)="onAddIndicator()"
    >
      <div class="flex flex-row">
        <div class="mt-2">
          <span class="p-float-label">
            <textarea
              id="float-input"
              cols="100"
              rows="1"
              pInputTextarea
              formControlName="indicatorIframe"
              #iframeTextarea
            ></textarea>
            <label for="float-input">paste the iframe</label>
            <small
              *ngIf="indicatorIframe.invalid && indicatorIframe.dirty"
              class="p-error block"
              >Invalid Input: Please check your iframe code.</small
            >
          </span>
        </div>
        <div class="mt-2 ml-2">
          <button
            type="submit"
            id="addIndicatorButton"
            pButton
            icon="pi pi-check"
            label="Add to Dashboard"
            pTooltip="Add new Indicator"
            [disabled]="indicatorIframe.invalid"
          ></button>
        </div>
      </div>
    </form>
  </div>
  <div
  class="mt-5 mb-10 cursor-pointer overscroll-y-auto h-1/2 flex flex-wrap gap-10"
    dragula="INDICATORS"
    [(dragulaModel)]="indicators"
    (dragulaModelChange)="(indicators)"
  >
    <div
      class="flex flex-column"
      *ngFor="let indicator of indicators; let i = index"
    >
      <div
        class="mr-3 resizer"
        style="border-radius: 12px; box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.10);"
        border-radius="7px"
        (mouseup)="onUpdateIndicator($event, indicator)"
      >
        <iframe
          [src]="indicator.src | byPassUrlSanitization"
          width="{{ indicator.width }}"
          height="{{ indicator.height }}"
          class="resized mt-4 mb-4 ml-4 mr-4"
        ></iframe>
      </div>
      <div class="flex flex-col gap-0.5">
        <div>
          <button
            pButton
            type="button"
            icon="pi pi-times"
            iconPos="left"
            class="p-button  p-button-raised p-button-danger"
            pTooltip="Delete Indicator"
            (click)="onDeleteIndicator(indicator)"
          ></button>
        </div>
        <div>
          <button
            pButton
            type="button"
            icon="bx bx-move"
            iconPos="left"
            class="p-button  p-button-raised"
            pTooltip="Change Order"
            id="dragger"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!hasPrivileges && indicators.length === 0">
  <div class="flex flex-col w-full items-center mt-6">
    <div><p class="text-5xl leading-normal">There are no visualizations available in this course.</p></div>
    <div>
      <p class="text-3xl leading-normal">Please wait for the course moderator to create some.</p>
    </div>
</div>

