<p-toast position="bottom-left"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" ></p-confirmDialog>

<div class="ml-4 mt-4" *ngIf="selectedCourse?._id">
  <div>
    <p class="mb-2 text-lg font-semibold">Add new Indicator:</p>
    <form id="indicatorForm" [formGroup]="indicatorForm">
      <div class="flex flex-row">
        <div class="mt-2">
          <span class="p-float-label">
            <textarea
              id="float-input"
              cols="100"
              rows="1"
              pInputTextarea
              formControlName="indicatorIframe"
              #iframeTextarea
            ></textarea>
            <label for="float-input">paste the iframe</label>
            <small
              *ngIf="indicatorForm?.get('indicatorIframe').invalid"
              class="p-error block"
              >Invalid Input: Please check your iframe code.</small
            >
          </span>
        </div>
        <div class="mt-2 ml-2">
          <button
            id="addIndicatorButton"
            pButton
            icon="pi pi-check"
            (click)="onAddIndicator()"
            label="Add to Dashboard"
            pTooltip="Add new Indicator"
            [disabled]="
              indicatorForm?.get('indicatorIframe').invalid ||
              iframeTextarea.value.length <= 0
            "
          ></button>
        </div>
      </div>
    </form>
  </div>
  <div dragula="INDICATORS" [(dragulaModel)]="indicators">
    <div
      class="flex flex-row mt-3 mb-3"
      *ngFor="let indicator of indicators; let i = index"
    >
      <div
        class="mr-3 resizer border-2 border-black border-solid"
        (mouseup)="onUpdateIndicator($event, indicator)"
      >
        <iframe
          [src]="indicator.src | byPassUrlSanitization"
          width="{{ indicator.width }}"
          height="{{ indicator.height }}"
          class="resized mt-4 mb-4 ml-4 mr-4"
        ></iframe>
      </div>
      <div>
        <div>
          <button
          pButton
          type="button"
          icon="pi pi-times-circle"
          iconPos="left"
          class="p-button-rounded"
          pTooltip="Delete Indicator"
          (click)="onDeleteIndicator(indicator)"
        ></button>
        </div>
        <div>
          <button
        pButton
        type="button"
        icon="bx bx-move"
        iconPos="left"
        class="p-button-rounded"
        pTooltip="Change Order"
        id="dragger"
      ></button>
        </div>
      </div>
    </div>
  </div>
</div>
