app-notification-dashboard {
  position: absolute;
  top: 20%;
  right: 10%;
}

app-annotation-comment-list {
  top: 40%;
  left: 50%;
  margin: auto;
  margin-top: 5rem;
  /* margin-left: 15%; */
}
app-annotation-comment-panel {
}
