app-notification-dashboard {
  position: absolute;
  top: 20%;
  right: 10%;
}

app-annotation-comment-list {
  left: 40%;
  margin-top: 15rem;
  position: absolute;
  /* margin-left: 15%; */
}
app-annotation-comment-panel {
}
