version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  target-branch: "dev"
  schedule:
    interval: "weekly"

- package-ecosystem: "docker"
  directory: "/proxy"
  target-branch: "dev"
  schedule:
    interval: "weekly"
  labels:
  - "dependencies"
  - "docker"
  - "proxy"

- package-ecosystem: "docker"
  directory: "/webapp"
  target-branch: "dev"
  schedule:
    interval: "weekly"
  ignore:
  - dependency-name: "node"
    versions: ["21-slim", "21.x-slim", "23-slim", "23.x-slim", "25-slim", "25.x-slim"]
  labels:
  - "dependencies"
  - "docker"
  - "webapp"

- package-ecosystem: "docker"
  directory: "/webserver"
  target-branch: "dev"
  schedule:
    interval: "weekly"
  ignore:
  - dependency-name: "node"
    versions: ["21-slim", "21.x-slim", "23-slim", "23.x-slim", "25-slim", "25.x-slim"]
  labels:
  - "dependencies"
  - "docker"
  - "webserver"

- package-ecosystem: "npm"
  directory: "/webapp"
  target-branch: "dev"
  schedule:
    interval: "daily"
  open-pull-requests-limit: 10
  labels:
  - "dependencies"
  - "javascript"
  - "webapp"
  groups:
    angular:
      patterns:
      - "@angular/*"
      - "@angular-devkit/*"
      - "@ngrx/*"
      - "primeng"

- package-ecosystem: "npm"
  directory: "/webserver"
  target-branch: "dev"
  schedule:
    interval: "daily"
  open-pull-requests-limit: 10
  labels:
  - "dependencies"
  - "javascript"
  - "webserver"

- package-ecosystem: "python"
  directory: "/coursemapper-kg"
  target-branch: "dev"
  schedule:
    interval: "daily"
  open-pull-requests-limit: 10
  labels:
  - "dependencies"
  - "python"
  - "coursemapper-kg"
