<div *ngIf="selectedChannel && tagsForChannel">
    <p-divider align="center"></p-divider>
    <div class="mb-3">
      <p class="text-xl italic font-semibold justify-center">
        Tags for {{ selectedChannel?.name }}
      </p>
    </div>
    <div class="flex flex-row flex-wrap" >
      <span
        class="bg-[#0277BD] text-[#FFFFFF] text-sm px-[0.5rem] py-[0.25rem] m-2 border-black rounded-lg border-2 border-double uppercase hover:underline break-all font-bold"
        *ngFor="let tag of tagsForChannel">{{tag?.name}}</span
      >
    </div>
    <p-divider align="center"></p-divider>
  </div>
