apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: coursemapper-webserver-

vars:
- fieldref: {}
  name: MONGODB_SERVICE
  objref:
    apiVersion: v1
    kind: Service
    name: mongodb
labels:
- includeSelectors: true
  pairs:
    app: coursemapper-webserver

secretGenerator:
- name: webserver
  literals:
  - COOKIE_SECRET=secret
  - JWT_SECRET=secret
  - PASS=adminpassword

resources:
- webapp/deployment.yaml
- webapp/service.yaml
- webserver/deployment.yaml
- webserver/service.yaml
- webserver/pvc.yaml
- mongodb/deployment.yaml
- mongodb/service.yaml
- mongodb/pvc.yaml
