<div class="w-full items-center p-5">
  <div *ngIf="loading && !isBlocked" class="loading-spinner">
    Loading course details...
  </div>

  <p-messages
    *ngIf="isBlocked"
    [value]="[
      {
        severity: 'info',
        detail: 'You have been blocked from accessing this course'
      }
    ]"
    [enableService]="false"
    [closable]="false"
  />

  <div *ngIf="!loading">
    <div class="flex justify-between items-center mr-2">
      <div>
       
      </div>

      <p
        *ngIf="course.role === 'teacher' || user?.role?.name === 'admin'"
        class="common-text-style  mb-4"
        (click)="onManageRoles()"
      >    <i class="pi pi-cog"></i>
        Manage Permissions
      </p>
    </div>
    <nav class="flex space-x-4 border-b">
      <!-- <p-tabView>
        <p-tabPanel [header]="viewOnly ? 'All Members' : 'Members'"> -->
      <app-member-table
        style="width: 100%"
        [course]="course"
        [viewOnly]="viewOnly"
      ></app-member-table>
      <!-- </p-tabPanel> -->

      <!-- <p-tabPanel header="Permissions" *ngIf="course.role === 'teacher'">
          <app-permissions></app-permissions>
        </p-tabPanel>
      </p-tabView> -->
    </nav>
  </div>
</div>
