<p-toast></p-toast>

<p-dialog header="Create New Course" [(visible)]="displayAddCourseDialogue" [modal]="true" [draggable]="false" [closable]="false">
    <form [formGroup]="createCourseForm">
        <div>
            <br>
            <span class="p-float-label">
                <input id="name" type="text" formControlName ="name" pInputText > 
                <label for="name">Name</label>
                <small *ngIf="createCourseForm.get('name').invalid" class="p-error block">Please fill the field</small>
            </span>
            <br>
            <span class="p-float-label">
                <input id="shortname" type="text" formControlName="shortname" pInputText > 
                <label for="shortname">Shortname</label>
            </span>
            <br>
            <span class="p-float-label">
                <input id="description" type="text" formControlName="description" pInputText > 
                <label for="description">Description</label>
            </span>
        </div>
        <br>
        <div >
            <button pButton icon="pi pi-check" (click)="onSubmit()" label="Submit" ></button>
            <button pButton  icon="pi pi-times" class="float-right" (click)="toggleAddCourseDialogue()" label="Cancel"></button>
        </div>
    </form>

</p-dialog>