<!-- main app container -->
<div class="mt-6 flex justify-center">
  <p class="text-xl font-bold">Reset Password</p>
</div>
<div class="w-full mt-6 flex justify-center grid justify-items-start">

  <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
    <div class="w-full mt-2">
        <div class="p-float-label">
          <p-password
            id="password"
            type="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="true"
          >
            <ng-template pTemplate="header">
              <h6>Create a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p class="mt-2">To create a strong password:</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>At least one lowercase letter</li>
                <li>At least one uppercase letter</li>
                <li>At least one numeric letter</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
          <label for="password">Password</label>
        </div>
        <div
          *ngIf="
            resetPassForm.controls['password'].invalid &&
            (resetPassForm.controls['password'].dirty ||
            resetPassForm.controls['password'].touched)
          "
        >
          <div *ngIf="resetPassForm.controls['password'].errors?.['required']">
            <span style="color: red"> Password is required </span>
          </div>
          <div *ngIf="resetPassForm.controls['password'].errors?.['minlength']">
            <span style="color: red"> Enter at at least 8 characters </span>
          </div>
          <div *ngIf="resetPassForm.controls['password'].errors?.['maxlength']">
            <span style="color: red">Enter at maximum 20 characters </span>
          </div>
        </div>
    </div>
    <div class="w-full mt-2">
        <div class="p-float-label">
          <p-password
            id="checkPassword"
            formControlName="checkPassword"
            [toggleMask]="true"
            [feedback]="false"
            p-password-meter
          ></p-password>
          <label for="checkPassword">Confirm Password</label>
        </div>

        <div
          *ngIf="
            resetPassForm.controls['checkPassword'].invalid &&
            (resetPassForm.controls['checkPassword'].dirty ||
            resetPassForm.controls['checkPassword'].touched)
          "
        >
          <div
            *ngIf="resetPassForm.controls['checkPassword'].errors?.['required']"
          >
            <span style="color: red">Password is required</span>
          </div>
          <div
            *ngIf="resetPassForm.controls['checkPassword'].errors?.['minlength']"
          >
            <span style="color: red"> Enter at least 8 characters </span>
          </div>
          <div
            *ngIf="resetPassForm.controls['checkPassword'].errors?.['maxlength']"
          >
            <span style="color: red"> Enter at maximum 20 characters </span>
          </div>
          <div
            *ngIf="resetPassForm.controls['checkPassword'].errors?.['confirmedValidator']"
          >
            <span style="color: red"> Passwords do not match </span>
          </div>
        </div>
      </div>

    <div class="w-full mt-2">
      <button
        pButton
        [ngStyle]="{ backgroundColor: '#EA580C' }"
        type="button"
        label="Reset Password"
        type="submit"
        [style]="{ width: '100%' }"
      ></button>
      <div style="color: red" *ngIf="isSignUpFailed">
        Sign Up unsuccessful<br />{{ errorMessage }}
      </div>
    </div>
  </form>
</div>
