<div class="sidebar-container">
  <app-sidebar></app-sidebar>
</div>

<div class="w-[1000px] flex justify-center mx-auto my-0 flex-col items-center">
  <p-tabMenu
    (activeItemChange)="onTabSwitched($event)"
    [model]="tabOptions"
    [activeItem]="activeItem"
  >
    <ng-template pTemplate="item" let-item let-i="index">
      <div style="position: relative">
        <span>
          {{ item.label }}
        </span>
      </div>
    </ng-template>
  </p-tabMenu>

  <div *ngIf="componentToShow === 'blocked-users'">
    <ng-container
      *ngIf="(blockingUsers$ | async).length > 0; else noBlockedUsers"
    >
      <div
        class="w-[500px] flex justify-between items-center mt-8 cursor-default pb-4 border-b-[#0000001c] border-b border-solid"
        *ngFor="let blockedUser of blockingUsers$ | async"
      >
        <span
          >{{ blockedUser.firstname }} {{ blockedUser.lastname }} ({{
            blockedUser.email
          }})</span
        >
        <p-button
          label="Unblock"
          styleClass="p-button-success"
          (click)="onUnBlockClicked($event, blockedUser)"
        ></p-button>
      </div>
    </ng-container>
    <ng-template #noBlockedUsers>
      <app-no-data [message]="'There are no blocked users'"></app-no-data>
    </ng-template>
  </div>

  <div *ngIf="componentToShow === 'notification-settings-panel'">
    <app-global-level-notification-settings></app-global-level-notification-settings>
  </div>
</div>
