<div class="filters">
  <!-- Rating filter -->
  <hr>
  <div style="display: flex; justify-content: space-between;">
    <label for="rating" style="align-self: flex-start;">Rating:</label>
    <div style="flex-grow: 1;">
    <select id="rating" [(ngModel)]="selectedRating" style="width: 100%;" (change)="emitFilterChange()">

      <option *ngFor="let rating of myRatings" [value]="rating">{{rating}} ></option>
      <option value="nothing">-------</option>

      <!-- Add more rating options as needed -->
    </select>
    </div>
  </div>
  <hr>

  <!-- Level filter -->
  <div style="display: flex; justify-content: space-between;">
    <label for="level" style="align-self: flex-start;">Level:</label>
    <div style="flex-grow: 1;">
    <select id="level" [(ngModel)]="selectedLevel" style="width: 100%;" (change)="emitFilterChange()">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <!-- Add more level options as needed -->
    </select>
    </div>
  </div>
  <hr>

  <!-- Language filter -->
  <div style="display: flex; justify-content: space-between;">
    <label for="language" style="align-self: flex-start;">Language:</label>
    <div style="flex-grow: 1;">
    <select id="language" [(ngModel)]="selectedLanguage" style="width: 100%;" (change)="emitFilterChange()">
      <option value="nothing">------</option>
      <option *ngFor="let language of selectLanguages" [value]="language">{{language}}</option>
    </select>
    </div>
  </div>
  <hr>

  <!-- Price filter -->
  <div style="display: flex; justify-content: space-between;">
    <label for="price" style="align-self: flex-start;">Price:</label>
    <div style="flex-grow: 1;">
      <select id="price" [(ngModel)]="selectedPrice" style="width: 100%;" (change)="emitFilterChange()" >
        <option value=0>-----</option>
        <option value="Low">Low</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Free">Free</option>

        <!-- Add more language options as needed -->
      </select>
    </div>
  </div>
  <hr>

  <!-- Add more filters as needed -->
</div>
