<!-- Topics -->
<p-toast position="bottom-left"></p-toast>

<p-confirmDialog></p-confirmDialog>

<div>
  <div
    class="flex flex-col items-center justify-start m-0 z-10"
    *ngFor="let topic of topics; let i = index"
  >
    <div
      class="m-0 w-full mx-2 pb-2 transition duration-300 ease-in-out"
      *ngIf="expandTopic.includes(topic._id)"
    >
      <div class="flex flex-row items-center justify-between mx-0 my-1.5">
        <div class="flex flex-row items-center grow justify-between pr-2">
          <div class="flex flex-row">
            <app-iconbutton
              icon="bx-chevron-down"
              color="text-black"
              (click)="selectedTopic = topic; onSelectTopic(topic)"
            ></app-iconbutton>
            <div
              id="{{ topic._id }}"
              class="text-lg font-semibold"
              (keydown)="onTextInsertedTopic(selectedTopic._id, $event)"
              (keyup)="afterTextInsertedTopic(selectedTopic._id, $event)"
              #{{topic._id}}
            >
              <!-- {{ topic.name }}  -->
              <span>{{ topic.name }} </span>
            </div>
          </div>
          <!--           <div class="bell-icon-container">
            <app-svg-icon
              [path]="'assets/cancel-bell-notification-icon.svg'"
              class="bell-icon"
            ></app-svg-icon>
          </div> -->
        </div>
        <p-overlayPanel #menu styleClass="topicContextMenu">
          <ng-template pTemplate="content">
            <div class="topic-context-menu-container">
              <p-button
                label="Rename"
                icon="pi pi-refresh"
                styleClass="contextMenuButton"
              ></p-button>
              <p-button
                label="Delete"
                icon="pi pi-times"
                styleClass="contextMenuButton"
              ></p-button>
              <p-divider align="center">
                <div class="inline-flex align-items-center">
                  <i class="pi pi-bell mr-2"></i>
                  <b>Notification Settings</b>
                </div>
              </p-divider>
              <div>
                <div
                  class="topic-context-menu-container"
                  [formGroup]="checkBoxesGroup"
                >
                  <p-button
                    styleClass="contextMenuButton"
                    *ngFor="let item of checkBoxesArray"
                    (click)="
                      onNotificationSettingsClicked($event, item.control, topic)
                    "
                  >
                    <div>
                      <p-checkbox
                        [formControlName]="item.label"
                        [binary]="true"
                      ></p-checkbox>
                      <span>{{ item.label }}</span>
                    </div>
                  </p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>
        <app-iconbutton
          #menuBtn
          *ngIf="showModeratorPrivileges"
          icon="bx-dots-vertical-rounded"
          color="text-black"
          (click)="threeDotMenuClicked($event, topic)"
        ></app-iconbutton>
      </div>

      <div
        *ngFor="let channel of topic.channels; let i = index"
        [attr.data-index]="i"
      >
        <div
          id="{{ channel._id }}-container"
          class="pl-7 py-1 hover:bg-white transition-all"
        >
          <div
            *ngIf="channel._id !== selectedChannelId"
            class="flex flex-row items-center justify-between"
          >
            <p
              id="{{ channel._id }}"
              (click)="onSelectChannel(channel)"
              (keydown)="onTextInsertedChannel(selectedChannel._id, $event)"
              (keyup)="afterTextInsertedChennel(selectedChannel._id, $event)"
              class="cursor-pointer w-full"
            >
              #{{ channel.name }}
            </p>
            <app-iconbutton
              *ngIf="showModeratorPrivileges"
              icon="bx-dots-vertical-rounded"
              color="text-black"
              (click)="selectedChannel = channel; menu.toggle($event)"
            ></app-iconbutton>
            <p-menu
              #menu
              id="config_menu"
              [model]="channelsOptions"
              [popup]="true"
              appendTo="body"
            ></p-menu>
          </div>
          <div
            *ngIf="channel._id === selectedChannelId"
            class="flex flex-row items-center justify-between bg-white"
          >
            <p
              id="{{ channel._id }}"
              (click)="onSelectChannel(channel)"
              (keydown)="onTextInsertedChannel(selectedChannel._id, $event)"
              (keyup)="afterTextInsertedChennel(selectedChannel._id, $event)"
              class="cursor-pointer w-full"
            >
              #{{ channel.name }}
            </p>
            <app-iconbutton
              *ngIf="showModeratorPrivileges"
              icon="bx-dots-vertical-rounded"
              color="text-black"
              (click)="selectedChannel = channel; menu.toggle($event)"
            ></app-iconbutton>
            <p-menu
              #menu
              id="config_menu"
              [model]="channelsOptions"
              [popup]="true"
              appendTo="body"
            ></p-menu>
          </div>
        </div>
      </div>

      <div
        class="pl-5 py-1 hover:bg-white transition-all"
        (click)="onAddNewChannelClicked(topic)"
        *ngIf="showModeratorPrivileges"
      >
        <div class="flex flex-row items-center">
          <app-iconbutton
            icon="bx-plus"
            color="text-black"
            (onClick)="showMenu()"
          ></app-iconbutton>
          <p class="cursor-pointer w-full italic font-semibold">Add channel</p>
        </div>
      </div>
    </div>

    <div
      class="m-0 w-full mx-2 pb-2 transition duration-300 ease-in-out"
      *ngIf="!expandTopic.includes(topic._id)"
    >
      <div class="flex flex-row items-center justify-between mx-0 my-1.5">
        <div class="flex flex-row items-center grow justify-between pr-2">
          <div class="flex flex-row">
            <app-iconbutton
              icon="bx-chevron-right"
              color="text-black"
              (click)="selectedTopic = topic; onSelectTopic(topic)"
            ></app-iconbutton>
            <div
              id="{{ topic._id }}"
              class="text-lg font-semibold"
              (keydown)="onTextInsertedTopic(selectedTopic._id, $event)"
              (keyup)="afterTextInsertedTopic(selectedTopic._id, $event)"
              #{{topic._id}}
            >
              <!-- {{ topic.name }}  -->
              <span>{{ topic.name }} </span>
            </div>
          </div>

          <!--           <div class="bell-icon-container">
            <app-svg-icon
              [path]="'assets/cancel-bell-notification-icon.svg'"
              class="bell-icon"
            ></app-svg-icon>
          </div> -->
        </div>
        <!--         <p-contextMenu
          #menu
          id="config_menu"
          [model]="topicOptions"
          appendTo="body"
          triggerEvent="click"
        ></p-contextMenu> -->
        <p-overlayPanel #menu styleClass="topicContextMenu">
          <ng-template pTemplate="content">
            <div class="topic-context-menu-container">
              <p-button
                label="Rename"
                icon="pi pi-refresh"
                styleClass="contextMenuButton"
              ></p-button>
              <p-button
                label="Delete"
                icon="pi pi-times"
                styleClass="contextMenuButton"
              ></p-button>
              <p-divider align="center">
                <div class="inline-flex align-items-center">
                  <i class="pi pi-bell mr-2"></i>
                  <b>Notification Settings</b>
                </div>
              </p-divider>
              <div>
                <div
                  class="topic-context-menu-container"
                  [formGroup]="checkBoxesGroup"
                >
                  <p-button
                    styleClass="contextMenuButton"
                    *ngFor="let item of checkBoxesArray"
                    (click)="
                      onNotificationSettingsClicked($event, item.control, topic)
                    "
                  >
                    <div>
                      <p-checkbox
                        [formControlName]="item.label"
                        [binary]="true"
                      ></p-checkbox>
                      <span>{{ item.label }}</span>
                    </div>
                  </p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>
        <app-iconbutton
          #menuBtn
          *ngIf="showModeratorPrivileges"
          icon="bx-dots-vertical-rounded"
          color="text-black"
          (click)="threeDotMenuClicked($event, topic)"
        ></app-iconbutton>
      </div>
    </div>
  </div>
</div>
<app-add-channel
  [displayAddChannelDialogue]="displayAddChannelDialogue"
  (onCloseAddChannelDialogue)="toggleAddNewChannelClicked($event)"
></app-add-channel>
