.confirm-button {
  background-color: lightblue;
  color: white;
}

:host ::ng-deep .p-badge {
  background-color: rgba(3, 105, 161, 255);
}

.active {
  background-color: white;
  font-weight: 600;
}
.channel-bold {
  font-weight: 600;
}
.has-visited {
  font-weight: normal;
}
