.container {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 70%;
  padding: 1rem;
  box-shadow: 5px 10px #e5e7eb;
  background-color: #f3f4f6;
}

h1 {
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  font-family: "lato";
  justify-content: center;
}

.context-menu {
  color: rgba(3, 105, 161, 255);
  float: right;
  top: -1.3rem;
  position: relative;
  right: 5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 4rem;
}
