<app-courses [hideContent]="true">
  <div class="container">
    <div class="top-container">
      <h1>Notification Settings</h1>
      <i
        class="pi pi-ellipsis-h context-menu"
        (click)="openContextMenu($event, op)"
        pTooltip="More"
      ></i>
    </div>
    <app-notification-filter-panel
      [notificationItems]="notificationItems"
    ></app-notification-filter-panel>
    <div class="button-container" *ngIf="!isSubscriptionsOpened">
      <button
        pButton
        type="button"
        label="See my course subscriptions"
        class="p-button-outlined"
        (click)="openSubscriptions()"
      ></button>
    </div>
    <app-course-subscriptions
      *ngIf="isSubscriptionsOpened"
      (closeSubscription)="handleCloseSubscription()"
    ></app-course-subscriptions>
    <app-notification-setting-item-panel
      [notificationItems]="notificationItems"
    ></app-notification-setting-item-panel>
  </div>
</app-courses>

<p-overlayPanel #op class="context" id="op">
  <ng-template pTemplate>
    <app-context-menu
      [topLevel]="true"
      [isSetting]="true"
      (onClick)="closeMenu(op)"
    ></app-context-menu>
  </ng-template>
</p-overlayPanel>
