<app-courses [hideContent]="true">
  <div class="container">
    <div class="top-container">
      <h2 class="h3">{{ type }}</h2>

      <div
        class="context-menu-container"
        (click)="openTopContextMenu($event, op)"
      >
        <i
          class="pi pi-cog setting-menu"
          (click)="navigateToSettings()"
          pTooltip="Settings"
        ></i>
        <i
          class="pi pi-ellipsis-h"
          style="
            text-align: center;
            color: rgba(3, 105, 161, 255);
            position: relative;
            margin: auto;
            justify-content: center;
          "
        ></i>
      </div>
    </div>

    <p-divider class="divider"></p-divider>

    <div class="item-container">
      <app-notification-box
        *ngIf="true"
        [notificationItems]="notificationItems"
      ></app-notification-box>
    </div>

    <div class="empty-container" *ngIf="notificationItems.length == 0">
      There is no content in it.
    </div>
  </div>
</app-courses>

<p-overlayPanel #op class="context" id="op">
  <ng-template pTemplate>
    <app-context-menu
      [topLevel]="true"
      [isSetting]="true"
      (onClick)="closeMenu(op)"
    ></app-context-menu>
  </ng-template>
</p-overlayPanel>
