apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: webserver-neo4j

resources:
- deployment.yaml
- service.yaml
- pvc.yaml

vars:
- name: NEO4J_SERVICE
  objref:
    apiVersion: v1
    kind: Service
    name: neo4j
  fieldref: {}
