.textclass {
  /* height: 100px;
  border-style: solid;
  /* padding: 0.1rem; */
  margin: 0.8rem;
  border: solid black;
}

.container {
  text-align: center;
  width: 100%
}

.new1 {
  width: 25rem !important;
}

.subdiv {
  margin: 30px;
  width: 100%;
}

.validation_span {
  font-size: 11px;
  color: red;
  padding: 0px 10px 0px 0px;
}
