<p-menubar>
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <span class="tool-title">Annotation Tools:</span>
            <button pButton type="p-button-icon" icon="pi pi-pencil" class="p-button-text p-button-rounded" (click)="onHighlightButtonClicked()"></button>>
            <button pButton type="p-button-icon" icon="pi pi-palette" class="p-button-text p-button-rounded"></button>
            <button pButton type="p-button-icon" icon="pi pi-tag" class="p-button-text p-button-rounded"></button>
            <button pButton type="p-button-icon" icon="pi pi-eye-slash" class="p-button-text p-button-rounded"></button>
        
        </div>
        <span class="tool-divider"></span>
        <div class="p-toolbar-group-right">
            <span class="tool-title">PDF Tools:</span>
            <button pButton type="p-button-icon" icon="pi pi-bolt" class="p-button-text p-button-rounded"></button>
            <button pButton type="p-button-icon" icon="pi pi-search-plus" class="p-button-text p-button-rounded"></button>
            <button pButton type="p-button-icon" icon="pi pi-search-minus" class="p-button-text p-button-rounded"></button>
            <input type="text" pInputText placeholder="Search">
        </div>
    </p-toolbar>
</p-menubar>