services:
  coursemapper-kg-web:
    platform: linux/x86_64
    image: ${IMAGE_NAME_PREFIX:-socialcomputing/}coursemapper-webserver-coursemapper-kg:${IMAGE_TAG:-latest}
    build: .
    environment:
      NEO4J_URI: bolt://backend-5-studycompass-neo4j:7687
      NEO4J_PASSWORD: password
      NEO4J_USER: neo4j
      NEO4J_PW: password
    ports:
    - 8001:8001
    restart: always
    depends_on:
      coursemapper-kg-neo4j:
        condition: service_healthy

  coursemapper-kg-neo4j:
    image: neo4j:5.12.0
    environment:
      NEO4J_AUTH: neo4j/password
    volumes :
    - coursemapper-kg-neo4j-data:/data
    healthcheck:
      test: wget http://localhost:7474 || exit 1
    restart: always

volumes:
  coursemapper-kg-neo4j-data:
