[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfminer = "*"
flask = "==1.1.4"
werkzeug = "==0.16.1"
marshmallow = "*"
wikipedia = "*"
wikipedia-api = "==0.5.4"
pywikibot = "*"
mwparserfromhell = "*"
nltk = "*"
stanfordcorenlp = "*"
torch = "*"
transformers = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
sentence-transformers = "*"
neo4j = "==4.4.5"
sparqlwrapper = "*"
networkx = "*"
jinja2 = "*"
itsdangerous = "*"
youtube-transcript-api = "*"
google-api-python-client = "*"
tqdm = "*"
requests = "*"
scipy = "*"
protobuf = "*"
flask-cors = "*"
flask-restx = "*"
install = "*"
markupsafe = "==1.1.1"
flair = "*"
spacy = "*"
allennlp = "==0.9.0"
flask-restplus = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
