<p-toast position="bottom-left"></p-toast>

<p-dialog
  header="Create course"
  [(visible)]="displayAddCourseDialogue"
  [modal]="true"
  [draggable]="false"
  [closable]="false"
  [style]="{ maxWidth: '500px', width: '100%' }"
  (keydown)="preventEnterKey($event)"
>
  <form [formGroup]="createCourseForm" [style]="{ paddingTop: '8px' }">
    <span class="p-float-label">
      <input
        id="name"
        type="text"
        formControlName="name"
        pInputText
        [style]="{ width: '100%' }"
      />
      <label for="name"> Course name </label>
    </span>
    <div [style]="{ height: '24px' }">
      <small *ngIf="createCourseForm.get('name').invalid" class="p-error block"
        >Please give a course name</small
      >
    </div>

    <div class="p-float-label">
      <p-editor
        formControlName="description"
        [style]="{ height: '200px', width: '100%' }"
        [styleClass]="'expandable-editor'"
      >
        <p>(Optional) Course description</p>
      </p-editor>
    </div>

    <br />
    <div class="input">
      <label for="image-file-input">Select course display image:</label>
      <p-fileUpload
        mode="advanced"
        name="file"
        id="image-file-input"
        [customUpload]="true"
        [accept]="'.jpg,.jpeg,.png'"
        [showUploadButton]="false"
        [showCancelButton]="false"
        chooseLabel="Choose a file"
        chooseIcon="pi pi-paperclip"
        (onSelect)="onFileSelect($event)"
        (onRemove)="onFileRemove($event)"
        (onClear)="onFileRemove($event)"
        class="blue-button"
      ></p-fileUpload>

      <span *ngIf="!selectedFileName">No file chosen</span>
    </div>

    <div>
      <button
        pButton
        icon="pi pi-times"
        (click)="toggleAddCourseDialogue()"
        label="Cancel"
        class="p-button-outlined"
      ></button>

      <button
        id="addCourseConfirm"
        pButton
        icon="pi pi-check"
        class="float-right"
        (click)="onSubmit()"
        label="Confirm"
        [disabled]="createCourseForm.get('name').invalid"
      ></button>
    </div>
  </form>
</p-dialog>
