<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Course Name</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="courseName" placeholder="Enter a course " />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Short Name</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="shortcut" placeholder="Enter a shortcut for this course " />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">Description</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
      <textarea formControlName="description" nz-input rows="2" placeholder="write any thing"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-top: 10px">
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button (click)="resetForm($event)">Reset</button>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>