<!-- main app container -->
<div class="mt-6 flex justify-center" style="width: 90%;">
  <p class="text-xl font-bold">Forgot Password</p>
</div>
<div class="w-full mt-6 flex justify-center ">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <p class=" text-center text-black-500 " style="width: 80%;">
 Enter the email address you use in CourseMapper. We will send you a link to reset your password.
    </p>
    <div class="w-full mt-2">
      <div class="p-float-label">
        <input
          id="email"
          type="text"
          pInputText
          formControlName="email"
          [style]="{ width: '80%' }"
        />
        <label for="email">Email</label>
      </div>

      <div
        *ngIf="
          resetForm.controls['email'].invalid &&
          (resetForm.controls['email'].dirty ||
          resetForm.controls['email'].touched)
        "
      >
        <div *ngIf="resetForm.controls['email'].errors?.['required']">
          <span style="color: red"> Email is required </span>
        </div>
        <!-- <div *ngIf="validateForm.controls['email'].errors?.['email']">
              <span style="color: red;"> Invalid Email </span>
            </div> -->
        <div *ngIf="resetForm.controls['email'].errors?.['pattern']">
          <!-- <span style="color: red;">  Invalid Email </span> -->

          <span style="color: red"> Invalid Email format </span>
        </div>
      </div>
    </div>
    <div class="w-full mt-2 ">
        <button
        pButton
        [ngStyle]="{ backgroundColor: '#EA580C'}"
        type="button"
        label="Reset Password"
        type="submit"
        [style]="{width:'80%' }"
       ></button>
       <div style="color: red;" *ngIf="requestFailed">
        The request failed to send<br/>{{ errorMessage }}
      </div>
      </div>
    <div style="text-align: center; margin: 1rem ;width: 80%;">
      Back to <a [routerLink]="[login]" style="color: #0277bd"> Login</a><br />
    </div>
  </form>
</div>
