<app-tab-menu
  [tabOptions]="tabOptions"
  [activeItem]="activeItem"
  (onTabChange)="onTabSwitched($event)"
  [menuOptions]="menuOptions"
  #menu
>
</app-tab-menu>
<!-- <div class="p-8 pt-0">
  <ng-container *ngIf="notifications$ | async as notifications; else loading">
    <app-notification-box
      *ngFor="let notification of notifications"
      [notification]="notification"
      (click)="onNotificationClicked(notification)"
    >
    </app-notification-box>
  </ng-container>

  <ng-template #loading>
    <div>Loading.......</div>
  </ng-template>
</div>
 -->
<div>
  <ng-container *ngIf="loading$ | async; else notificationsArrived">
    Loading....
  </ng-container>

  <ng-template #notificationsArrived>
    <ng-container *ngIf="notifications$ | async as notifications">
      <ng-container *ngIf="notifications.length > 0; else noNotifications">
        <div class="flex flex-row justify-between m-4">
          <div>
            <p-checkbox
              [formControl]="masterCheckBox"
              class="mr-4"
              [binary]="true"
              checked
            ></p-checkbox>
            <app-switch-input
              [isUnreadChecked]="isUnreadChecked"
            ></app-switch-input>
            <span class="ml-4">Unread only</span>
          </div>
          <span
            routerLink="notification/all"
            class="text-blue-600 hover:underline cursor-pointer"
            >See all</span
          >
        </div>
        <ng-container [formGroup]="checkBoxesGroup">
          <ng-container *ngFor="let notification of notifications">
            <div
              [ngClass]="{
                'notification-read': notification.isRead,
                'notification-unread': !notification.isRead
              }"
            >
              <p-checkbox
                name="selectedNotificationGroup"
                [value]="notification"
                [formControlName]="notification._id"
                [binary]="true"
              ></p-checkbox>
              <app-notification-box
                [notification]="notification"
                (notificationClicked)="onNotificationClicked(notification)"
              ></app-notification-box>
              <!-- (click)="onNotificationClicked($event, notification)" -->
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #noNotifications> No notifications present </ng-template>
    </ng-container>
  </ng-template>
</div>
