

 .test{
  display: flex;
  padding-left: 1rem;
  width: 100%;
 }

 .test:hover{
  background-color: whitesmoke;
 }

 :host ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: #ea580c;
  background: #ea580c;
  color: #ffffff;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #0369a1;
  background: #0369a1;
}
