<div class="mt-6 flex justify-center">
    <p class="text-xl font-bold">Reset Password</p>

  </div>
  <div class="mt-6 flex justify-center">

    <p class="text-lg m-0">An email has been sent with a link to reset your password</p>
  </div>

  <div class="mt-6 flex justify-center">

    <p class="text-lg m-0">Haven't recieved email? <a (click)="resendLink()" class=" cursor-pointer" style="color: #0277bd"> Resend Email</a></p>
  </div>
  <div style="text-align: center; margin: 1rem">
    Back to <a [routerLink]="[login]" style="color: #0277bd"> Login</a><br />
  </div>

