<p-toast key="statusUpdated" position="bottom-left"></p-toast>

<div
  class="graphDiv"
  *ngIf="userKnowledgeGraph"
  style="position: relative; width: 100%; height: 100%"
  (window:resize)="onResize($event)"
>
  <div class="graphAbstract" style="width: 100%">
    <app-cytoscape-user-kg
      [elements]="conceptMapData"
      [selectedFilterValues]="selectedFilterValues"
      [topNConcepts]="topNConcepts"
      [filterUpdated]="filterUpdated"
      (selectedNodeEvent)="nodeChange($event)"
      [cyHeight]="cyHeight"
      [showUserKg]="showUserKg"
      [isDraft]="isDraft"
      (editConcept)="editConcept.emit($event)"
      (conceptDeleted)="conceptDeleted.emit($event)"
      (conceptDeletedBulk)="conceptDeletedBulk.emit($event)"
      [showDNU]="showDNU"
      [showU]="showU"
    >
    </app-cytoscape-user-kg>
    <!-- [showConceptAbstract]="showConceptAbstract" -->
  </div>
  <div
    *ngIf="node_name && node_type !== 'user'"
    class="abstractBlock"
    id="abstractBlockContainer"
    style="
      position: absolute;
      right: 0;
      top: 0;
      width: 35%;
      height: 100%;
      background-color: white;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      overflow-y: auto;
    "
  >
    <div
      class="innerAbstractBlock"
      style="display: inline-block; max-height: 75.5%"
    >
      <i
        id="abstractCloseButton"
        style="
          position: relative;
          float: right;
          margin-right: 0.5rem;
          margin-top: 0.5rem;
        "
        (click)="closeAbstractPanel()"
        type="button"
        class="pi pi-times"
      ></i>
      <div style="display: inline-block; margin: 2px">
        <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 ml-5">
          {{ node_name }}
        </h2>
      </div>
      <hr style="margin: 0 5px; padding: 0; width: 95%" />
      <div *ngIf="node_abstract">
        <div style="display: inline-block; margin: 2px">
          <div>
            <span id="abstractSpan" class="abstractParagraph">
              {{ node_abstract }} ...
              <a
                class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
                id="clampedAnchorTag"
                *ngIf="node_wikipedia"
                href="javascript:void(0);"
                (click)="goToWikipediaPage(node_wikipedia)"
                >Read full article on wikipedia
                <i id="clampedAnchorTagIcon" class="pi pi-link"></i></a
            ></span>
            <a
              *ngIf="node_wikipedia && clamped"
              class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
              href="javascript:void(0);"
              (click)="goToWikipediaPage(node_wikipedia)"
              style="margin-left: 5px; margin-top: 0; margin-bottom: 2px"
              >Read full article on wikipedia <i class="pi pi-link"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        *ngIf="node_abstract == '' && node_wikipedia"
        style="display: inline-block; margin: 2px"
      >
        <div style="display: inline-block; margin: 2px">
          <div class="abstractParagraph">
            No abstract available ...
            <a
              class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
              *ngIf="node_wikipedia"
              href="javascript:void(0);"
              (click)="goToWikipediaPage(node_wikipedia)"
              >Read full article on wikipedia<i class="pi pi-link"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="URIBUTTON"
        style="text-align: center; margin-bottom: 7px; margin-top: 5px"
      >
        <button
          *ngIf="node_type === 'main_concept'"
          pButton
          id="abstractButtons"
          type="button"
          label="TAKE ME TO SLIDE"
          class="p-button-outlined p-button-sm"
          (click)="slideRedirect()"
          icon="pi pi-arrow-up-right"
          style="margin-bottom: 7px; margin-right: 7px"
        ></button>
      </div>
    </div>
  </div>
</div>

<div
  class="graphDiv"
  *ngIf="engagementKnowledgeGraph"
  style="position: relative; width: 100%; height: 100%"
  (window:resize)="onResize($event)"
>
  <div class="graphAbstract" style="width: 100%">
    <app-cytoscape-user-kg
      [elements]="conceptMapData"
      [selectedFilterValues]="selectedFilterValues"
      [topNConcepts]="topNConcepts"
      [filterUpdated]="filterUpdated"
      (selectedNodeEvent)="nodeChange($event)"
      [cyHeight]="cyHeight"
      [showEngagementKg]="showEngagementKg"
      [isDraft]="isDraft"
      (editConcept)="editConcept.emit($event)"
      (conceptDeleted)="conceptDeleted.emit($event)"
      (conceptDeletedBulk)="conceptDeletedBulk.emit($event)"
    >
    </app-cytoscape-user-kg>
    <!-- [showConceptAbstract]="showConceptAbstract" -->
  </div>
  <div
    *ngIf="node_name && node_type !== 'user'"
    class="abstractBlock"
    id="abstractBlockContainer"
    style="
      position: absolute;
      right: 0;
      top: 0;
      width: 35%;
      height: 100%;
      background-color: white;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      overflow-y: auto;
    "
  >
    <div
      class="innerAbstractBlock"
      style="display: inline-block; max-height: 75.5%"
    >
      <i
        id="abstractCloseButton"
        style="
          position: relative;
          float: right;
          margin-right: 0.5rem;
          margin-top: 0.5rem;
        "
        (click)="closeAbstractPanel()"
        type="button"
        class="pi pi-times"
      ></i>
      <div style="display: inline-block; margin: 2px">
        <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 ml-5">
          {{ node_name }}
        </h2>
      </div>
      <hr style="margin: 0 5px; padding: 0; width: 95%" />
      <div *ngIf="node_abstract">
        <div style="display: inline-block; margin: 2px">
          <div>
            <span id="abstractSpan" class="abstractParagraph">
              {{ node_level }} ...
              <a
                class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
                id="clampedAnchorTag"
                *ngIf="node_wikipedia"
                href="javascript:void(0);"
                (click)="goToWikipediaPage(node_wikipedia)"
                >Read full article on wikipedia
                <i id="clampedAnchorTagIcon" class="pi pi-link"></i></a
            ></span>
            <a
              *ngIf="node_wikipedia && clamped"
              class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
              href="javascript:void(0);"
              (click)="goToWikipediaPage(node_wikipedia)"
              style="margin-left: 5px; margin-top: 0; margin-bottom: 2px"
              >Read full article on wikipedia <i class="pi pi-link"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        *ngIf="node_abstract == '' && node_wikipedia"
        style="display: inline-block; margin: 2px"
      >
        <div style="display: inline-block; margin: 2px">
          <div class="abstractParagraph">
            No abstract available ...
            <a
              class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
              *ngIf="node_wikipedia"
              href="javascript:void(0);"
              (click)="goToWikipediaPage(node_wikipedia)"
              >Read full article on wikipedia<i class="pi pi-link"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="URIBUTTON"
        style="text-align: center; margin-bottom: 7px; margin-top: 5px"
      >
        <button
          pButton
          id="abstractButtons"
          type="button"
          label="TAKE ME TO COURSE"
          class="p-button-outlined p-button-sm"
          (click)="courseRedirect()"
          icon="pi pi-arrow-up-right"
          style="margin-bottom: 7px; margin-right: 7px"
        ></button>
      </div>
    </div>
  </div>
</div>

<div
  class="graphDiv"
  *ngIf="dnuengagementKnowledgeGraph"
  style="position: relative; width: 100%; height: 100%"
  (window:resize)="onResize($event)"
>
  <div class="graphAbstract" style="width: 100%">
    <app-cytoscape-user-kg
      [elements]="conceptMapData"
      [selectedFilterValues]="selectedFilterValues"
      [topNConcepts]="topNConcepts"
      [filterUpdated]="filterUpdated"
      (selectedNodeEvent)="nodeChange($event)"
      [cyHeight]="cyHeight"
      [showDNUEngagementKg]="showDNUEngagementKg"
      [isDraft]="isDraft"
      (editConcept)="editConcept.emit($event)"
      (conceptDeleted)="conceptDeleted.emit($event)"
      (conceptDeletedBulk)="conceptDeletedBulk.emit($event)"
      [showDNU]="showDNU"
      [showU]="showU"
    >
    </app-cytoscape-user-kg>
    <!-- [showConceptAbstract]="showConceptAbstract" -->
  </div>
  <div
    *ngIf="node_name && node_type !== 'user'"
    class="abstractBlock"
    id="abstractBlockContainer"
    style="
      position: absolute;
      right: 0;
      top: 0;
      width: 35%;
      height: 100%;
      background-color: white;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      overflow-y: auto;
    "
  >
    <div
      class="innerAbstractBlock"
      style="display: inline-block; max-height: 75.5%"
    >
      <i
        id="abstractCloseButton"
        style="
          position: relative;
          float: right;
          margin-right: 0.5rem;
          margin-top: 0.5rem;
        "
        (click)="closeAbstractPanel()"
        type="button"
        class="pi pi-times"
      ></i>
      <div style="display: inline-block; margin: 2px">
        <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 ml-5">
          {{ node_name }}
        </h2>
      </div>
      <hr style="margin: 0 5px; padding: 0; width: 95%" />
      <div *ngIf="node_abstract">
        <div style="display: inline-block; margin: 2px">
          <div>
            <span id="abstractSpan" class="abstractParagraph">
              {{ node_abstract }} ...
              <a
                class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
                id="clampedAnchorTag"
                *ngIf="node_wikipedia"
                href="javascript:void(0);"
                (click)="goToWikipediaPage(node_wikipedia)"
                >Read full article on wikipedia
                <i id="clampedAnchorTagIcon" class="pi pi-link"></i></a
            ></span>
            <a
              *ngIf="node_wikipedia && clamped"
              class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
              href="javascript:void(0);"
              (click)="goToWikipediaPage(node_wikipedia)"
              style="margin-left: 5px; margin-top: 0; margin-bottom: 2px"
              >Read full article on wikipedia <i class="pi pi-link"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        *ngIf="node_abstract == '' && node_wikipedia"
        style="display: inline-block; margin: 2px"
      >
        <div style="display: inline-block; margin: 2px">
          <div class="abstractParagraph">
            No abstract available ...
            <a
              class="no-underline text-[#2196F3] hover: hover:underline mb-4 transition duration-300 ease-in-out"
              *ngIf="node_wikipedia"
              href="javascript:void(0);"
              (click)="goToWikipediaPage(node_wikipedia)"
              >Read full article on wikipedia<i class="pi pi-link"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="URIBUTTON"
        style="text-align: center; margin-bottom: 7px; margin-top: 5px"
      >
        <button
          *ngIf="node_type === 'main_concept'"
          pButton
          id="abstractButtons"
          type="button"
          label="TAKE ME TO SLIDE"
          class="p-button-outlined p-button-sm"
          (click)="slideRedirect()"
          icon="pi pi-arrow-up-right"
          style="margin-bottom: 7px; margin-right: 7px"
        ></button>
        <button
          *ngIf="node_type === 'Course'"
          pButton
          id="abstractButtons"
          type="button"
          label="TAKE ME TO COURSE"
          class="p-button-outlined p-button-sm"
          (click)="courseRedirect()"
          icon="pi pi-arrow-up-right"
          style="margin-bottom: 7px; margin-right: 7px"
        ></button>
      </div>
    </div>
  </div>
</div>
