<div class="container">
  <p-toolbar
    styleClass="toolbar"
    [hidden]="
      filteredType == 'annotations' || filteredType == 'mentionedandreplied'
    "
  >
    <div class="tab">
      <span>Course updates</span>
      <p-inputSwitch
        [(ngModel)]="courseUpdateChecked"
        class="toggle-button"
        (onChange)="toggleCourseUpdate($event, 'courseupdates')"
        [pTooltip]="
          courseUpdateChecked
            ? 'Turn off notifications'
            : 'Turn on notifications'
        "
      ></p-inputSwitch>
      <div class="clear" (click)="confirm($event, 'courseupdates')">
        <p-confirmPopup></p-confirmPopup>

        <a>Remove all</a>
      </div>
    </div>
  </p-toolbar>
  <div class="noti-container">
    <app-notification-box
      [hidden]="
        filteredType == 'annotations' || filteredType == 'mentionedandreplied'
      "
      [settingClass]="true"
      [notificationItems]="courseUpdateItems"
      [isSettingPanel]="true"
    ></app-notification-box>
    <!-- <span
      class="empty-content"
      *ngIf="
        filteredType == 'annotations' ||
        filteredType == 'mentionedandreplied' ||
        courseUpdateItems.length == 0
      "
      >There is no new notifications.</span
    > -->
  </div>
</div>
<p-toolbar
  styleClass="toolbar"
  [hidden]="filteredType == 'annotations' || filteredType == 'courseupdates'"
>
  <div class="tab">
    <span>Comments & mentioned</span>
    <p-inputSwitch
      [(ngModel)]="commentsAndMentionedChecked"
      class="toggle-button"
      (onChange)="toggleReplies($event, 'replies')"
      [pTooltip]="
        commentsAndMentionedChecked
          ? 'Turn off notifications'
          : 'Turn on notifications'
      "
    ></p-inputSwitch>
    <div class="clear" (click)="confirm($event, 'replies')">
      <p-confirmPopup></p-confirmPopup>

      <a>Remove all</a>
    </div>
  </div>
</p-toolbar>
<div class="noti-container">
  <app-notification-box
    [hidden]="filteredType == 'annotations' || filteredType == 'courseupdates'"
    [settingClass]="true"
    [notificationItems]="commentsMentionedItems"
    [isSettingPanel]="true"
  ></app-notification-box>
  <!-- <span
    class="empty-content"
    *ngIf="
      filteredType == 'annotations' ||
      filteredType == 'courseupdates' ||
      commentsMentionedItems.length == 0
    "
    >There is no new notifications.</span
  > -->
</div>

<p-toolbar
  styleClass="toolbar"
  [hidden]="
    filteredType == 'courseupdates' || filteredType == 'mentionedandreplied'
  "
>
  <div class="tab">
    <span>Annotations</span>
    <p-inputSwitch
      [(ngModel)]="annotationsChecked"
      class="toggle-button"
      (onChange)="toggleAnnotations($event, 'annotation')"
      [pTooltip]="
        annotationsChecked ? 'Turn off notifications' : 'Turn on notifications'
      "
    ></p-inputSwitch>
    <div class="clear" (click)="confirm($event, 'annotations')">
      <p-confirmPopup></p-confirmPopup>

      <a>Remove all</a>
    </div>
  </div>
</p-toolbar>

<div class="noti-container">
  <app-notification-box
    [hidden]="
      filteredType == 'courseupdates' || filteredType == 'mentionedandreplied'
    "
    [settingClass]="true"
    [notificationItems]="annotationsItems"
    [isSettingPanel]="true"
  ></app-notification-box>
  <!-- <span
    class="empty-content"
    *ngIf="
      filteredType == 'courseupdates' ||
      filteredType == 'mentionedandreplied' ||
      annotationsItems.length == 0
    "
    >There is no new notifications.</span
  > -->
</div>
