.tab {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.toggle-button {
  position: relative;
  display: flex;
}

::ng-deep .p-toolbar {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  background-color: #c4c4c4;
}

app-notification-box {
  display: block;
  padding-left: 0.4rem;
  padding-right: 1rem;
}

.empty-content {
  padding: 0.8rem;
  height: 200%;
  font-size: medium;
  color: #c4c4c4;
}

.clear {
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  color: rgba(3, 105, 161, 255);
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: rgba(3, 105, 161, 255);
}
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:hover {
  background: rgba(3, 105, 161, 255);
}
::ng-deep.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover
  .p-inputswitch-slider {
  background: rgba(3, 105, 161, 255);
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider::before {
  background: whitesmoke;
}

.noti-container {
  position: relative;
  top: -1rem;
}

::ng-deep .p-button.p-button-sm {
  font-size: 0.75rem;
  /* padding: 0.62475rem 0.875rem; */
  /* width: 2; */
  /* height: 35px; */
  height: 2rem;
}

::ng-deep.p-button.p-button-text {
  color: rgba(3, 105, 161, 255);
}
::ng-deep .p-button {
  background: rgba(3, 105, 161, 255);
}
::ng-deep .p-button:active {
  background: rgba(3, 105, 161, 255);
}
::ng-deep .p-button:enabled:hover {
  background: rgba(3, 105, 161, 255);
}
::ng-deep .p-button:enabled:focus {
  background: rgba(3, 105, 161, 255);
}

::ng-deep .p-button:enabled:active {
  background: rgba(3, 105, 161, 255);
}
