<div class="settings-context-menu-container">
  <p-button
    *ngIf="showModeratorPrivileges && canRename"
    label="Rename"
    icon="pi pi-refresh"
    styleClass="contextMenuButton"
    (onClick)="onRenameClicked()"
  ></p-button>
  <p-button
    *ngIf="topicSettingChosen"
    label="View topic dashboard"
    icon="pi pi-chart-bar"
    styleClass="contextMenuButton"
    (onClick)="onViewTopicDashboardClicked()"
  ></p-button>
  <p-button
    *ngIf="channelSettingChosen"
    label="View channel dashboard"
    icon="pi pi-chart-bar"
    styleClass="contextMenuButton"
    (onClick)="onViewChannelDashboardClicked()"
  ></p-button>
  <p-button
    *ngIf="MaterialSettingChosen"
    label="View material dashboard"
    icon="pi pi-chart-bar"
    styleClass="contextMenuButton"
    (onClick)="onViewMaterialDashboardClicked()"
  ></p-button>
  <p-button
    *ngIf="showModeratorPrivileges && canDelete"
    label="Delete"
    icon="pi pi-times"
    styleClass="contextMenuButton"
    (onClick)="onDeleteClicked()"
  ></p-button>
  <p-divider align="center">
    <div class="inline-flex align-items-center">
      <i class="pi pi-bell mr-2"></i>
      <b>Notification Settings</b>
    </div>
  </p-divider>
  <div>
    <div class="settings-context-menu-container" [formGroup]="checkBoxesGroup">
      <p-button
        styleClass="contextMenuButton"
        [disabled]="!isResetButtonEnabled"
        (onClick)="onResetButtonClicked()"
        icon="pi pi-undo"
        label="Reset to {{ resetTo }} level settings"
      >
        <!--         <div>
          <span>Reset to {{ resetTo }} level settings</span>
        </div> -->
      </p-button>
      <p-button
        styleClass="contextMenuButton"
        *ngFor="let item of checkBoxesArray"
        (click)="onSettingsClicked(item)"
      >
        <div>
          <p-checkbox
            [formControlName]="item.label"
            [binary]="true"
          ></p-checkbox>
          <span>{{ item.label }}</span>
        </div>
      </p-button>
    </div>
  </div>
</div>
