<div class="panel">
  <div class="container">
    <h1 class="headline">Notifications</h1>
    <p-badge [value]="courseNews" class="course-updates"></p-badge>
    <p-badge [value]="repliesNews" class="comments-mentioned"></p-badge>
    <p-badge [value]="annotationNews" class="annotations"></p-badge>
    <div class="menu">
      <p-tabMenu
        #menu
        [model]="notificationItems"
        [activeItem]="notificationItems[0]"
        [class.default]="notificationItems[0]"
      ></p-tabMenu>
      <div class="right-control">
        <i
          class="pi pi-cog setting-menu"
          (click)="navigateToSettings()"
          pTooltip="Settings"
        ></i>
        <div
          class="context-menu-container"
          (click)="openTopContextMenu($event, op)"
        >
          <i
            class="pi pi-ellipsis-h"
            style="
              text-align: center;
              color: rgba(3, 105, 161, 255);
              position: relative;
              margin: auto;
              justify-content: center;
            "
          ></i>
        </div>
      </div>
    </div>
  </div>

  <div class="notification-container">
    <span class="empty-content" *ngIf="notificationLists?.length == 0"
      >There is no new notifications.</span
    >
    <app-notification-box
      [notificationItems]="notificationLists"
    ></app-notification-box>
    <div class="see-more" *ngIf="seeMore">
      <a routerLinkActive="active" (click)="seeAll()"> View more</a>
    </div>
  </div>

  <p-overlayPanel #op class="context" id="op">
    <ng-template pTemplate>
      <app-context-menu
        [topLevel]="true"
        (onClick)="closeMenu(op)"
      ></app-context-menu>
    </ng-template>
  </p-overlayPanel>
</div>
