<div class="panel">
  <div class="container">
    <h1 class="headline">Notifications</h1>
    <p-badge [value]="courseNews" class="course-updates"></p-badge>
    <p-badge [value]="repliesNews" class="comments-mentioned"></p-badge>
    <p-badge [value]="annotationNews" class="annotations"></p-badge>
    <div class="menu">
      <p-tabMenu
        [model]="notificationItems"
        [activeItem]="activeItem"
      ></p-tabMenu>
      <div class="right-control">
        <div
          class="context-menu-container"
          (click)="openTopContextMenu($event, op)"
        >
          <i
            class="pi pi-ellipsis-h"
            style="
              text-align: center;
              color: rgba(3, 105, 161, 255);
              position: relative;
              margin: auto;
              justify-content: center;
            "
          ></i>
        </div>
        <span style="margin-left: 1rem; color: rgba(3, 105, 161, 255)">
          <a routerLinkActive="active" (click)="seeAll()">See all</a>
        </span>
      </div>
    </div>
  </div>

  <div class="notification-container">
    <span class="empty-content" *ngIf="notificationLists.length == 0"
      >There is no content in it</span
    >
    <app-notification-box
      [notificationItems]="notificationLists"
    ></app-notification-box>
  </div>

  <p-overlayPanel #op class="context" id="op">
    <ng-template pTemplate>
      <app-context-menu
        [topLevel]="true"
        (onClick)="closeMenu(op)"
      ></app-context-menu>
    </ng-template>
  </p-overlayPanel>
</div>
