.headline {
  justify-content: center;
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: x-large;
  font-family: "lato";
}

.badge {
  position: relative;
  width: 100px;
}

.course-updates {
  position: absolute;
  z-index: 2;
  left: 23%;
  top: 92px;
}

.comments-mentioned {
  position: absolute;
  z-index: 2;
  left: 43%;
  top: 92px;
}

.annotations {
  position: absolute;
  z-index: 2;
  right: 39%;
  top: 92px;
}
.right-control {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

/* change the size of number of badge */
/* :host ::ng-deep .p-badge {
  font-size: 6px;
} */
.menu {
  display: flex;
  justify-content: space-between;
}

.panel {
  padding: 1.5rem;
  width: 700px;
}

/* menu focus style */
:host
  ::ng-deep
  .default
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem
  .p-menuitem-link:not(.p-disabled):focus {
  box-shadow: none;
  outline: none;
  outline-offset: none;
  border-bottom: 2px solid rgba(3, 105, 161, 255);
  color: rgba(3, 105, 161, 255);
}

:host
  ::ng-deep
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link {
  /* border-color: rgba(3, 105, 161, 255); */
  /* color: rgba(3, 105, 161, 255); */

  color: #6d6d6d;
}

:host
  ::ng-deep
  .default
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link {
  /* border-color: rgba(3, 105, 161, 255); */
  /* color: rgba(3, 105, 161, 255); */
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding: 0.8rem;
  font-size: small;
}

.context-menu-container {
  width: 50px;
  text-align: center;
}

.context-menu-container:hover {
  background-color: #c4c4c4;
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 8px;
  height: 30px;
  width: 50px;
  display: flex;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar {
  background: transparent;
}

.empty-content {
  height: 200%;
  font-size: medium;
  color: #c4c4c4;
  top: 0.5rem;
  position: relative;
}
:host ::ng-deep .p-badge {
  background-color: rgba(3, 105, 161, 255);
}

.see-more {
  position: relative;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: rgba(3, 105, 161, 255);
}

:host
  ::ng-deep
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem
  .p-menuitem-link
  .focus {
  color: red;
}

.notification-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.setting-menu {
  font-size: 1.7rem;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: gray;
}
