<p-confirmDialog></p-confirmDialog>

<div class="table">
  

  <p-table [value]="members" class="w-full mt-10 overflow-visible">
    <ng-template pTemplate="header">
      <tr>
        <th  class="fixed-width-column">Full name</th>
        <th class="fixed-width-column">Username</th>
        <th *ngIf="viewOnly  || course.role== 'co_teacher' || course.role == 'non_editing_teacher' " class="fixed-width-column">Role</th>
        <th *ngIf="!viewOnly && course.role !== 'co_teacher' && course.role !== 'non_editing_teacher'" class="fixed-width-column">
          Role
          <i
          class="pi pi-info-circle"
          pTooltip="You can change the permissions assigned to these roles using 'Manage permissions' option"
          tooltipPosition="top"
          style="margin-left: 5px; cursor: pointer; "
        ></i>
        </th>
        <th class="fixed-width-column">Block user
          <i
          class="pi pi-info-circle"
          pTooltip="Prevent receiving notifications from this user throughout CourseMapper. "
          tooltipPosition="top"
          style="margin-left: 5px; cursor: pointer; "
        ></i>
        </th>
        <th class="fixed-width-column"  *ngIf="!viewOnly  "> Restrict access
          <i
          class="pi pi-info-circle"
          pTooltip="Restrict this user from accessing or re-enrolling in the course."
          tooltipPosition="top"
          style="margin-left: 5px; cursor: pointer; "
        ></i>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
      <tr>
        <td  class="fixed-width-column">
          <div class="flex items-center space-x-2">
            <p-avatar
              [image]="member?.userId.photo"
              [label]="member?.userId.photo ? '' :  getIntitials(member?.userId.firstname + ' ' + member?.userId.lastname)"
              shape="circle"
              [style]="{
                'background-color': '#EA580C',
                color: '#ffffff'
              }"
            ></p-avatar>
            <span>{{ member?.userId?.firstname + " " + member?.userId?.lastname || "-" }}</span>
          </div>
        </td>
        <td class="fixed-width-column">{{ member?.userId?.username }}</td>
        
        <td *ngIf="viewOnly  || course.role== 'co_teacher' || course.role == 'non_editing_teacher'" class="fixed-width-column">
          {{ member?.role?.name === 'teacher' ? 'Teacher' :
            member?.role?.name === 'non_editing_teacher' ? 'Teaching Assistant' :
            member?.role?.name === 'user' ? 'Student' :
            member?.role?.name === 'co_teacher' ? 'Co-Teacher' :
            member?.role?.name?.split('_')?.join(' ') || 'N/A'
          }}
        </td>

        <td *ngIf="!viewOnly && course.role !== 'co_teacher' && course.role !== 'non_editing_teacher'" class="fixed-width-column">
          <ng-container *ngIf="!canChangeRole(member); else teacherText">
            <p-dropdown
              [options]="roles"
              [(ngModel)]="member?.role.name"
              placeholder="Select Role"
              (onChange)="onRoleChange($event, member)"
            ></p-dropdown>
          </ng-container>
          <ng-template #teacherText>
            <span class="role-text">Teacher</span>
          </ng-template>
        </td>

        <td class="fixed-width-column">
          <div class="flex items-center space-x-2">
            <p-checkbox
              inputId="block-user-{{ member?.userId._id }}"
              [binary]="true"
              [(ngModel)]="member.isBlockedByUser"
              (onChange)="toggleBlockUser(member?.userId._id, $event.checked)"
              [disabled]="currentUser?.userId?._id === member.userId._id"
            ></p-checkbox>
          </div>
        </td>
        
        <td *ngIf="!viewOnly" class="fixed-width-column">
          <div class="flex items-center space-x-2">
            <p-checkbox
              inputId="block-course-user-{{ member?.userId._id }}"
              [binary]="true"
              [(ngModel)]="member.isBlockedFromCourse"
              (onChange)="toggleBlockBetweenUsers(member?.userId._id, $event.checked)"
              [disabled]="member.isDisabled"
            ></p-checkbox>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Message for No Data Found -->
  <div *ngIf="!members || members.length === 0" class="text-center py-3">
    <p-messages
      [value]="[{ severity: 'info', detail: 'No Data Found' }]"
      [enableService]="false"
      [closable]="false"
    ></p-messages>
  </div>

  <!-- Loading Overlay -->
  <div *ngIf="isLoading" class="loading-overlay">
    <p-progressSpinner ariaLabel="loading" />
  </div>
</div>