.brush-selection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.pinpoint-selection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.pinpoint-display-pin {
    margin-top: -22px;
    margin-left: -12px;
    position: absolute;
    z-index: 9;
    pointer-events: none;
    color: white;
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
}

app-pdf-comment-panel{
    max-height: 50rem;
    overflow-y: scroll;
    box-shadow: 0 0 3px 3px #0000004D;
}