<div class="flex flex-row h-screen">
  <div class="flex flex-col w-full space-y-2">
    <app-video-annotation-toolbar></app-video-annotation-toolbar>
    <div class="relative h-fit videoPlayerArea">
      <video
        controls
        width="100%"
        height="100%"
        *ngIf="!youtubeactivated"
        #video
        (play)="videoPlayed()"
        (pause)="videoPaused()"
        (timeupdate)="videoPlayerTimeChanged($event)"
        (loadeddata)="videoPlayerReady($event)"
      >
        <source [src]="videoURL" type="video/mp4" />
      </video>

      <div
        *ngIf="youtubeactivated"
        #YouTubePlayerArea
        class="YouTubePlayerArea"
      >
        <youtube-player
          [videoId]="videoURL"
          (ready)="saveYouTubePlayer($event)"
          (stateChange)="onYouTubePlayerStateChange($event)"
        ></youtube-player>
      </div>
      <div
        *ngIf="isPinpointSelectionActive$ | async"
        class="pinpoint-selection-overlay"
        (click)="setPintpointPosition($event)"
      ></div>
      <app-video-drawing-overlay
        *ngIf="isBrushSelectionActive"
        class="brush-selection-overlay"
        (drawingChanged)="drawingChanged($event)"
        [boundingRect]="boundingRect"
        [videoWidth]="videoWidth"
        [videoHeight]="videoHeight"
        (cancelSelection)="cancelSelection()"
        (doneDrawing)="doneDrawing()"
      >
      </app-video-drawing-overlay>
      <app-video-rendering-overlay
        class="video-annotations-overlay"
        [class.visible]="
          !isBrushSelectionActive &&
          (isPinpointSelectionActive$ | async) == false &&
          (showAnnotations$ | async)
        "
        [boundingRect]="boundingRect"
        [videoWidth]="videoWidth"
        [videoHeight]="videoHeight"
        [cursorPositionInVideo]="cursorPositionInVideo"
        [cursorPosition]="cursorPosition"
        (pauseVideo)="pauseVideo()"
        (playVideo)="playVideo()"
        (seekVideo)="seekVideo($event)"
      >
      </app-video-rendering-overlay>
      <div
        class="pinpoint-display-pin"
        *ngIf="
          (isPinpointSelectionActive$ | async) ||
          ((isAnnotationDialogVisible$ | async) && cursorPosition && cursorisInsideVideo)"
        [style.left]="cursorPosition[0] + 'px'"
        [style.top]="cursorPosition[1] + 'px'"
      >
        <app-iconbutton
          icon="bx-pin"
          color="text-white"
        ></app-iconbutton>
      </div>
    </div>
  </div>
  <div class="flex flex-col ml-5 w-1/2">
    <p-dialog
      *ngIf="isAnnotationDialogVisible$ | async"
      [visible]="true"
      [breakpoints]="{ '960px': '75vw', '600px': '100vw' }"
      [style]="{ width: '50vw' }"
      [closable]="false"
      [showHeader]="false"
    >
      <div class="mt-5">
        <app-video-create-annotation
          appendTo="body"
        ></app-video-create-annotation>
      </div>
    </p-dialog>
    <div class="create-annotation">
      <app-video-create-annotation></app-video-create-annotation>
    </div>
    <app-pdf-comment-panel></app-pdf-comment-panel>
  </div>
</div>
<p-toast position="bottom-left" key="annotation-toast"></p-toast>
