app-cytoscape {
  height: 100%;
  float: left;
  width: 100%;
  position: relative;
}

.legend-circle-concept {
  width: 1em;
  height: 1em;
  background: #32a856;
  border-radius: 50%;
  display: inline-block;
}

.legend-circle-related-concept {
  width: 1em;
  height: 1em;
  background: #328ea8;
  border-radius: 50%;
  display: inline-block;
}

.legend-circle-category {
  width: 1em;
  height: 1em;
  background: #a8a832;
  border-radius: 50%;
  display: inline-block;
}

.abstractBlock {
  display: block;
  float: right;
  position: absolute;
  margin-right: 1.2rem;
  margin-top: 0.2rem;
  right: 0.5rem;
  background: white;
  border:none;
  z-index: 11;
  padding: 0px;
}
:host ::ng-deep .p-accordion.pAccRec {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  z-index: 12;
  background: white;
}
:host ::ng-deep .p-accordion.p-accordion-header.pAccRec {
  background-color:red;
  background:red;
  color:red;
  margin:9999px;
}

.abstractParagraph {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 0;
}
#abstractCloseButton {
  position: relative;
  background-color: #ffffff;
  color: #70757a;
  float: right;
  margin-left: auto;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
li:before {
  /* content: "\2B24";
  color: black; */
  padding-right: 6px;
}
:host ::ng-deep .p-radiobutton-icon {
  background-color: #0284c7 !important;
}
:host ::ng-deep .p-toast {
  width: 350px;
  font-size: 15px;
}
:host ::ng-deep .p-accordion-header-link {
  color: red;
}
#abstractButtons {
  color: #eb590d;
  border: #eb590d;
  /* font-size: 12px; */
}
