<div class="drawing-area">
  <div class="drawing-toolbar" (mouseleave)="hideDrawboxOptions()">
    <button class="toolbar-button">
      <span *ngIf="currentTool == 'rectangle'">
        <app-iconbutton
          icon="bx-rectangle"
          color="text-blue-500"
        ></app-iconbutton>
      </span>
      <span *ngIf="currentTool == 'circle'"
        ><app-iconbutton icon="bx-circle" color="text-blue-500"></app-iconbutton
      ></span>
      <div class="toolbar-popover">
        <button class="toolbar-button" (click)="onRectangleSelect()">
          <app-iconbutton
            icon="bx-rectangle"
            color="text-blue-500"
          ></app-iconbutton>
        </button>
        <button class="toolbar-button" (click)="onCircleSelect()">
          <app-iconbutton
            icon="bx-circle"
            color="text-blue-500"
          ></app-iconbutton>
        </button>
      </div>
    </button>

    <button class="toolbar-button">
      <div class="stroke" [style.height]="currentWidth + 'px'"></div>
      <div class="toolbar-popover">
        <button class="toolbar-button" (click)="onLineHeightSelect(1)">
          <div class="stroke" [style.height]="'1px'"></div>
        </button>
        <button class="toolbar-button" (click)="onLineHeightSelect(2)">
          <div class="stroke" [style.height]="'2px'"></div>
        </button>
        <button class="toolbar-button" (click)="onLineHeightSelect(3)">
          <div class="stroke" [style.height]="'3px'"></div>
        </button>
        <button class="toolbar-button" (click)="onLineHeightSelect(4)">
          <div class="stroke" [style.height]="'4px'"></div>
        </button>
        <button class="toolbar-button" (click)="onLineHeightSelect(5)">
          <div class="stroke" [style.height]="'5px'"></div>
        </button>
      </div>
    </button>
  </div>
</div>
