<div class="flex flex-row">
    <div class="flex-col" *ngIf="isloggedin">
      <app-sidebar></app-sidebar>
     </div>
    
    <div style="width: 100%;">
       
        <div class="courseheader" >
            <div style="width: 90%; float:left">
                 <p class="font-roboto  font-bold leading-normal h1" > Welcome to  </p>
        <p class="font-roboto  font-bold leading-normal h1"> {{course.name}} </p> 
        <br>
        <p class="font-roboto   leading-normal h2"> This is the welcome page of the course</p>
         <br>
            </div>
            <div style="width: 10%; float:right">
      
           <button  *ngIf="Enrolled== true"
         pButton 
         [ngStyle]="{ 'background-color': '#0277BD', color: '#ffffff' , float: 'right', 'margin-top':'3rem', 'margin-right': '2rem' }"
         type="button"
         label= 'Go To Course'
         (click)="GoToCOurse()"
        
       ></button>
    
    
       <button *ngIf="Enrolled== false"
         pButton 
         [ngStyle]="{ 'background-color': '#0277BD', color: '#ffffff' , float: 'right', 'margin-top':'3rem', 'margin-right': '2rem' }"
         type="button"
         label='Enroll To Course'
    (click)="EnrollToCOurse()"
       ></button>
    
    </div>
         <hr class="solid">
       
        </div>
     <div class="courseDes">
        <p-avatar
        label="{{getName(this.firstName, this.lastName)}}"
        shape="circle"
        size="large"
        [style]="{ 'background-color': '#0277BD', color: '#ffffff' , float: 'left', top_margin:'0.5rem' }"
        
      ></p-avatar>
      <div style="    margin-left: 4rem;">

      
        <p class="p" style=" font-weight: bold;" > Course created by: {{ this.firstName }} {{this.lastName}}</p>

        <p class="p" style=" font-weight: bold;">  Created on: {{createdAt}}</p>
        
        <p class="p" style=" font-weight: bold;" > Course Description: </p>
            <div  > {{ course.description }}</div>
        </div>
   </div>
    </div> 
        

   
  </div>
