<div class="flex flex-row">
    <div class="flex-col" *ngIf="isloggedin">
      <app-sidebar></app-sidebar>
     </div>
    
    <div style="width: 100%;">
       
        <div class="courseheader" >
            <div style="width: 90%; float:left">
                 <p class="font-serif  font-bold leading-normal h1" > Welcome To  </p>
        <p class="font-serif  font-bold leading-normal h1"> {{course.name}} </p> 
      
         <p class="p" > This is the welcome page of the course </p>
         <p class="p" >  Course created on: {{createdAt}}</p> 
            </div>
            <div style="width: 10%; float:right">
       
           <button 
         pButton 
         [ngStyle]="{ 'background-color': '#0277BD', color: '#ffffff' , float: 'right', 'margin-top':'3rem', 'margin-right': '2rem' }"
         type="button"
         label="Enrol to Course"
        
       ></button>
    </div>
         <hr class="solid">
       
        </div>
     <div class="courseDes">
        <p-avatar
        label="{{getName(this.firstName, this.lastName)}}"
        shape="circle"
        size="large"
        [style]="{ 'background-color': '#0277BD', color: '#ffffff' , float: 'left', top_margin:'0.5rem' }"
      ></p-avatar>
      <div style="    margin-left: 4rem;">

      
        <p class="p" style=" font-weight: bold;" > Creator Name {{ this.firstName }} {{this.lastName}}</p>

        <p class="p ">  {{createdAt}}</p>
        
            <p class="p"  > Course Description </p>
            <div  > {{ course.description }}</div>
        </div>
   </div>
    </div> 
        

   
  </div>
