/* card.component.css */

.card {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.image-card, .details-card {
  padding: 20px;
  box-sizing: border-box;
  min-width: 250px;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 10px;


}

.image-card  {
  flex: 1;
  background-color: #f0f0f0;
  margin-right: 5px;
}

.details-card {
  flex: 3;
  border: 2px solid #D9D9D9;
}


.vertical-line {
  border-left: 2px solid black;
  height: 100%;
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
  }

  .image-card,
  .details-card {
    width: 100%;
    min-width: auto;
  }

  .details-card {
    margin: 10px 0;
  }
}

