<div class="sticky top-0 z-20">
  <div
    class="flex flex-wrap justify-between content-center items-center px-4 h-16 bg-white text-white shadow-lg"
  >
    <img src="../../../assets/logo.svg" alt="logo" class="w-72" />

    <div class="flex flex-wrap my-1">
      <i
        class="pi pi-bell mr-6 mt-2 p-text-secondary"
        pBadge
        style="font-size: 2rem; color: rgba(3, 105, 161, 255)"
        [value]="showNews ? newsAmount : ''"
        (click)="toggleNotificationPanel($event, notificationPanel)"
        *ngIf="this.storageService.loggedIn"
        pTooltip="Notifications"
      ></i>

      <span *ngIf="!this.storageService.loggedIn">
        <button
          pButton
          [ngStyle]="{
            border: '1px solid #EA580C',
            backgroundColor: 'white',
            color: '#EA580C',
            marginRight: '8px'
          }"
          type="button"
          label="Login"
          (click)="handleLogin()"
        ></button>
        <button
          pButton
          [ngStyle]="{ backgroundColor: '#EA580C' }"
          type="button"
          label="Sign-up"
          (click)="handleRegistration()"
        ></button>
      </span>

      <span *ngIf="this.storageService.loggedIn">
        <button
          pButton
          [ngStyle]="{
            border: '1px solid #EA580C',
            backgroundColor: 'white',
            color: '#EA580C',
            marginRight: '8px'
          }"
          type="button"
          label="Logout"
          (click)="handleLogout()"
        ></button>

        <p-avatar
          label="BD"
          shape="circle"
          size="large"
          [style]="{ 'background-color': '#EA580C', color: '#ffffff' }"
        ></p-avatar>
      </span>
    </div>
  </div>
</div>
<p-overlayPanel
  #notificationPanel
  [dismissable]="true"
  (onShow)="onShow()"
  (onHide)="onHide()"
>
  <app-notification-dashboard
    [isPanelOpened]="isPanelOpened"
    [courseNews]="courseNews"
    [repliesNews]="repliesNews"
    [annotationNews]="annotationNews"
    [notificationLists]="notificationLists"
  ></app-notification-dashboard>
</p-overlayPanel>
