<div class="sticky top-0 z-20">
  <div
    class="flex flex-wrap justify-between content-center items-center px-4 h-16 bg-white text-white shadow-lg"
  >
    <img src="../../../assets/logo.svg" alt="logo" class="w-52" />
    <div class="flex flex-wrap my-1">
      <!-- <p-avatar
        label="P"
        shape="circle"
        size="large"
        [style]="{ backgroundColor: 'var(--orange-600)' }"
      ></p-avatar> -->
      <p-avatar
        label="P"
        shape="circle"
        [style]="{ 'background-color': '#EA580C', color: '#ffffff' }"
      ></p-avatar>
    </div>
  </div>
</div>
