<div #cy id="cy" (window:resize)="onResize($event)" class="mb-2">
  
</div>
<div id="Legends" class="mb-15" style="text-align: left;">
  <div *ngIf="showMaterialKg && isDraft">
    <span>
      <div class="legend-circle-main-concept"></div>
       Main Concepts
    </span>
    <span>
      <div class="legend-circle-newly_added"></div>
      Newly added Concepts
    </span>
    <span>
      <div class="legend-circle-Edited"></div>
      Edited Concepts
    </span>
    <span>
      <div class="legend-circle-irrelated"></div>
      Not relevant Concepts
    </span>
   
  </div>

  <div *ngIf="showMaterialKg && !isDraft">
    <span>
      <div class="legend-circle-main-concept"></div>
      Main Concept
    </span>
    <span>
      <div class="legend-circle-related-concept"></div>
      Related Concept
    </span>
    <span>
      <div class="legend-circle-category"></div>
      Category
    </span>
    <span *ngIf="this.irrelevantConcepts.length > 0">
      <div class="legend-circle-irrelated"></div>
      Not Related conecept
    </span>
  </div>
</div>
<button
p-button
(click)="deleteIrrelevant()"
pButton type="button"
label="Delete not relevant concepts"
*ngIf="this.irrelevantConcepts.length > 0 && showBulkDeletion"
class="mb-10"
style="margin-top: 10px"
></button>