<div class="w-full flex items-center justify-between text-gray-700 bg-gray-100 border-gray-400 border-t">
  <div class="px-6 py-6">
    Copyright &copy; <a href="https://www.uni-due.de/soco/" target="_blank" class="underline">Social Computing Group</a> 2025
  </div>
  <div class="px-6 flex items-center gap-8">
    <a [routerLink]="['/about']" class="text-sky-600 hover:underline hover:text-sky-700">About</a>
    <a [routerLink]="['/team']" class="text-sky-600 hover:underline hover:text-sky-700">Team</a>
    <a [routerLink]="['/privacy']" class="text-sky-600 hover:underline hover:text-sky-700">Privacy</a>
    <div class="flex items-center gap-4">
      <a href="https://github.com/ude-soco" target="_blank"><img src="assets/icons/github.png" class="h-6"></a>
      <a href="https://www.youtube.com/@theudesocialcomputinggroup7388" target="_blank"><img src="assets/icons/youtube.png" class="h-6"></a>
    </div>
  </div>
</div>
