<p-toast position="bottom-left"></p-toast>
<div
  class="relative contain bg-gray-100 shadow-lg"
  *ngIf="selectedChannel?.materials"
>
  <div class="h-max m-0 flex flex-col bg-gray-100">
    <div class="flex items-start justify-between py-4 pl-3 bg-gray-200">
      <p
        id="{{ selectedChannel?._id }}"
        class="flex w-full text-xl font-semibold"
        #selectedCourse._id
      >
        {{ selectedChannel?.name }}
      </p>
    </div>
  </div>

  <p-tabView
    (onChange)="onTabChange($event)"
    (onClose)="deleteMaterial($event)"
    *ngIf="selectedChannel?.materials"
    [(activeIndex)]="tabIndex"
  >
    <p-tabPanel>
      <ng-template pTemplate="header">
        <app-iconbutton
          icon="bxs-folder-plus"
          color="text-blue-500"
        ></app-iconbutton>
        <span>ADD MATERIAL</span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-add-material
          [courseID]="selectedChannel?.courseId"
          [topicID]="selectedChannel?.topicId"
          [channelID]="selectedChannel?._id"
          [channelEmittd]="selectedChannel"
        >
        </app-add-material>
      </ng-template>
    </p-tabPanel>
    <ng-container *ngIf="this.materials.length > 0">
      <p-tabPanel
        *ngFor="let material of materials; let i = index"
        [closable]="false"
      >
        <ng-template pTemplate="header" *ngIf="material.type == 'pdf'">
          <app-iconbutton
            icon="bxs-file-pdf"
            color="text-blue-500"
          ></app-iconbutton>
          <span>{{ material.name }}</span>
          <p-menu #materialMenu id="material_menu" [model]="materialOptions" [popup]="true" appendTo="body"></p-menu>
          <app-iconbutton style="z-index: 1;"
            icon="bx-dots-vertical-rounded"
            color="text-blue-500"
            (click)="selectedMaterial= material ; materialMenu.toggle($event)"
            ></app-iconbutton>
        </ng-template>

        <ng-template pTemplate="header" *ngIf="material.type == 'video'">
          <app-iconbutton
            icon="bxs-videos"
            color="text-blue-500"
          ></app-iconbutton>
          <span>{{ material.name }}</span>
          <p-menu #materialMenu id="material_menu" [model]="materialOptions" [popup]="true" appendTo="body"></p-menu>
          <app-iconbutton style="z-index: 1;"
            icon="bx-dots-vertical-rounded"
            color="text-blue-500"
            (click)="selectedMaterial= material ; materialMenu.toggle($event)"
            ></app-iconbutton>
        </ng-template>
      </p-tabPanel>

      <router-outlet name="material"></router-outlet>
    </ng-container>
  </p-tabView>
</div>
