.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .td {
    
    text-align: left;
   
    padding: 10px 20px 30px;
  }
  :host ::ng-deep .p-toast {
    width:350px;
    font-size: 15px;
  }
  :host ::ng-deep .p-toast .p-toast-message-icon{
    font-size: 2em !important;
  }
  :host ::ng-deep #showMaterialKG{
    /* position: absolute; */
    font-size: 14px;
    /* color: #ffffff; */
    color: #EB590D;
    /* background: #EB590D; */
    border: #EB590D;
}