
<!--<div class="grid-container">
  <div class="grid-item">
    <div class="title">
Distribution of number of institutions in each platforms    </div>

    <div class="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>


  </div>


</div>-->

<div class="grid-container">
  <div class="grid-item">
    <div class="title">Distribution of number of institutions in each platforms</div>

    <div class="chart">
      <apx-chart
        #chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
        [plotOptions]="chartOptions.plotOptions"
        [tooltip]="chartOptions.tooltip">
      </apx-chart>
    </div>

    <!-- PANELS (same child as teachers, different mode) -->
    <app-entity-course-panels
      [mode]="'institution'"
      [platformName]="platformNameForPanels"

      [entities]="leftItems"
      [selectedEntityId]="selectedInstitution?.id || null"
      [leftTotal]="leftTotal"
      [leftPage]="leftPage"
      [leftPageSize]="leftPageSize"
      (leftPageChange)="onLeftPageChange($event)"
      (entitySelected)="onInstitutionSelected($event)"

      [courses]="rightItems"
      [rightTotal]="rightTotal"
      [rightPage]="rightPage"
      [rightPageSize]="rightPageSize"
      (rightPageChange)="onRightPageChange($event)"
      (courseInspect)="onCourseInspect($event)"
      (sortCoursesByRating)="onSortCoursesByRating($event)">
    </app-entity-course-panels>
  </div>
</div>
