.comments-container {
  border: 1px solid #c4c4c4;
  padding: 1.5rem;
  margin-bottom: 8px;
  width: 600px;
  box-shadow: 2px 2px #c4c4c4;
  margin-bottom: 2rem;
}

.content-container {
  display: flex;
}

.comment-box {
  display: block;
}
.time {
  font-size: 10px;
}
.author-name {
  font-weight: bold;
  margin-right: 1rem;
}
.comment-info {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.likes-container {
  float: right;
  margin-bottom: 1rem;
  right: -0.7rem;
  position: relative;
}
.user-icon {
  float: right;
  color: rgba(3, 105, 161, 255);
}
.likes {
  margin-right: 0.1rem;
}

.see-discussion {
}

:host::ng-deep .p-button.p-button-text {
  font-size: small;
}

.status {
  color: green;
  font-size: small;
  margin-right: 1rem;
  margin-left: 5px;
}
.closed {
  color: brown;
}
.info-bar {
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 50%;
  margin-top: 1rem;

  height: 25px;
}

.highlight {
  box-shadow: 2px 2px rgba(3, 105, 161, 255);
  border: 1px solid rgba(3, 105, 161, 255);
}

.pi-bell {
  margin-right: 1rem;
  color: rgba(3, 105, 161, 255);
  cursor: pointer;
}
