<p-toast key="emptyList" position="bottom-left"></p-toast>
<p-toast position="bottom-left" key="server_response"></p-toast>

<div
  *ngIf="showMaterialKg === true && showCourseKg === false"
  (window:resize)="onResize($event)"
  style="z-index: 99"
>
  <p-dialog
    id="higherLevelsKG"
    [(visible)]="this.showMaterialKg"
    [blockScroll]="true"
    [contentStyle]="{ 'overflow-y': 'scroll' }"
    (onShow)="materialKgActivated = true"
    (onHide)="onSubmitCancel()"
    [style]="{
      position: 'relative',
      top: '0px',
      width: '90%',
      height: '100%',
      margin: 0,
      'padding-top': '2rem',
    }"
    [closable]="true"
    [showHeader]="false"
    maskStyleClass="dialogMask"
  >
  <button
  (click)="showMaterialKg = false"
  class="absolute top-5 right-3 mt-2 mr-2 bg-transparent border-0 focus:outline-none rounded-full p-2 hover:bg-gray-100"
>
  <i class="pi pi-times"></i>
</button>

    <span *ngIf="isDraft && !isLoading" class="title-text">
      <b
        >Edit and finalize the knowledge Graph for '{{
          this.currentMaterial?.name
        }}'</b
      >
    </span>

    <span *ngIf="isDraft && !isLoading" class="subheading-text">
      Right-click to edit or delete Main Concepts, or add new ones to the
      knowledge graph before publishing it for all users
    </span>
    <ng-container>
      <div style="position: relative" class="flex items-center justify-between">
        <span *ngIf="conceptMapData">
          View top-n Main Concepts
          <p-dropdown
            [options]="top_n_nodes"
            [(ngModel)]="selectedTopN"
            optionLabel="name"
            optionValue="code"
            (onChange)="selectedTopNodes(selectedTopN)"
            icon="pi"
          ></p-dropdown>
        </span>
        <div
          id="materialKgControlPanel"
          class="noContentRecieved"
          *ngIf="!isDraft"
        >
          <span *ngIf="conceptMapData">
            <span
              id="checkBoxes"
              style="margin-right: 1rem"
              *ngFor="let option of selectedCheckOptions"
              class="p-field-checkbox"
            >
              <p-checkbox
                name="nodesType"
                value="option"
                [value]="option"
                [(ngModel)]="selectedOption"
                [inputId]="option.key"
                *ngIf="option.key !== 'main_concept'"
                (onChange)="updateSingleChecked(option.key)"
              ></p-checkbox>
              <p-checkbox
                name="nodesType"
                value="option"
                [value]="option"
                [(ngModel)]="selectedOption"
                [inputId]="option.key"
                *ngIf="option.key === 'main_concept'"
                [readonly]="true"
                (onChange)="updateSingleChecked(option.key)"
              ></p-checkbox>
              <label class="checkLabel" [for]="option.key">{{
                option.name
              }}</label>
            </span>
          </span>
          <div style="margin: 0.5rem; height: 1rem" *ngIf="!isNotGenerated">
            <span
              *ngIf="
                selectedFilterValues &&
                (selectedFilterValues.includes('related_concept') ||
                  selectedFilterValues.includes('category'))
              "
            >
              Click on a node to view its related concepts and categories
            </span>
          </div>
        </div>
      </div>
      <hr
        *ngIf="conceptMapData"
        style="margin-bottom: 0.25rem; margin-top: 0.25rem"
      />
      <div class="graphBody" id="slideKgDialogDiv" style="display: block">
        <div class="dialogTabs">
          <div class="contentKgDialog" style="display: flex">
            <div class="loading-text" *ngIf="isLoading">
              <div class="profile-main-loader" style="width: 100%">
                <div>
                  <p-progressSpinner
                    [style]="{ width: '80px', height: '80px' }"
                    styleClass="custom-spinner"
                    strokeWidth="5"
                    fill="var(--surface-ground)"
                    animationDuration=".5s"
                  ></p-progressSpinner>
                </div>
              </div>
              <p *ngIf="isLoading" style="margin-top: 20px; padding: 10px">
                <b
                  >The knowledge graph for the learning material '{{
                    this.currentMaterial?.name
                  }}' is being created. This might take some time depending on
                  the content of the learning material. Once the results are
                  ready, they will be displayed here.</b
                >
              </p>
            </div>
            <div class="sidebarHidden" *ngIf="!isLoading && isNotGenerated">
              <div class="grid grid-cols-1 justify-items-center p-60">
                <div class="text-xl font-medium text-center">
                  A knowledge graph for this material is being generated. Please
                  check back in a few minutes.
                </div>
              </div>
            </div>
            <div class="sidebarHidden" *ngIf="!isLoading && !isNotGenerated">
              <app-graph
                [conceptMapData]="filteredMapData"
                [selectedFilterValues]="selectedFilterValues"
                [topNConcepts]="selectedTopConcepts"
                [filterUpdated]="filterUpdated"
                [materialKnowledgeGraph]="true"
                [slideKnowledgeGraph]="false"
                [recommenderKnowledgeGraph]="false"
                [cyHeight]="cyHeight"
                [cyWidth]="cyWidth"
                [showMaterialKg]="showMaterialKg"
                [showCourseKg]="showCourseKg"
                [isDraft]="isDraft"
                (editConcept)="editConcept($event)"
                (conceptDeleted)="deleteConcept($event)"
                (conceptDeletedBulk)="deleteConceptsBulk($event)"
              >
              </app-graph>
            </div>
          </div>
          <span
            *ngIf="!editingConceptName && !isLoading && isDraft"
            class="subheading-text"
          >
            Add/Edit a Main Concept and connect it to related slides
          </span>

          <span *ngIf="editingConceptName" class="subheading-text">
            Editing concept {{ editingConceptName }}
          </span>
          <div *ngIf="isDraft" style="margin-top: 10px">
            <div *ngIf="conceptMapData && !conceptInputsDisabled" class="mt-1">
              <form
                [formGroup]="editConceptForm"
                class="flex flex-row items-start gap-6 w-full"
              >
                <!-- Column 1: Main Concepts -->
                <div class="flex flex-col gap-4 w-[40rem]">
                  <!-- Label with Info Icon for Main Concepts -->
                  <span class="flex items-center">
                    <span>Main Concepts</span>
                    <i
                      class="pi pi-info-circle ml-2 text-gray-500"
                      pTooltip="Main Concepts are Wikipedia articles."
                      tooltipPosition="top"
                      style="cursor: pointer"
                    ></i>
                  </span>
                  <p-autoComplete
                    id="concept-name-input"
                    formControlName="conceptName"
                    placeholder="Add concept name"
                    [suggestions]="conceptSearchResults"
                    (completeMethod)="searchConcepts($event)"
                    field="title"
                    styleClass="w-full"
                    inputStyleClass="w-full"
                   
                  >
                    <!-- Template for Items in the Dropdown -->
                    <ng-template let-concept pTemplate="item">
                      <div class="flex justify-between items-center gap-2">
                        <span>{{ concept.title }}</span>
                        <button
                        type="button"
                        (mousedown)="openLink(concept.url, $event)"
                        class="text-blue-500 hover:underline bg-transparent border-0 p-0"
                        pTooltip="Open article on Wikipedia"
                        tooltipPosition="top"
                      >
                        <i class="pi pi-external-link"></i>
                      </button>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>

                <!-- Column 2: Slides -->
                <div class="flex flex-col gap-4 w-[-webkit-fill-available]">
                  <!-- Label with Info Icon for Slides -->
                  <span class="flex items-center">
                    <span>Slides</span>
                    <i
                      class="pi pi-info-circle ml-2 text-gray-500"
                      pTooltip="Select or preview slides to connect them to main concepts."
                      tooltipPosition="top"
                      style="cursor: pointer"
                    ></i>
                  </span>
                  <p-multiSelect
                    id="concept-slides-input"
                    [options]="slideOptions"
                    formControlName="conceptSlides"
                    defaultLabel="Select slide"
                    [filter]="false"
                    filterPlaceholder="All slides"
                    styleClass="w-full"
                  >
                    <!-- Template for Filter: PDF preview, paginator, checkbox -->
                    <ng-template let-slide pTemplate="filter">
                      <div class="flex flex-col w-full">
                        <p>
                          Slide preview
                          <span *ngIf="docURL !== undefined"
                            >({{ currentPDFPage }})</span
                          >
                          <span *ngIf="docURL === undefined"
                            >(click eye icon)</span
                          >
                        </p>
                        <pdf-viewer
                          [src]="docURL"
                          [render-text]="true"
                          [render-text-mode]="2"
                          [fit-to-page]="true"
                          [original-size]="true"
                          [show-all]="false"
                          [page]="currentPDFPage"
                          class="responsive-pdf-viewer"
                        ></pdf-viewer>
                        <p-paginator
                          id="p_paginator"
                          [rows]="1"
                          [showJumpToPageDropdown]="true"
                          [showPageLinks]="false"
                          [totalRecords]="totalPages"
                          [first]="currentPDFPage - 1"
                          (onPageChange)="pagechanging($event)"
                        ></p-paginator>
                        <div class="flex items-center">
                          <input
                            type="checkbox"
                            id="selectAllSlidesCheckbox"
                            class="mr-2"
                            [checked]="allSelected"
                            (click)="$event.stopPropagation()"
                            (change)="toggleSelectAll($event)"
                          />
                          <label for="selectAllSlidesCheckbox">
                            {{
                              allSelected
                                ? "Deselect All Slides"
                                : "Select All Slides"
                            }}
                          </label>
                        </div>
                      </div>
                    </ng-template>

                    <!-- Template for each Slide Item -->
                    <ng-template let-slide pTemplate="item">
                      <div
                        class="w-full flex flex-row items-center justify-between"
                        [ngClass]="{
                          'highlight-row':
                            slide['value'] === currentPDFPage.toString()
                        }"
                      >
                        Slide {{ slide.label }}
                        <p-button
                          icon="pi pi-eye"
                          pTooltip="Preview slide"
                          (mousedown)="$event.stopPropagation()"
                          (click)="previewSlide($event, slide)"
                          styleClass="p-button-outlined"
                        ></p-button>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </div>

                <!-- Column 3: Buttons -->
                <!-- Button Container: Single row with two sections -->
                <div
                  class="flex flex-row items-center justify-between w-full mt-4"
                  style="padding: 30px"
                >
                  <!-- Right-aligned group for Add/Update and Cancel buttons -->
                  <div class="flex flex-row gap-2">
                    <ng-container *ngIf="!editingConceptName">
                      <button
                        pButton
                        [ngStyle]="{ backgroundColor: '#0369A1' }"
                        type="button"
                        label="Add concept"
                        title="Add concept"
                        (click)="addConcept()"
                      ></button>
                      <button
                        pButton
                        [ngStyle]="{
                          backgroundColor: '#EEEEEE',
                          color: '#333333'
                        }"
                        type="button"
                        label="Cancel"
                        title="Cancel"
                        (click)="cancelEditConcept()"
                      ></button>
                    </ng-container>
                    <ng-container *ngIf="editingConceptName">
                      <button
                        pButton
                        [ngStyle]="{ backgroundColor: '#0369A1' }"
                        type="button"
                        label="Update concept"
                        title="Update concept"
                        (click)="addConcept()"
                      ></button>
                      <button
                        pButton
                        [ngStyle]="{
                          backgroundColor: '#EEEEEE',
                          color: '#333333'
                        }"
                        type="button"
                        label="Cancel"
                        title="Cancel"
                        (click)="cancelEditConcept()"
                      ></button>
                    </ng-container>
                  </div>
                  <!-- Finalize button aligned to left -->
                  <button
                    pButton
                    [ngStyle]="{ backgroundColor: '#EA580C' }"
                    type="button"
                    pTooltip="When clicking on this button, the relative concept to this concept will be shown in the graph in addition to the top 3 categories of this concept"
                    label="Finalize"
                    title="Finalize"
                    (click)="expandAndPublish()"
                    style="text-align: left"
                  ></button>
                </div>
              </form>
            </div>
            <div *ngIf="conceptInputsDisabled">
              <p-progressSpinner
                [style]="{ width: '80px', height: '80px' }"
                styleClass="custom-spinner"
                strokeWidth="8"
                fill="var(--surface-ground)"
                animationDuration=".5s"
              ></p-progressSpinner>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </p-dialog>
</div>
<div
  *ngIf="
    showMaterialKg === false &&
    showCourseKg === true &&
    courseIsEmpty === false &&
    isNotGenerated === false
  "
  (window:resize)="onResize($event)"
  style="z-index: 99"
>
  <p-dialog
    id="higherLevelsKG"
    header=" {{ kgTitle }}"
    [(visible)]="this.showCourseKg"
    [blockScroll]="true"
    (onHide)="onSubmitCancel()"
    (onShow)="courseKgShown()"
    [style]="{
      position: 'relative',
      top: '0px',
      width: '90%',
      height: '90%',
      padding: 0,
      margin: 0
    }"
    maskStyleClass="dialogMask"
  >
    <hr style="margin-bottom: 0.25rem" />
    <ng-container>
      <div style="position: relative">
        <span *ngIf="conceptMapData" style="text-align: left">
          Top-N Main Concepts
          <p-dropdown
            [options]="top_n_nodes"
            [(ngModel)]="selectedTopN"
            optionLabel="name"
            optionValue="code"
            (onChange)="selectedTopNodes(selectedTopN)"
          ></p-dropdown>
        </span>
        <div id="materialKgControlPanel" class="noContentRecieved">
          <span *ngIf="conceptMapData"> </span>
        </div>
      </div>
      <hr
        *ngIf="conceptMapData"
        style="margin-bottom: 0.25rem; margin-top: 0.25rem"
      />
      <div class="graphBody" id="slideKgDialogDiv" style="display: block">
        <div class="dialogTabs">
          <div class="contentKgDialog" style="display: flex">
            <div class="profile-main-loader" *ngIf="isLoading">
              <div class="loader">
                <p-progressSpinner
                  [style]="{ width: '80px', height: '80px' }"
                  styleClass="custom-spinner"
                  strokeWidth="8"
                  fill="var(--surface-ground)"
                  animationDuration=".5s"
                ></p-progressSpinner>
              </div>
            </div>
            <div class="sidebarHidden">
              <app-graph
                [conceptMapData]="filteredMapData"
                [selectedFilterValues]="selectedFilterValues"
                [topNConcepts]="selectedTopConcepts"
                [filterUpdated]="filterUpdated"
                [materialKnowledgeGraph]="true"
                [slideKnowledgeGraph]="false"
                [recommenderKnowledgeGraph]="false"
                [cyHeight]="cyHeight"
                [cyWidth]="cyWidth"
                [showMaterialKg]="showMaterialKg"
                [showCourseKg]="showCourseKg"
                [isDraft]="isDraft"
                (editConcept)="editConcept($event)"
                (conceptDeleted)="deleteConcept($event)"
              >
              </app-graph>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </p-dialog>
</div>

<div
  *ngIf="
    showMaterialKg === false &&
    showCourseKg === true &&
    courseIsEmpty === false &&
    isNotGenerated === true
  "
  (window:resize)="onResize($event)"
  style="z-index: 99"
>
  <p-dialog
    id="higherLevelsKG"
    header=" {{ kgTitle }}"
    [(visible)]="this.showCourseKg"
    [blockScroll]="true"
    (onHide)="onSubmitCancel()"
    (onShow)="courseKgShown()"
    [style]="{
      position: 'relative',
      top: '0px',
      width: '90%',
      height: '90%',
      padding: 0,
      margin: 0
    }"
    maskStyleClass="dialogMask"
  >
    <hr style="margin-bottom: 0.25rem" />
    <div class="grid grid-cols-1 justify-items-center p-60">
      <div class="text-xl font-medium text-center">
        CourseKG will be shown once KG for learning materials has been generated
      </div>
    </div>
  </p-dialog>
</div>
<div
  *ngIf="
    showMaterialKg === false &&
    showCourseKg === true &&
    courseIsEmpty === true &&
    isNotGenerated === false
  "
  (window:resize)="onResize($event)"
  style="z-index: 99"
>
  <p-dialog
    id="higherLevelsKG"
    header=" {{ kgTitle }}"
    [(visible)]="this.showCourseKg"
    [blockScroll]="true"
    (onHide)="onSubmitCancel()"
    (onShow)="courseKgShown()"
    [style]="{
      position: 'relative',
      top: '0px',
      width: '90%',
      height: '90%',
      padding: 0,
      margin: 0
    }"
    maskStyleClass="dialogMask"
  >
    <hr style="margin-bottom: 0.25rem" />
    <div class="grid grid-cols-1 justify-items-center p-60">
      <div class="text-xl font-medium text-center">
        There is no content in the course to create KG.
      </div>
    </div>
  </p-dialog>
</div>

<div *ngIf="showSlideKg === true" (window:resize)="onResize($event)">
  <div class="mod-all-kg">
    <p-dialog
      header="{{ this.currentMaterial?.name }} - slide {{ kgCurrentPage }}"
      [(visible)]="this.showSlideKg"
      [blockScroll]="true"
      (onShow)="userConceptsStatus()"
      (onHide)="onSubmitCancel()"
      [style]="{
        position: 'relative',
        top: '0px',
        width: '90%',
        height: '90%',
        padding: 0,
        margin: 0
      }"
      maskStyleClass="dialogMask"
    >
      <ng-container>
        <div class="graphBody w-full h-full" id="slideKgDialogDiv">
          <div class="dialogTabs w-full">
            <span id="kgTabsArea" style="white-space: nowrap; display: inline">
              <div (click)="disabledTabClicked()">
                <p-tabMenu
                  id="deActivatedTabs"
                  *ngIf="!kgTabsActivated"
                  [model]="tabs"
                  [activeItem]="tabs[0]"
                ></p-tabMenu>
              </div>
              <p-tabMenu
                *ngIf="kgTabsActivated"
                [model]="tabs"
                [activeItem]="tabs[1]"
              ></p-tabMenu>
            </span>
            <div class="contentKgDialog h-full flex">
              <!-- Parent -->
              <p-badge
                id="dnuConceptsBadge"
                *ngIf="
                  !hideChevronRightButton &&
                  kgSlideReceivedResponse &&
                  !recommendedMaterialsTab &&
                  didNotUnderstandConceptsObj
                "
                [value]="badgeMessage"
                severity="warning"
              ></p-badge>
              <p-badge
                id="dnuConceptsBadge"
                *ngIf="
                  !hideChevronRightButton &&
                  kgSlideReceivedResponse &&
                  !recommendedMaterialsTab &&
                  didNotUnderstandConceptsObj &&
                  badgeChanged
                "
                [value]="badgeMessage"
                severity="warning"
                styleClass="conceptsListChanged"
              ></p-badge>
              <button
                id="showNonUnderstoodPanel"
                *ngIf="
                  !hideChevronRightButton &&
                  kgSlideReceivedResponse &&
                  !recommendedMaterialsTab
                "
                pButton
                type="button"
                (click)="showConceptsList()"
                label="Show Not Understood Concepts Lists"
                icon="pi pi-chevron-right"
                iconPos="right"
                pTooltip="Show list of not understood concepts"
                class="p-button-secondary p-button-rounded"
              ></button>
              <div
                id="flexboxNotUnderstood"
                *ngIf="hideChevronRightButton && !recommendedMaterialsTab"
                style="display: inline-block"
              >
                <p-sidebar
                  [(visible)]="showConceptsListSidebar"
                  [baseZIndex]="-1"
                  [dismissible]="false"
                  (onHide)="hideConceptsList()"
                  [showCloseIcon]="false"
                  styleClass="mediumSize"
                  [autoZIndex]="false"
                >
                  <ng-template pTemplate="header">
                    <h3 style="color: #0288d1; font-size: 1em">
                      Not Understood Concepts Lists
                    </h3>
                  </ng-template>
                  <div style="position: relative">
                    <p-accordion [multiple]="true">
                      <p-accordionTab
                        id="accordionTab1"
                        header="Not understood concepts from this slide - ({{
                          didNotUnderstandConceptsObj.length
                        }}) concepts "
                        [selected]="true"
                      >
                        <h3
                          *ngIf="!didNotUnderstandConceptsObj.length"
                          style="color: #0288d1"
                        >
                          Select not understood concept(s) from the graph
                        </h3>
                        <fieldset
                          id="currentConcepts"
                          #currentConcepts
                          style="overflow-y: auto"
                          *ngIf="didNotUnderstandConceptsObj.length"
                        >
                          <div
                            *ngFor="let concept of didNotUnderstandConceptsObj"
                            style="display: inline-block"
                          >
                            <span
                              class="px-1 py-1 text-[#8b8b8b] bg-[#E3F2FD] font-semibold text-xs my-1 mx-0.5 flex align-center w-max active:bg-gray-300 transition duration-300 ease"
                            >
                              {{ concept.name }}
                              <button
                                #notUnderstoodConcept
                                class="bg-transparent hover focus:outline-none cursor-pointer"
                                (click)="
                                  setChipConcept(concept); menu.toggle($event)
                                "
                              >
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <p-menu
                                  #menu
                                  id="notUnderstood_menu"
                                  [model]="chipMenu"
                                  [popup]="true"
                                  appendTo="body"
                                ></p-menu>
                              </button>
                            </span>
                          </div>
                        </fieldset>
                      </p-accordionTab>
                      <p-accordionTab
                        id="accordionTab2"
                        header="Not understood concepts from other slides - ({{
                          previousConceptsObj.length
                        }}) concepts"
                      >
                        <h3
                          *ngIf="!previousConceptsObj.length"
                          style="color: #0288d1"
                        >
                          No not understood concepts so far!
                        </h3>
                        <fieldset
                          id="previousConcepts"
                          #previousConcepts
                          *ngIf="previousConceptsObj.length"
                        >
                          <div
                            *ngFor="let concept of previousConceptsObj"
                            style="display: inline-block"
                          >
                            <span
                              class="px-1 py-1 text-[#8b8b8b] bg-[#E3F2FD] font-semibold text-xs my-1 mx-0.5 flex align-center w-max active:bg-gray-300 transition duration-300 ease"
                            >
                              {{ concept.name }}
                              <button
                                #notUnderstoodConcept
                                class="bg-transparent hover focus:outline-none cursor-pointer"
                                (click)="
                                  setPreviousChipConcept(concept);
                                  menuPrevious.toggle($event)
                                "
                              >
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <p-menu
                                  #menuPrevious
                                  id="notUnderstood_menu"
                                  [model]="chipMenuPrevious"
                                  [popup]="true"
                                  appendTo="body"
                                ></p-menu>
                              </button>
                            </span>
                          </div>
                        </fieldset>
                      </p-accordionTab>
                    </p-accordion>
                  </div>
                  <ng-template pTemplate="footer">
                    <div
                      *ngIf="
                        showNotUnderstoodConceptsList &&
                        mainConceptsTab &&
                        kgSlideReceivedResponse
                      "
                      style="margin: 0 20%"
                    >
                      <span id="recommendationSpan">
                        <button
                          pButton
                          pRipple
                          type="button"
                          *ngIf="!disableShowRecommendationsButton"
                          id="recommendationButton"
                          class="p-button-sm p-button-rounded"
                          label="Show Recommendations"
                          pTooltip="Show recommendations for not understood concepts"
                          style="font-size: 17px; max-height: 95%"
                          (click)="showRecommendations()"
                        >
                          <p-progressSpinner
                            *ngIf="showRecommendationButtonClicked"
                            [style]="{ width: '20px', height: '20px' }"
                            styleClass="custom-spinner"
                            strokeWidth="8"
                            animationDuration=".5s"
                          ></p-progressSpinner>
                        </button>
                        <button
                          pButton
                          pRipple
                          type="button"
                          id="recommendationButton"
                          *ngIf="disableShowRecommendationsButton"
                          class="p-button-sm showRecommendations p-button-rounded"
                          label="Show Recommendations"
                          pTooltip="Select not understood concept(s) to get recommended"
                          style="
                            font-size: 17px;
                            max-height: 95%;
                            background-color: #e0e0e0;
                            color: #8b8b8b;
                            cursor: auto;
                          "
                          (click)="showRecommendations()"
                        ></button>
                      </span>
                    </div>
                  </ng-template>
                </p-sidebar>

                <button
                  id="hideNonUnderstoodPanel"
                  (click)="showConceptsListSidebar = false; hideConceptsList()"
                  pTooltip="Hide sidebar"
                >
                  <i class="pi pi-chevron-left"></i>
                </button>
              </div>

              <div
                class="profile-main-loader"
                *ngIf="kgSlideReceivedResponse == false"
              >
                <div class="loader">
                  <p-progressSpinner
                    [style]="{ width: '80px', height: '80px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="var(--surface-ground)"
                    animationDuration=".5s"
                  ></p-progressSpinner>
                </div>
              </div>
              <div
                class="flex-1 flex items-center justify-center"
                *ngIf="
                  mainConceptsTab &&
                  kgSlideReceivedResponse &&
                  kgSlideResponseEmpty
                "
              >
                <div>
                  The knowledge graph for this learning material has not been
                  created yet. Once it’s created, you can view the Main Concepts
                  related to this slide here.
                </div>
              </div>
              <div
                id="graphSection"
                class="dialogContents sidebarShown"
                *ngIf="
                  mainConceptsTab &&
                  kgSlideReceivedResponse &&
                  !kgSlideResponseEmpty
                "
              >
                <!--knowledge graph component-->
                <div class="card">
                  <app-graph
                    [conceptMapData]="filteredMapData"
                    [selectedFilterValues]="selectedFilterValues"
                    [topNConcepts]="selectedTopConcepts"
                    [filterUpdated]="false"
                    [materialKnowledgeGraph]="false"
                    [slideKnowledgeGraph]="true"
                    [recommenderKnowledgeGraph]="false"
                    [cyHeight]="cyHeight"
                    (editConcept)="editConcept($event)"
                    (conceptDeleted)="deleteConcept($event)"
                  >
                  </app-graph>
                </div>
              </div>

              <div
                id="graphSection"
                *ngIf="recommendedConceptsTab"
                class="tab mainConcepts sidebarShown"
              >
                <div class="card" style="display: inline; z-index: 15">
                  <app-graph-recommedned
                    [conceptMapRecData]="filteredMapRecData"
                    [selectedFilterValues]="selectedFilterValues"
                    [topNConcepts]="selectedTopConcepts"
                    [filterUpdated]="false"
                    [materialKnowledgeGraph]="false"
                    [slideKnowledgeGraph]="true"
                    [recommenderKnowledgeGraph]="true"
                    [cyHeight]="cyHeight"
                  >
                  </app-graph-recommedned>
                </div>
              </div>
              <div *ngIf="recommendedMaterialsTab" class="tab mainConcepts">
                <div class="profile-main-loader">
                  <div class="loader">
                    <p-progressSpinner
                      *ngIf="this.resultMaterials == null"
                      [style]="{ width: '80px', height: '80px' }"
                      styleClass="custom-spinner"
                      strokeWidth="8"
                      fill="var(--surface-ground)"
                      animationDuration=".5s"
                    ></p-progressSpinner>
                  </div>
                </div>
                <app-result-view
                  *ngIf="this.resultMaterials != null"
                  [concepts1]="concepts1"
                  [results1]="resultMaterials"
                >
                </app-result-view>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </p-dialog>
  </div>
</div>
