<p-toast key="emptyList" position="bottom-left"></p-toast>
<p-toast position="bottom-left" key="server_response"></p-toast>

<div
  *ngIf="showMaterialKg === true && showCourseKg === false"
  (window:resize)="onResize($event)"
  style="z-index: 99"
>
  <p-dialog
    id="higherLevelsKG"
    header="{{ this.currentMaterial?.name }}"
    [(visible)]="this.showMaterialKg"
    [blockScroll]="true"
    (onShow)="materialKgActivated = true"
    (onHide)="onSubmitCancel()"
    [style]="{
      position: 'relative',
      top: '0px',
      width: '90%',
      height: '90%',
      padding: 0,
      margin: 0
    }"
    maskStyleClass="dialogMask"
  >
    <hr style="margin-bottom: 0.25rem" />
    <ng-container>
      <div style="position: relative">
        <span *ngIf="conceptMapData" style="text-align: left">
          Top-N Main Concepts
          <p-dropdown
            [options]="top_n_nodes"
            [(ngModel)]="selectedTopN"
            optionLabel="name"
            optionValue="code"
            (onChange)="selectedTopNodes(selectedTopN)"
            icon="pi"
          ></p-dropdown>
        </span>
        <div id="materialKgControlPanel" class="noContentRecieved">
          <span *ngIf="conceptMapData">
            <span
              id="checkBoxes"
              style="margin-right: 1rem"
              *ngFor="let option of selectedCheckOptions"
              class="p-field-checkbox"
            >
              <p-checkbox
                name="nodesType"
                value="option"
                [value]="option"
                [(ngModel)]="selectedOption"
                [inputId]="option.key"
                *ngIf="option.key !== 'annotation'"
                (onChange)="updateSingleChecked(option.key)"
              ></p-checkbox>
              <p-checkbox
                name="nodesType"
                value="option"
                [value]="option"
                [(ngModel)]="selectedOption"
                [inputId]="option.key"
                *ngIf="option.key === 'annotation'"
                [readonly]="true"
                (onChange)="updateSingleChecked(option.key)"
              ></p-checkbox>
              <label class="checkLabel" [for]="option.key">{{
                option.name
              }}</label>
            </span>
          </span>
          <!-- <button
            pButton
            pRipple
            id="didNotUnderstandButton"
            type="button"
            (click)="getConceptMapData()"
            label="Start"
            icon="pi pi-play"
            iconPos="right"
            pTooltip="Get Knowledge Graph"
            class="p-button-rounded"
            style="font-size: 15px"
          >
            <p-progressSpinner
              *ngIf="isLoading"
              [style]="{ width: '20px', height: '20px' }"
              styleClass="custom-spinner"
              strokeWidth="8"
              animationDuration=".5s"
            ></p-progressSpinner>
          </button> -->
        </div>
      </div>
      <hr
        *ngIf="conceptMapData"
        style="margin-bottom: 0.25rem; margin-top: 0.25rem"
      />
      <div class="graphBody" id="slideKgDialogDiv" style="display: block">
        <div class="dialogTabs">
          <!-- <span style="white-space: nowrap; display: inline">
              <p-tabMenu [model]="tabsLevel" [activeItem]="tabsLevel[0]">
              </p-tabMenu>
            </span> -->
          <div class="contentKgDialog" style="display: flex">
            <div class="profile-main-loader" *ngIf="isLoading">
              <div class="loader">
                <p-progressSpinner
                  [style]="{ width: '80px', height: '80px' }"
                  styleClass="custom-spinner"
                  strokeWidth="8"
                  fill="var(--surface-ground)"
                  animationDuration=".5s"
                ></p-progressSpinner>
              </div>
            </div>
            <div class="sidebarHidden">
              <app-graph
                [conceptMapData]="filteredMapData"
                [selectedFilterValues]="selectedFilterValues"
                [topNConcepts]="selectedTopConcepts"
                [filterUpdated]="filterUpdated"
                [materialKnowledgeGraph]="true"
                [slideKnowledgeGraph]="false"
                [recommenderKnowledgeGraph]="false"
                [cyHeight]="cyHeight"
                [cyWidth]="cyWidth"
                [showMaterialKg]="showMaterialKg"
                [showCourseKg]="showCourseKg"
              >
              </app-graph>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </p-dialog>
</div>
<div
  *ngIf="showMaterialKg === false && showCourseKg === true"
  (window:resize)="onResize($event)"
  style="z-index: 99"
>
  <p-dialog
    id="higherLevelsKG"
    header=" {{ kgTitle }}"
    [(visible)]="this.showCourseKg"
    [blockScroll]="true"
    (onHide)="onSubmitCancel()"
    (onShow)="courseKgShown()"
    [style]="{
      position: 'relative',
      top: '0px',
      width: '90%',
      height: '90%',
      padding: 0,
      margin: 0
    }"
    maskStyleClass="dialogMask"
  >
    <hr style="margin-bottom: 0.25rem" />
    <ng-container>
      <div style="position: relative">
        <span *ngIf="conceptMapData" style="text-align: left">
          Top-N Main Concepts
          <p-dropdown
            [options]="top_n_nodes"
            [(ngModel)]="selectedTopN"
            optionLabel="name"
            optionValue="code"
            (onChange)="selectedTopNodes(selectedTopN)"
          ></p-dropdown>
        </span>
        <div id="materialKgControlPanel" class="noContentRecieved">
          <span *ngIf="conceptMapData">
            <!-- <span
                id="checkBoxes"
                style="margin-right: 1rem"
                *ngFor="let option of selectedCheckOptions"
                class="p-field-checkbox"
              >
                <p-checkbox
                  name="nodesType"
                  value="option"
                  [value]="option"
                  [(ngModel)]="selectedOption"
                  [inputId]="option.key"
                  *ngIf="option.key !== 'annotation'"
                  (onChange)="updateSingleChecked(option.key)"
                ></p-checkbox>
                <p-checkbox
                  name="nodesType"
                  value="option"
                  [value]="option"
                  [(ngModel)]="selectedOption"
                  [inputId]="option.key"
                  *ngIf="option.key === 'annotation'"
                  [readonly]="true"
                  (onChange)="updateSingleChecked(option.key)"
                ></p-checkbox>
                <label class="checkLabel" [for]="option.key">{{
                  option.name
                }}</label>
              </span> -->
          </span>
          <!-- <button
            pButton
            pRipple
            id="didNotUnderstandButton"
            type="button"
            (click)="getConceptMapData()"
            label="Start"
            icon="pi pi-play"
            iconPos="right"
            pTooltip="Get Knowledge Graph"
            class="p-button-rounded"
            style="font-size: 15px"
          >
            <p-progressSpinner
              *ngIf="isLoading"
              [style]="{ width: '20px', height: '20px' }"
              styleClass="custom-spinner"
              strokeWidth="8"
              animationDuration=".5s"
            ></p-progressSpinner>
          </button> -->
        </div>
      </div>
      <hr
        *ngIf="conceptMapData"
        style="margin-bottom: 0.25rem; margin-top: 0.25rem"
      />
      <div class="graphBody" id="slideKgDialogDiv" style="display: block">
        <div class="dialogTabs">
          <div class="contentKgDialog" style="display: flex">
            <div class="profile-main-loader" *ngIf="isLoading">
              <div class="loader">
                <p-progressSpinner
                  [style]="{ width: '80px', height: '80px' }"
                  styleClass="custom-spinner"
                  strokeWidth="8"
                  fill="var(--surface-ground)"
                  animationDuration=".5s"
                ></p-progressSpinner>
              </div>
            </div>
            <div class="sidebarHidden">
              <app-graph
                [conceptMapData]="filteredMapData"
                [selectedFilterValues]="selectedFilterValues"
                [topNConcepts]="selectedTopConcepts"
                [filterUpdated]="filterUpdated"
                [materialKnowledgeGraph]="true"
                [slideKnowledgeGraph]="false"
                [recommenderKnowledgeGraph]="false"
                [cyHeight]="cyHeight"
                [cyWidth]="cyWidth"
                [showMaterialKg]="showMaterialKg"
                [showCourseKg]="showCourseKg"
              >
              </app-graph>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </p-dialog>
</div>

<div *ngIf="showSlideKg === true" (window:resize)="onResize($event)">
  <div class="mod-all-kg">
    <p-dialog
      header="{{ this.currentMaterial?.name }} - slide {{ kgCurrentPage }}"
      [(visible)]="this.showSlideKg"
      [blockScroll]="true"
      (onShow)="userConceptsStatus()"
      (onHide)="onSubmitCancel()"
      [style]="{
        position: 'relative',
        top: '0px',
        width: '90%',
        height: '90%',
        padding: 0,
        margin: 0
      }"
      maskStyleClass="dialogMask"
    >
      <ng-container>
        <div class="graphBody" id="slideKgDialogDiv">
          <div class="dialogTabs">
            <span style="white-space: nowrap; display: inline">
              <div (click)="disabledTabClicked()">
                <p-tabMenu
                  id="deActivatedTabs"
                  *ngIf="!kgTabsActivated"
                  [model]="tabs"
                  [activeItem]="tabs[0]"
                ></p-tabMenu>
              </div>
              <p-tabMenu
                *ngIf="kgTabsActivated"
                [model]="tabs"
                [activeItem]="tabs[1]"
              ></p-tabMenu>
            </span>
            <div class="contentKgDialog" style="display: flex">
              <!-- Parent -->
              <p-badge
                id="dnuConceptsBadge"
                *ngIf="
                  !hideChevronRightButton &&
                  kgSlideReceivedResponse &&
                  !recommendedMaterialsTab &&
                  didNotUnderstandConceptsObj
                "
                [value]="badgeMessage"
                severity="warning"
              ></p-badge>
              <p-badge
                id="dnuConceptsBadge"
                *ngIf="
                  !hideChevronRightButton &&
                  kgSlideReceivedResponse &&
                  !recommendedMaterialsTab &&
                  didNotUnderstandConceptsObj &&
                  badgeChanged
                "
                [value]="badgeMessage"
                severity="warning"
                styleClass="conceptsListChanged"
              ></p-badge>
              <button
                id="showNonUnderstoodPanel"
                *ngIf="
                  !hideChevronRightButton &&
                  kgSlideReceivedResponse &&
                  !recommendedMaterialsTab
                "
                pButton
                type="button"
                (click)="showConceptsList()"
                label="Show Not Understood Concepts Lists"
                icon="pi pi-chevron-right"
                iconPos="right"
                pTooltip="Show list of not understood concepts"
                class="p-button-secondary p-button-rounded"
              ></button>
              <div
                id="flexboxNotUnderstood"
                *ngIf="hideChevronRightButton && !recommendedMaterialsTab"
                style="display: inline-block"
              >
                <p-sidebar
                  [(visible)]="showConceptsListSidebar"
                  [baseZIndex]="-1"
                  [dismissible]="false"
                  (onHide)="hideConceptsList()"
                  [showCloseIcon]="false"
                  styleClass="mediumSize"
                  [autoZIndex]="false"
                >
                <ng-template pTemplate="header">
                  <h3 style="color: #0288d1; font-size: 1em">
                    Not Understood Concepts Lists
                  </h3>
                </ng-template>
                  <div style="position: relative">
                    <p-accordion [multiple]="true">
                      <p-accordionTab
                        id="accordionTab1"
                        header="Not understood concepts from this slide - ({{
                          didNotUnderstandConceptsObj.length
                        }}) concepts "
                        [selected]="true"
                      >
                        <h3
                          *ngIf="!didNotUnderstandConceptsObj.length"
                          style="color: #0288d1"
                        >
                          Select not understood concept(s) from the graph
                        </h3>
                        <fieldset
                          id="currentConcepts"
                          #currentConcepts
                          style="max-height: 100px; overflow-y: auto"
                          *ngIf="didNotUnderstandConceptsObj.length"
                        >
                          <div
                            *ngFor="let concept of didNotUnderstandConceptsObj"
                            style="display: inline-block"
                          >
                            <span
                              class="px-1 py-1 text-[#495057] bg-[#E3F2FD] font-semibold text-xs my-1 mx-0.5 flex align-center w-max active:bg-gray-300 transition duration-300 ease"
                            >
                              {{ concept.name }}
                              <button
                                #notUnderstoodConcept
                                class="bg-transparent hover focus:outline-none cursor-pointer"
                                (click)="
                                  setChipConcept(concept); menu.toggle($event)
                                "
                              >
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <p-menu
                                  #menu
                                  id="notUnderstood_menu"
                                  [model]="chipMenu"
                                  [popup]="true"
                                  appendTo="body"
                                ></p-menu>
                              </button>
                            </span>
                          </div>
                        </fieldset>
                      </p-accordionTab>
                      <p-accordionTab
                        id="accordionTab2"
                        header="Not understood concepts from other slides - ({{
                          previousConceptsObj.length
                        }}) concepts"
                      >
                        <h3
                          *ngIf="!previousConceptsObj.length"
                          style="color: #0288d1"
                        >
                          No not understood concepts so far!
                        </h3>
                        <fieldset
                          id="previousConcepts"
                          #previousConcepts
                          style="max-height: 75px; overflow-y: scroll"
                          *ngIf="previousConceptsObj.length"
                        >
                          <div
                            *ngFor="let concept of previousConceptsObj"
                            style="display: inline-block"
                          >
                            <span
                              class="px-1 py-1 text-[#495057] bg-[#E3F2FD] font-semibold text-xs my-1 mx-0.5 flex align-center w-max active:bg-gray-300 transition duration-300 ease"
                            >
                              {{ concept.name }}
                              <button
                                #notUnderstoodConcept
                                class="bg-transparent hover focus:outline-none cursor-pointer"
                                (click)="
                                  setPreviousChipConcept(concept);
                                  menuPrevious.toggle($event)
                                "
                              >
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <svg class="w-1 h-1 mt-0.5 ml-1.5">
                                  <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2"
                                    style="
                                      fill: white;
                                      stroke: #495057;
                                      stroke: width 0.5px;
                                    "
                                  />
                                </svg>
                                <p-menu
                                  #menuPrevious
                                  id="notUnderstood_menu"
                                  [model]="chipMenuPrevious"
                                  [popup]="true"
                                  appendTo="body"
                                ></p-menu>
                              </button>
                            </span>
                          </div>
                        </fieldset>
                      </p-accordionTab>
                    </p-accordion>
                  </div>
                  <ng-template pTemplate="footer">
                  <div
                    *ngIf="
                      showNotUnderstoodConceptsList &&
                      mainConceptsTab &&
                      kgSlideReceivedResponse
                    "
                    style="margin: 0 20%;"
                  >
                    <span
                      id="recommendationSpan"
                      (click)="showRecommendations()"
                    >
                      <button
                        pButton
                        pRipple
                        type="button"
                        id="recommendationButton"
                        class="p-button-sm showRecommendations p-button-rounded"
                        label="Show Recommendations"
                        [disabled]="disableShowRecommendationsButton"
                        pTooltip="Show recommendations for not understood concepts"
                        style="font-size: 17px; max-height: 95%"
                        pStyleClass="showRecoomendationsButton"
                      >
                        <p-progressSpinner
                          *ngIf="showRecommendationButtonClicked"
                          [style]="{ width: '20px', height: '20px' }"
                          styleClass="custom-spinner"
                          strokeWidth="8"
                          animationDuration=".5s"
                        ></p-progressSpinner>
                      </button>
                    </span>
                  </div>
                </ng-template>
                </p-sidebar>

                <button
                  id="hideNonUnderstoodPanel"
                  (click)="showConceptsListSidebar = false; hideConceptsList()"
                  pTooltip="Hide sidebar"
                >
                  <i class="pi pi-chevron-left"></i>
                </button>
              </div>

              <div
                class="profile-main-loader"
                *ngIf="kgSlideReceivedResponse == false"
              >
                <div class="loader">
                  <p-progressSpinner
                    [style]="{ width: '80px', height: '80px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="var(--surface-ground)"
                    animationDuration=".5s"
                  ></p-progressSpinner>
                </div>
              </div>
              <div
                id="graphSection"
                class="dialogContents sidebarShown"
                *ngIf="mainConceptsTab && kgSlideReceivedResponse"
              >
                <!--knowledge graph component-->
                <div class="card">
                  <app-graph
                    [conceptMapData]="filteredMapData"
                    [selectedFilterValues]="selectedFilterValues"
                    [topNConcepts]="selectedTopConcepts"
                    [filterUpdated]="false"
                    [materialKnowledgeGraph]="false"
                    [slideKnowledgeGraph]="true"
                    [recommenderKnowledgeGraph]="false"
                    [cyHeight]="cyHeight"
                  >
                  </app-graph>
                </div>
              </div>

              <div
                id="graphSection"
                *ngIf="recommendedConceptsTab"
                class="tab mainConcepts sidebarShown"
              >
                <div class="card" style="display: inline; z-index: 15">
                  <app-graph-recommedned
                    [conceptMapRecData]="filteredMapRecData"
                    [selectedFilterValues]="selectedFilterValues"
                    [topNConcepts]="selectedTopConcepts"
                    [filterUpdated]="false"
                    [materialKnowledgeGraph]="false"
                    [slideKnowledgeGraph]="true"
                    [recommenderKnowledgeGraph]="true"
                    [cyHeight]="cyHeight"
                  >
                  </app-graph-recommedned>
                </div>
              </div>
              <div *ngIf="recommendedMaterialsTab" class="tab mainConcepts">
                <app-result-view
                  [concepts1]="concepts1"
                  [results1]="resultMaterials"
                ></app-result-view>
                <!-- [concepts2]="concepts2"
                [results2]="resultMaterials2"
                [results3]="resultMaterials3"
                [results4]="resultMaterials4" -->
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </p-dialog>
  </div>
</div>
