<div #cyRecommenderSequence  id="cyRecommenderSequence" style=" height: 600px;"></div>
<div id="slideLegends" style="text-align: left">
    <div>
      <span>
        <div class="legend-circle-concept-slide"></div>
        New Concepts
      </span>
      <span>
        <div class="legend-circle-understood-concept-slide"></div>
        Understood Concepts
      </span>
      <span>
        <div class="legend-circle-not-understood-slide"></div>
        Not Understood Concepts
      </span>
    </div>
  </div>
  