<p-toast key="resource_bookmark_video" position="bottom-left"></p-toast>

<div class="mb-6 flex flex-row items-stretch border-b-4 border-gray-300">
  
  <!--Removed Colored Band Component -->
  
  <!-- Main Content -->
  <div class="flex flex-row flex-1 gap-6 p-4 w-full">

  <!-- Thumbnail Column -->
  <div class="flex-none">
    <img 
      (click)="readVideo(videoElement)" 
      class="object-cover rounded w-48 cursor-pointer"  
      [src]="videoElement.thumbnail" 
      alt="video thumbnail"
    />
  </div>

  <!-- Details Column -->
<div class="flex flex-col flex-1 gap-3">
    
    <div class="flex flex-row justify-between">
      <div class="w-full">
        <h3 class="title-video text-lg font-bold inline-block break-normal flex-wrap w-11/12" 
          (click)="readVideo(videoElement)" 
          [class.active]="isActive"  
          [innerHTML]="padStringToLength(videoElement?.title)">
        </h3>
      </div>

      <!-- Similarity Score and Bookmark -->
      <div class="w-3.5/12 text-sm ml-auto">
        <div class="text-[#0288d1] flex flex-row gap-2 mt-1 w-48" *ngIf="resultTabType !=='saved'">
          <!-- Popup Panel -->
          <p-overlayPanel #videoSimilarityPopup [showCloseIcon]="false" [dismissable]="true" styleClass="w-96 kp-panel">
            <div class="kp-panel-content relative">
              <span class="custom-close" (click)="videoSimilarityPopup.hide()">×</span>
              <div class="text-sm text-gray-700">
                <p>
                  This video is overall <strong>{{ (videoElement?.similarity_score * 100) | number:'1.0-0' }}%</strong> similar to the concepts used to generate recommendations.
                </p>

                <div *ngIf="coloredBandData?.document_dnu_similarity_colorband">
                  <p class="font-semibold mt-2">Similarity with concept:</p>
                  <ul class="list-disc pl-5">
                    <li 
                      *ngFor="let item of coloredBandData.document_dnu_similarity_colorband | keyvalue"
                      [innerHTML]="getFormattedSimilarityText(item.key, item.value)">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </p-overlayPanel>

            <!-- Show Similarity Button -->
            <button 
              (click)="videoSimilarityPopup.toggle($event)" 
              class="bg-[#3F51B5] text-white py-2 px-4 rounded-md shadow-md hover:bg-[#2C387E] flex items-center space-x-2"
              pTooltip="Shows how similar this video is to the concepts used in recommendations"
              tooltipPosition="top"
            >
              <i class="pi pi-percentage text-white text-sm"></i>
              <span>Show similarity</span>
            </button>
          <div>
            <div class="my-auto" (click)="addToBookmark()" *ngIf="!videoElement?.is_bookmarked_fill">
              <i class="pi pi-bookmark" style="font-size: 1.2rem; color: #000000"></i>
            </div>
            <div class="my-auto" (click)="addToBookmark()" *ngIf="videoElement?.is_bookmarked_fill">
              <i class="pi pi-bookmark-fill" style="font-size: 1.2rem; color: #0277BD"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Keyphrases -->
    <div *ngIf="videoElement.keyphrases" class="flex flex-row">
      <p class="mr-2 font-semibold">Keyphrases: </p>
      <div class="flex flex-wrap gap-1">
       <!--  <div *ngFor="let concept of videoElement.keyphrases.slice(0, 5)" 
            pTooltip="Main keyphrases extracted from this video"
            class="text-xs uppercase text-chips-txt bg-gray-200 mx-1 p-1 px-2 font-semibold rounded-2xl">
          {{concept[0]}}
        </div> -->
        <div *ngFor="let concept of videoElement.keyphrases.slice(0, 5)" 
     pTooltip="Main keyphrases extracted from this video"
     class="text-xs uppercase text-chips-txt bg-gray-200 mx-1 p-1 px-2 font-semibold rounded-2xl">
  {{ cleanKeyphrase(concept[0]) }}
</div>

      </div>
    </div>

    <!-- Meta Info -->
    <div class="flex flex-row gap-2 flex-wrap gap-4">
      <div><span class="font-bold">Created at:</span> {{ videoElement.publish_time | dateAgo }}</div>
      <div><span class="font-bold">Likes:</span> {{ videoElement.like_count | number }} </div>
      <div><span class="font-bold">Views:</span> {{ videoElement.views | number }}</div>
    </div>
    <div><span class="font-bold">Author:</span> {{ videoElement.channel_title }} </div>

    <!-- Description -->
    <div class="flex flex-row">
      <p *ngIf="videoElement.description" class="mr-2 font-semibold">Description: </p>
      <p class="text-base text-gray-600">
        <ng-container *ngFor="let part of abstractParts">
          <span *ngIf="part.isKeyphrase" 
                class="font-bold text-gray-800 cursor-pointer"
                pTooltip="{{ part.keyphraseMeta?.tooltip }}"
                tooltipPosition="top"
                [escape]="false"
                (click)="showTextualSimilarityPopover(part, $event)">
            {{ part.text }}
          </span>
          <span *ngIf="!part.isKeyphrase">{{ part.text }}</span>
        </ng-container>
      </p>
    </div>

    <!-- Rating + WHY button -->
    <div class="flex flex-row justify-between">
      <div class="py-3 pl-7">
        <app-rating 
          [element]="videoElement" 
          [concepts]="concepts"
          [currentMaterial]="currentMaterial">
        </app-rating>
      </div>

      <div class="flex flex-row items-center gap-4">
        <button (click)="toggleWhy()" class="bg-[#3F51B5] text-white py-2 px-4 rounded-md shadow-md hover:bg-[#2C387E] flex items-center space-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M6 10v8M12 6v12M18 14v4" />
          </svg>
          <span>Why this video?</span>
        </button>
      </div>
    </div>

    <!-- Explanation section -->
    <div *ngIf="isWhyExpanded" class="mt-6 w-full -ml-4">
      <!-- Divider with Title -->
  <div class="relative flex items-center mb-4">
    <div class="flex-grow border-t border-gray-300"></div>
    <span class="mx-4 text-[#3F51B5] font-semibold relative px-2 bg-white">
      Why this video?
      <span class="absolute bottom-0 left-0 right-0 border-b-2 border-[#3F51B5]"></span>
    </span>
    <div class="flex-grow border-t border-gray-300"></div>
  </div>
      <p class="text-gray-700 mb-4">
        The following keyphrases extracted from the video (ordered based on their importance to the video) are similar to the concepts used to generate the recommendations, as follows:
      </p>

      <div *ngFor="let item of getTopKeyphrasesWithSimilarities(); let i = index" class="mb-3">
        <p class="text-base font-semibold text-gray-800">
          {{ i + 1 }}. <strong>{{ item.phrase }}</strong> (<strong>{{ item.weight }}%</strong>)
        </p>

        <ul class="list-disc ml-6 text-sm text-gray-700">
          <li *ngFor="let sim of item.similarities">
            <strong>{{ (sim.score * 100) | number:'1.0-0' }}%</strong> – “{{ sim.dnu }}”
          </li>
        </ul>
      </div>
    </div>

  </div>
  </div>
</div>

<p-overlayPanel
  #textualSimilarityPopover
  appendTo="body"
  [showCloseIcon]="false"
  [dismissable]="true"
  [baseZIndex]="10000"
  [style]="{ width: '400px' }"
  styleClass="kp-panel"
>
  <div class="kp-panel-content">
    <span class="custom-close" (click)="textualSimilarityPopover.hide()">×</span>
    <div class="kp-title">
      The keyphrase <strong>“{{ selectedKeyphrase }}”</strong> is most similar to the following concepts:
    </div>
    <ul class="list-disc text-sm text-gray-800 ml-5">
      <li *ngFor="let line of textualSimilarityInfo" [innerHTML]="line"></li>
    </ul>
  </div>
</p-overlayPanel>
