apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: coursemapper-kg-wp-pg

resources:
- deployment.yaml
- pvc-wp-pg-data.yaml
- pvc-wp-pg-meta.yaml
- service.yaml

vars:
- name: WP_PG_SERVICE
  objref:
    apiVersion: v1
    kind: Service
    name: wp-pg
  fieldref: {}
