<app-vis-back-button></app-vis-back-button>

<div  >
  <div class="nameDisplay">
  <p *ngFor="let sel of selectedPlatforms" class="platformName">{{ sel }}  </p>
  </div>
  <div>
    <div class="category">By Topics</div>
CHART
  </div>
  <div>
    <div class="category">By course</div>
CHART
  </div>

  <div>
    <div class="category">By Teacher</div>
<app-compare-platforms-teachers></app-compare-platforms-teachers>
  </div>


  <div>
    <div class="category">By Institution</div>
Chart
  </div>
</div>
