.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Gap between grid items */
  border: 2px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  height: 100%;
;
}

.grid-item {
  padding: 5px;

}

.chart{
  border: 2px solid lightgrey;
  border-radius: 10px;
  height: 18em;
  width: 100%;

}
