pdf-viewer {
    flex: 1; /* taking up the full width and height of the parent component */
    z-index: 1;
    display: flex;
    height: 100%;
    width: 100%;
    border: 2px solid #0000004D;
}

app-pdf-drawbox{
    position: absolute;
    z-index: 2;
}

:host ::ng-deep #didNotUnderstandButton{
    /* position: absolute; */
    font-size: 14px;
    color: #ffffff;
    background: #EB590D;
    border: #EB590D;
}
:host ::ng-deep #p_paginator{
    margin-left: 22%;
    margin-right: auto;
}
/* :host ::ng-deep .p-paginator{
    margin-left: auto;
} */

:host ::ng-deep .annotationItem {
  scroll-margin-top: 100px;
}
