<div class="flex flex-row">
  <div class="flex flex-col w-100 space-y-2">
    <app-pdf-annotation-toolbar></app-pdf-annotation-toolbar>



    <div
      (mousemove)="mouseEventHandler($event)"
      (mousedown)="mouseEventHandler($event)"
      (mouseup)="mouseEventHandler($event)"
      (click)="mouseEventHandler($event)"
      class="relative"
    >

      <app-pdf-drawbox></app-pdf-drawbox>

      <pdf-viewer
      [src]="docURL"
      [render-text]="true"
      [render-text-mode]="2"
      (pagechanging)="pagechanging($event)"
      [fit-to-page]="true"
      [original-size]="true"
      (after-load-complete)="handlePdfLoaded($event)"
      (page-rendered)="pageRendered($event)"
      [show-all]="false"
      [page]="currentPage"
      [zoom]="pdfZoom$ | async"
    >
    </pdf-viewer>

    </div>

    <div style="border: 2px solid #0000004D;">
      <p-paginator
        [rows]="1"
        [showJumpToPageDropdown]="true"
        [showPageLinks]="false"
        [totalRecords]="totalPages"
        (onPageChange)="paginate($event)"
      ></p-paginator>
    </div>
  </div>

  <div class="flex flex-col space-y-7 px-10 basis-full">
    <p-dialog
      *ngIf="isAnnotationDialogVisible$ | async"
      [visible]="true"
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      [closable]="false"
    >
      <app-pdf-create-annotation appendTo="body"></app-pdf-create-annotation>
    </p-dialog>
    <div class="create-annotation">
      <app-pdf-create-annotation></app-pdf-create-annotation>
    </div>
    <app-pdf-comment-panel></app-pdf-comment-panel>
  </div>
</div>
