<div class="flex flex-row h-full">
  <div
    class="flex flex-col w-full space-y-1 basis-full materialContainer h-full"
  >
    <app-pdf-annotation-toolbar></app-pdf-annotation-toolbar>
    <div
      (mousemove)="mouseEventHandler($event)"
      (mousedown)="mouseEventHandler($event)"
      (mouseup)="mouseEventHandler($event)"
      (click)="mouseEventHandler($event)"
      class="relative pdfViewerContainer"
    >
      <app-pdf-drawbox></app-pdf-drawbox>

      <pdf-viewer
        [src]="docURL"
        [render-text]="true"
        [render-text-mode]="2"
        [fit-to-page]="true"
        [original-size]="true"
        (after-load-complete)="handlePdfLoaded($event)"
        (page-rendered)="pageRendered($event)"
        [show-all]="false"
        [page]="currentPDFPage$ | async"
        [zoom]="pdfZoom$ | async"
      >
        <!--         (after-load-complete)="afterLoadComplete($event)" -->
      </pdf-viewer>
      <app-pdf-annotation-summary
        #annotationSummary
        [annotationId]="selectedNoteId"
      ></app-pdf-annotation-summary>
    </div>
    <div
      style="
        border: 1px solid #0000004d;
        display: inline-flex;
        text-align: center;
        z-index: 8;
      "
    >
      <!-- style="margin: auto;" -->
      <!-- style="margin-left: auto" -->
      <p-paginator
        id="p_paginator"
        [rows]="1"
        [showJumpToPageDropdown]="true"
        [showPageLinks]="false"
        [totalRecords]="totalPages"
        [first]="(currentPDFPage$ | async) - 1"
        (onPageChange)="pagechanging($event)"
      >
      </p-paginator>
      <span
        style="
          position: relative;
          margin-top: auto;
          margin-bottom: auto;
          margin-right: 5px;
          margin-left: 0;
        "
      >
        <button
          pButton
          pRipple
          id="didNotUnderstandButton"
          type="button"
          label="Did Not Understand"
          class="p-button-rounded p-button-sm p-button-info"
          icon="pi pi-question-circle"
          iconPos="right"
          pTooltip="View slide knowledge graph"
          style="position: relative"
          styleClass="dnuSlideButton"
          (click)="onConceptMapButtonClicked(true)"
        >
          <app-iconbutton
            icon="bx-network-chart"
            color="text-white"
          ></app-iconbutton>
        </button>
      </span>
    </div>
  </div>

  <div class="flex flex-col ml-5 basis-2/4 max-w-2xl annotation-panel">
    <p-dialog
      *ngIf="isAnnotationDialogVisible$ | async"
      [visible]="true"
      [breakpoints]="{ '960px': '75vw', '600px': '100vw' }"
      [style]="{ width: '50vw' }"
      [closable]="false"
      [showHeader]="false"
    >
      <div class="mt-5">
        <app-pdf-create-annotation appendTo="body"></app-pdf-create-annotation>
      </div>
    </p-dialog>
    <div class="create-annotation">
      <app-pdf-create-annotation></app-pdf-create-annotation>
    </div>
    <app-pdf-comment-panel></app-pdf-comment-panel>
  </div>
</div>
<p-toast position="bottom-left" key="annotation-toast"></p-toast>
