<p-accordion class="custom" expandIcon="pi pi-chevron-right" collapseIcon="pi pi-chevron-down" [activeIndex]="0">
  <p-accordionTab *ngFor="let item of permissions">
    <ng-template pTemplate="header">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <div style="font-weight:500  ; font-size: 18px; color: black;">
          {{ formatRoleName(item.name) }}
          <br />
          <span style="font-size: 14px; font-weight: normal;">
            <ng-container *ngIf="item.name === 'co_teacher'; else teachingAssistantText">
              <span style="display: block;">By default, a {{ formatRoleName(item.name) }} has the same permissions as the teacher, except the ability to delete a course.</span>
              <span style="display: block; margin-top: 1px;">You can customize the permissions for the {{ formatRoleName(item.name) }} further below.</span>
            </ng-container>
            <ng-template #teachingAssistantText>
              <span style="display: block;">By default, a {{ formatRoleName(item.name) }} does not have permissions to create, edit, or delete any course content.</span>
              <span style="display: block; margin-top: 1px;">You can customize the permissions for the teaching assistant further below.</span>
            </ng-template>
          </span>
        </div>
       
        
      </div>
    </ng-template>

    <div class="permissions-form" *ngFor="let data of item.data">
      <div class="permission-category">
        <div class="flex mb-3">
          <p-checkbox
            [(ngModel)]="data.role.checked"
            [inputId]="item.name + data.role.title"
            [binary]="true"
            (onChange)="toggleAllPermissions(data, $event)"
          ></p-checkbox>
          <label [for]="item.name + data.role.title" class="ml-2">{{ data.role.title }}</label>
        </div>
      </div>

      <div class="permission-category">
        <div class="permission-item ml-4" *ngFor="let ele of data.list; let i = index">
          <p-checkbox
            [(ngModel)]="ele.checked"
            [inputId]="item.name + data.role.title + i + ele.name"
            [binary]="true"
            (onChange)="uncheckParent(data)"
          ></p-checkbox>
          <label [for]="item.name + data.role.title + i + ele.name">{{ ele.label }}</label>
        </div>
      </div>
    </div>

    <div class="w-100 text-end">
      <button
        pButton
        pRipple
        label="Save Permissions"
        (click)="savePermissions(item)"
      ></button>
    </div>
  </p-accordionTab>
</p-accordion>

<!-- Loading Overlay -->
<div *ngIf="isLoading" class="loading-overlay">
  <p-progressSpinner ariaLabel="loading" />
</div>