<app-vis-back-button></app-vis-back-button>


<div style="text-align: center" >
  <div><p class="find-by-topic">Find by Topic</p></div>
  <div >
    <span class="p-input-icon-right">
    <input type="text" pInputText
           (ngModelChange)="onTextInput($event)"
           placeholder="Search by Topic"
           [(ngModel)]="searchQuery" style="width: 30em"/>
    <i class="pi pi-search"></i>
</span>
  </div>
  <div >
    <button style="margin-top: 1em" class="button"
            [ngClass]="{'active': hasInput}"
            [disabled]="!hasInput"
            (click)="search(searchQuery)">Search</button>
  </div>




</div>
