


.moveToRight {
  margin-left: 20px;
}

.confirm-button {
  background-color: lightblue;
  color: white;
}
:host ::ng-deep .p-toast {
  width:350px;
  font-size: 15px;
}
:host ::ng-deep .p-toast .p-toast-message-icon{
  font-size: 2em !important;
}
.confirmViaEnter{
  background-color: #FF6600;
}




