<div class="relative w-72 h-screen bg-gray-100 shadow-lg">
  <div class="h-max w-72 m-0 flex flex-col bg-gray-100">
    <div class="flex items-start justify-between py-4 pl-3 bg-gray-200">
      <p class="flex w-56 text-xl font-semibold">
        <!-- Learning Analytics -->
        Neuroinformatik und Organic Computing Vorlesung WS21/22
      </p>
      <app-iconbutton
        icon="bx-dots-vertical-rounded"
        color="text-black"
        (onClick)="showMenu()"
      ></app-iconbutton>
    </div>

    <app-topic-dropdown></app-topic-dropdown>

    <div
      class="flex flex-col items-center justify-start m-0 z-10 hover:bg-white transition-all cursor-pointer"
    >
      <div class="m-0 w-full mx-2 transition duration-300 ease-in-out">
        <div class="flex flex-row items-center justify-between mx-0 my-1.5">
          <div class="flex flex-row items-center">
            <app-iconbutton icon="bx-plus" color="text-black"></app-iconbutton>
            <p class="text-md italic font-semibold">Add Topic</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
