<div class="relative w-72 h-screen bg-gray-200 shadow-lg">
  <div class="h-max w-72 m-0 flex flex-col bg-gray-200">
    <div class="flex items-start justify-between py-4 px-3 bg-gray-300">
      <p class="flex w-56 text-xl font-semibold">
        <!-- Learning Analytics -->
        Neuroinformatik und Organic Computing Vorlesung WS21/22
      </p>

      <app-iconbutton
        icon="bx-dots-vertical-rounded"
        color="text-black"
        (onClick)="showMenu()"
      ></app-iconbutton>
    </div>
    <div class="subscribe">
      <button
        pButton
        formControlName="subscribed"
        (click)="subscribeToCourse($event)"
        type="button"
        [label]="subscribeLabel"
        [ngClass]="subscribed ? 'subscribed' : 'unsubscribe'"
        class="subscribe-button"
      ></button>
    </div>
    <div class="flex flex-col items-center justify-start p-1 m-0 z-10">
      <div class="m-0 w-full px-2 pb-2 transition duration-300 ease-in-out">
        <div
          class="flex flex-row items-center justify-evenly mx-0 cursor-pointer"
        >
          <i
            class="bx bx-chevron-down text-accent text-opacity-80 my-auto mr-1"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
