.subscribe {
  margin-top: 1rem;
  display: flex;
  margin-left: 5rem;
  margin-top: 1rem;
}
.subscribe-label,
.subscribed-label {
  margin-left: 10px;
}
.subscribed-label {
  color: green;
}

.p-inputswitch .p-inputswitch-slider {
  width: 40px;
  height: 18px;
  margin-top: 0.7rem;
  margin-left: 0.2rem;
}

.unsubscribe {
  background-color: rgba(3, 105, 161, 255);
  border-color: rgba(3, 105, 161, 255);
}

.subscribe-button:hover,
:focus {
  background-color: rgba(3, 105, 161, 255);
}

.subscribe-button:enabled :focus {
  background-color: rgba(3, 105, 161, 255);
}

:host::ng-deep .p-button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
  background-color: rgba(3, 105, 161, 255);
}
.subscribed {
  background-color: gray;
}
.moveToRight {
  margin-left: 20px;
}
.confirm-button {
  background-color: lightblue;
  color: white;
}
