<div class="">
    <div *ngIf="selectedCourse && tagsForCourse.length > 0" #TagsForCourse>
        <p-divider align="center"></p-divider>
        <div class="mb-3">
          <p class="text-xl font-semibold justify-center">
            Tags for {{ selectedCourse?.name }}
          </p>
        </div>
        <div class="flex flex-row flex-wrap">
          <span
            class="bg-[#0277BD] text-[#FFFFFF] font-semibold rounded-full text-sm px-[0.5rem] py-[0.25rem] m-1 hover:underline break-all cursor-pointer"
            *ngFor="let tag of tagsForCourse | slice:0:10" (click)="navigateToTagPage(tag)"
            >{{ tag?.name }}</span
          >
        </div>
      </div>

    <div *ngIf="selectedTopic && tagsForTopic.length > 0" #TagsForTopic>
        <p-divider align="center"></p-divider>
        <div class="mb-3">
          <p class="text-xl font-semibold justify-center">
            Tags for {{ selectedTopic?.name }}
          </p>
        </div>
        <div class="flex flex-row flex-wrap">
          <span
          class="bg-[#0277BD] text-[#FFFFFF] font-semibold rounded-full text-sm px-[0.5rem] py-[0.25rem] m-1 hover:underline break-all cursor-pointer"
            *ngFor="let tag of tagsForTopic | slice:0:10 " (click)="navigateToTagPage(tag)"
            >{{ tag?.name }}</span
          >
        </div>
      </div>

  <div *ngIf="selectedChannel && tagsForChannel.length > 0" #TagsForChannel>
    <p-divider align="center"></p-divider>
    <div class="mb-3">
      <p class="text-xl font-semibold justify-center">
        Tags for {{ selectedChannel?.name }}
      </p>
    </div>
    <div class="flex flex-row flex-wrap">
      <span
      class="bg-[#0277BD] text-[#FFFFFF] font-semibold rounded-full text-sm px-[0.5rem] py-[0.25rem] m-1 hover:underline break-all cursor-pointer"
        *ngFor="let tag of tagsForChannel | slice:0:10" (click)="navigateToTagPage(tag)"
        >{{ tag?.name }}</span
      >
    </div>
  </div>

  <div *ngIf="selectedMaterial && tagsForMaterial.length > 0" #TagsForMaterial>
    <p-divider align="center"></p-divider>
    <div class="mb-3">
      <p class="text-xl font-semibold justify-center">
        Tags for {{ selectedMaterial?.name }}
      </p>
    </div>
    <div class="flex flex-row flex-wrap">
      <span
      class="bg-[#0277BD] text-[#FFFFFF] font-semibold rounded-full text-sm px-[0.5rem] py-[0.25rem] m-1 hover:underline break-all cursor-pointer"
        *ngFor="let tag of tagsForMaterial | slice:0:10" (click)="navigateToTagPage(tag)"
        >{{ tag?.name }}</span
      >
    </div>
  </div>
</div>
