<div class="sidebar-container">
  <app-sidebar></app-sidebar>
</div>

<app-tab-menu
  [tabOptions]="tabOptions"
  [activeItem]="activeItem"
  (onTabChange)="onTabSwitched($event)"
  #menu
>
</app-tab-menu>

<div class="flex justify-between items-center">
  <p-multiSelect
    [options]="courseOptions"
    [(ngModel)]="selectedCourses"
    [displaySelectedLabel]="false"
    optionLabel="name"
    optionValue="id"
    (onChange)="onCourseFilterChanged($event)"
    placeholder="Select Courses"
    defaultLabel="Select Courses"
    [showClear]="true"
  ></p-multiSelect>
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      placeholder="Search Notifications"
      type="text"
      pInputText
      [(ngModel)]="searchValue"
    />
  </span>
  <div>
    <p-dropdown
      [options]="dateSortingOptions"
      [(ngModel)]="selectedDateSortingOption"
    ></p-dropdown>
  </div>
</div>
<div class="flex items-center gap-8 mt-4 mb-4">
  <div>
    <app-switch-input
      [isChecked]="isUnreadChecked"
      (onSwitchToggled)="unreadSwitchToggled($event)"
    ></app-switch-input>
    <span class="ml-4">Unread only</span>
  </div>
  <div>
    <app-switch-input
      [isChecked]="isStarredChecked"
      (onSwitchToggled)="starredSwitchToggled($event)"
    ></app-switch-input>
    <span class="ml-4">View Starred</span>
  </div>
  <div class="flex gap-8 cursor-pointer" *ngIf="showBulkOperations">
    <div (click)="markSelectedAsRead($event)">
      <!--  <i class="pi pi-check" style="font-size: 2rem"></i> -->Mark as read
    </div>
    <div (click)="markSelectedAsUnread($event)">Mark as unread</div>
    <div (click)="removeSelected($event)">Delete</div>
  </div>
</div>
<div>
  <ng-container *ngIf="loading$ | async; else notificationsArrived">
    Loading....
  </ng-container>

  <ng-template #notificationsArrived>
    <ng-container *ngIf="notifications$ | async as notifications">
      <ng-container *ngIf="notifications.length > 0; else noNotifications">
        <div class="flex flex-row justify-between m-4">
          <div>
            <span>
              <p-checkbox
                [formControl]="masterCheckBox"
                class="mr-4"
                [binary]="true"
                checked
              ></p-checkbox>
              <span>Select all</span>
            </span>
          </div>
        </div>
        <ng-container [formGroup]="checkBoxesGroup">
          <ng-container *ngFor="let notification of notifications">
            <div
              [ngClass]="{
                'notification-read': notification.isRead,
                'notification-unread': !notification.isRead
              }"
            >
              <p-checkbox
                name="selectedNotificationGroup"
                [value]="notification"
                [formControlName]="notification._id"
                [binary]="true"
              ></p-checkbox>
              <app-notification-box
                [notification]="notification"
                (notificationClicked)="onNotificationClicked(notification)"
              ></app-notification-box>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #noNotifications>
        <app-no-data [message]="'There are no notifications'"></app-no-data>
      </ng-template>
    </ng-container>
  </ng-template>
</div>
