<div class="sidebar-container">
  <app-sidebar></app-sidebar>
</div>

<app-tab-menu
  [tabOptions]="tabOptions"
  [activeItem]="activeItem"
  (onTabChange)="onTabSwitched($event)"
  [menuOptions]="menuOptions"
  #menu
>
</app-tab-menu>

<div>
  <ng-container *ngIf="loading$ | async; else notificationsArrived">
    Loading....
  </ng-container>

  <ng-template #notificationsArrived>
    <ng-container *ngIf="notifications$ | async as notifications">
      <ng-container *ngIf="notifications.length > 0; else noNotifications">
        <div class="flex flex-row justify-between m-4">
          <div>
            <p-checkbox
              [formControl]="masterCheckBox"
              class="mr-4"
              [binary]="true"
              checked
            ></p-checkbox>
            <app-switch-input
              [isChecked]="isUnreadChecked"
              (onSwitchToggled)="unreadSwitchToggled($event)"
            ></app-switch-input>
            <span class="ml-4">Unread only</span>
          </div>
        </div>
        <ng-container [formGroup]="checkBoxesGroup">
          <ng-container *ngFor="let notification of notifications">
            <div
              [ngClass]="{
                'notification-read': notification.isRead,
                'notification-unread': !notification.isRead
              }"
            >
              <p-checkbox
                name="selectedNotificationGroup"
                [value]="notification"
                [formControlName]="notification._id"
                [binary]="true"
              ></p-checkbox>
              <app-notification-box
                [notification]="notification"
                (notificationClicked)="onNotificationClicked(notification)"
              ></app-notification-box>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #noNotifications> No notifications present </ng-template>
    </ng-container>
  </ng-template>
</div>
