<div>
  <div *ngIf="loggedInUser">
    <div class="flex flex-row w-full">
      <div><app-sidebar></app-sidebar></div>

      <div class="w-full">
        <div class="p-4 bg-gray-200">
          <div class="flex flex-wrap items-center gap-5">
            <div>
              <app-back-button></app-back-button>
            </div>
            <div>
              <p class="flex w-full text-xl font-semibold">
                Personal Dashboard
              </p>
            </div>
          </div>
        </div>
        <hr />
        <div class="w-full max-w-screen-2xl">
          <div class="p-4">
            <app-populate-dashboard
              [indicators]="indicators"
              [forPersonalDashboard]="forUserDashboard"
            ></app-populate-dashboard>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-left"></p-toast>
<p-confirmDialog [style]="{ width: '30vw' }"></p-confirmDialog>
