<div class="absolute left-0 z-0 h-screen w-20 bg-white"></div>
<div class="h-max w-20 m-0 flex flex-col py-4 bg-gray-600 text-white shadow-lg">
  <div class="sidebar-icon group">
    <i class="bx bx-home bx-md bx-tada-hover"></i>
    <span class="sidebar-tooltip group-hover:scale-100"> Home </span>
  </div>

  <hr class="sidebar-hr" />

  <div *ngFor="let item of array2; let i = index" [attr.data-index]="i">
    <div class="sidebar-icon group">
      <button class="text-xl">{{ item.name }}</button>
      <span class="icon-button-badge">{{ item.notification }}</span>
      <span class="sidebar-tooltip group-hover:scale-100">{{
        item.description
      }}</span>
    </div>
  </div>

  <hr class="sidebar-hr" />

  <div class="sidebar-icon group">
    <i class="bx bx-plus bx-md bx-tada-hover"></i>
    <span class="sidebar-tooltip group-hover:scale-100"> Add new course </span>
  </div>

  <div class="sidebar-icon group">
    <i class="bx bx-search bx-md bx-tada-hover"></i>
    <span class="sidebar-tooltip group-hover:scale-100">
      Search for courses
    </span>
  </div>
</div>
