<div class="absolute left-0 z-0 h-screen w-20 bg-white"></div>
<div class="h-max w-20 m-0 flex flex-col py-2 bg-gray-600 text-white shadow-lg">
  <div class="sidebar-icon group">
    <i class="bx bx-home bx-md bx-tada-hover"></i>
    <span class="sidebar-tooltip group-hover:scale-100"> Home </span>
  </div>

  <hr class="sidebar-hr"/>

  <div *ngFor="let course of courses; let i = index" (click)="onSelectCourse(course)" [attr.data-index]="i">
    <div class="sidebar-icon group">
      <button class="text-xl">{{ course.shortName }}</button>
      <span class="icon-button-badge">{{ course.notification }}</span>
      <span class="sidebar-tooltip group-hover:scale-100">{{
        course.description
        }}</span>
    </div>
  </div>

  <hr class="sidebar-hr"/>

  <div (click)="onAddCourseDialogueClicked()" class="sidebar-icon group">
    <i class="bx bx-plus bx-md bx-tada-hover"></i>
    <span class="sidebar-tooltip group-hover:scale-100"> Add new course </span>
  </div>

  <div class="sidebar-icon group">
    <i class="bx bx-search bx-md bx-tada-hover"></i>
    <span class="sidebar-tooltip group-hover:scale-100">
      Search for courses
    </span>
  </div>
</div>
<app-add-course [displayAddCourseDialogue]="displayAddCourseDialogue"
                (onCloseAddCourseDialogue)="toggleAddCoursedialogue($event)"></app-add-course>
