<ng-container>
  <div
    class="notification-content"
    *ngFor="let notificationItem of notificationItems"
    (mouseenter)="onHover()"
  >
    <div class="item-container">
      <!-- <div
      class="item-container"
      [hidden]="isStarredClicked && !notificationItem.isStar"
    > -->
      <div class="left-container">
        <div class="left">
          <p-avatar
            [label]="notificationItem.userShortname"
            styleClass="mr-5"
            [style]="{
              'background-color': 'rgba(3,105,161,255)
',
              color: '#ffffff',
              'margin-top': '5px'
            }"
            shape="circle"
          ></p-avatar>
          <div class="notification-message-container">
            <span class="userName">{{ notificationItem.userName }}</span>
            <span class="action">{{ notificationItem.action }}</span>
            <span class="action">{{ notificationItem.actionObject }}</span>
            <span class="msg-location">{{ notificationItem.name }}</span>

            <span class="msg-location">{{
              notificationItem.extraMessage
            }}</span>
            <!-- <span class="msg-location">{{
              notificationItem.message.topicName
            }}</span>
            <span class="msg-location">{{
              notificationItem.message.channelName
            }}</span> -->
          </div>
        </div>
        <span class="time">{{ notificationItem.createdAt | customDate }}</span>
      </div>
      <div [ngClass]="settingClass ? 'middle' : 'right'">
        <i
          [ngClass]="
            settingClass ? 'pi pi-circle-fill' : 'pi pi-circle-fill recent'
          "
          *ngIf="!notificationItem.read"
        ></i>
        <div
          class="context-menu-container"
          (click)="
            openContextMenu(
              $event,
              op,
              notificationItem._id,
              notificationItem.userName,
              notificationItem.userId
            )
          "
        >
          <i class="pi pi-ellipsis-h context-menu" title="more"></i>
        </div>
        <i
          [ngClass]="notificationItem.isStar ? 'pi pi-star-fill' : 'pi pi-star'"
          *ngIf="isSettingPanel"
          title="Mark item as star"
          (click)="onStar(notificationItem._id)"
        ></i>
      </div>
    </div>
    <p-divider class="divider"></p-divider>
  </div>
</ng-container>

<p-overlayPanel #op class="context" id="op">
  <ng-template pTemplate>
    <app-context-menu
      [activeItemId]="activeItemId"
      [activeName]="activeUserName"
      [activeUserId]="activeUserId"
      [isSettingPanel]="isSettingPanel"
      (onClick)="closeMenu(op)"
      (onMarkRead)="handleMarkAsRead($event)"
      (onRemove)="handleOnRemove($event)"
    ></app-context-menu>
  </ng-template>
</p-overlayPanel>
