.top {
  /* margin-top: 2rem; */
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container {
  background-color: white;
  margin-bottom: 3rem;
  border-radius: 10px;
  /* height: 12%; */
}
.filter-container {
  position: relative;
}
.type-container,
.number-container,
.star-container,
.search-container {
  display: flex;
  align-items: center;
}

.input {
  width: 20%;
}

.type-panel {
  color: red;
}

.filter-label {
  display: flex;
  align-items: center;
  font-size: 2rem;
  /* margin-left: 0.5rem; */
  font-family: "lato";
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  padding-top: 2rem;
}
.reset-btn {
  height: 100px;

  align-items: center;
  display: flex;
}

:host ::ng-deep .p-button {
  font-size: 15px;
  padding: 0.2rem;
  background-color: rgba(3, 105, 161, 255);
  border-color: rgba(3, 105, 161, 255);
}

:host ::ng-deep .p-dropdown {
  height: 35px;
  align-items: center;
  /* background-color: rgba(3, 105, 161, 255); */
}

.reset {
  text-align: center;
  left: 18%;
  position: relative;
}

:host::ng-deep .p-button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
  background-color: rgba(3, 105, 161, 255);
}
:host::ng-deep .p-button:enabled:hover {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
  background-color: rgba(3, 105, 161, 255);
}

.star-i:hover {
  background-color: whitesmoke;
}
.star-i {
  cursor: pointer;
}
.course-filter {
  /* display: flex; */
  /* justify-content: center; */
  /* margin: auto; */
  position: relative;
  width: 100%;
  /* text-align: center; */
}

:host::ng-deep .p-inputtext.p-inputtext-sm {
  height: 35px;
  /* width: 70%; */
}

:host::ng-deep .p-dropdown .p-inputtext {
  font-size: 0.9rem;
}

:host::ng-deep .p-input-icon-left,
.p-input-icon-right {
  position: relative;
  display: inline;
}

.filter-container::after {
  content: "";
  width: 1px;
  height: 40px;
  position: relative;
  background-color: #c4c4c4;
  left: 1rem;
}

.type-container::after {
  content: "";
  width: 1px;
  height: 40px;
  position: relative;
  background-color: #c4c4c4;
  left: 1.5rem;
}
.search-container::after {
  content: "";
  width: 1px;
  height: 40px;
  position: relative;
  background-color: #c4c4c4;
  left: 2rem;
}
.star-label {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.star-icon {
  text-align: center;
}
