<div class="comment-list">
  <app-annotation-comment-list-item
    *ngIf="newAnnotations"
    [annotations]="newAnnotations"
  ></app-annotation-comment-list-item>
  <div
    class="divider-container"
    *ngIf="
      newAnnotations &&
      newAnnotations.length > 0 &&
      lastTimeLoggedIn !== '1/1/1970'
    "
  >
    <p-divider class="divider" align="center" type="dashed">
      <span class="p-tag"
        >Since your last time logged in on

        <i class="pi pi-arrow-up"></i>
        {{ lastTimeLoggedIn }}
      </span>
    </p-divider>
  </div>
  <app-annotation-comment-list-item
    [annotations]="oldAnnotations ? oldAnnotations : annotations"
  ></app-annotation-comment-list-item>
</div>
<div class="comment-panel" *ngIf="isCommentVisible">
  <app-annotation-comment-panel
    [selectedAnnotation]="selectedAnnotation"
  ></app-annotation-comment-panel>
</div>
