<div class="comment-list">
  <app-annotation-comment-list-item
    *ngIf="newComments"
    [comments]="newComments"
  ></app-annotation-comment-list-item>
  <div class="divider-container" *ngIf="newComments">
    <p-divider class="divider" align="center" type="dashed">
      <span class="p-tag"
        >Since your last time logged in on

        <i class="pi pi-arrow-up"></i>
        {{ lastTimeLoggedIn }}
      </span>
    </p-divider>
  </div>
  <app-annotation-comment-list-item
    [comments]="oldComments ? oldComments : comments"
  ></app-annotation-comment-list-item>
</div>
