[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfminer = "*"
marshmallow = "*"
wikipedia = "*"
wikipedia-api = "==0.5.4"
pywikibot = "*"
mwparserfromhell = "*"
nltk = "*"
stanfordcorenlp = "*"
torch = "*"
transformers = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
sentence-transformers = "*"
neo4j = "==4.4.5"
sparqlwrapper = "*"
networkx = "*"
jinja2 = "*"
itsdangerous = "*"
youtube-transcript-api = "*"
google-api-python-client = "*"
tqdm = "*"
requests = "*"
scipy = "<1.13"
protobuf = "*"
markupsafe = "==1.1.1"
flair = "*"
spacy = "*"
python-dotenv = "*"
gunicorn = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.11.9"
