<div class="w-full items-center p-5">
  <div>
    <p class="text-4xl leading-normal font-medium">{{ selectedCourse.name }}</p>
  </div>
  <div class="flex flex-wrap justify-between">
    <div>
      <div>
        <div>
          <strong class="text-lg font-semibold">Course Description:</strong>
        </div>
        <div class="w-80">
          <div
            *ngIf="selectedCourse.description.length == 0"
            class="justify-self-start"
          >
            No description provided
          </div>
          <div class="justify-self-start" style="width: 750px;">{{ selectedCourse.description }}</div>
        </div>
        <div class="mt-4 mb-4">
          <div class="flex flex-wrap gap-5">
            <p-avatar
              label="{{ getName(this.firstName, this.lastName) }}"
              shape="circle"
              size="medium"
              [style]="{ 'background-color': '#0277BD', color: '#ffffff' ,  }"
            ></p-avatar>

            <div>
              <div>
                <p class="text-l leading-normal font-medium">
                  {{ this.firstName }}
                </p>
              </div>
              <div>
                <p>{{ role }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <button
          pButton
          class="button p-button-raised"
          type="button"
          label="Unenroll from course"
          (click)="deEnrole()"
          [disabled]="moderator"
        ></button>
      </div>
    </div>
  </div>

  <hr />
</div>

<p-toast position="bottom-left"></p-toast>
<p-confirmDialog #cd></p-confirmDialog>
