<div class="w-full items-center p-5">
  <div>
    <p class="text-4xl leading-normal font-medium">
      <span *ngIf="!isEditingName">{{ selectedCourse.name }}</span>
      <input
        style="width: 1000px"
        *ngIf="isEditingName"
        [(ngModel)]="courseName"
        type="text"
        class="text-4xl leading-normal font-medium border p-1"
      />
      <i
        *ngIf="moderator && !isEditingName"
        class="pi pi-pencil cursor-pointer"
        pTooltip="Edit course name"
        (click)="toggleEdit('name')"
        style="margin-left: 5px; font-size: 1.2rem; color: gray"
      ></i>
    </p>
  </div>

  <div>
    <div>
      <div class="w-full items-center p-5 flex justify-between">
        <!-- Course Details -->
        <div>
          <div class="mt-4">
            <!-- Created By -->
            <div class="flex items-center mb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                style="fill: #ea580c; margin-right: 8px"
              >
                <path d="M2 7v1l11 4 9-4V7L11 4z"></path>
                <path
                  d="M4 11v4.267c0 1.621 4.001 3.893 9 3.734 4-.126 6.586-1.972 7-3.467.024-.089.037-.178.037-.268V11L13 14l-5-1.667v3.213l-1-.364V12l-3-1z"
                ></path>
              </svg>
              <span class="font-medium">
                Created by: {{ firstName }} {{ lastName }}
              </span>
            </div>

            <!-- Created On -->
            <div class="flex items-center mb-2">
              <i
                class="pi pi-calendar"
                style="font-size: 1rem; color: #ea580c; margin-right: 8px"
              ></i>
              <span class="font-medium">
                Created on: {{ createdAt | date : "d MMMM yyyy" }}
              </span>
            </div>

            <!-- Enrolled Users -->
            <div class="flex items-center">
              <i
                class="pi pi-users"
                style="font-size: 1rem; color: #ea580c; margin-right: 8px"
              ></i>
              <span class="font-medium">
                {{ Users.length }} enrolled users
              </span>
            </div>
            <div>
              <button
                *ngIf="!moderator"
                pButton
                class="button p-button-raised"
                type="button"
                label="Unenroll From Course"
                [style]="{ 'background-color': '#0369A1', color: '#ffffff' }"
                (click)="deEnrole()"
              ></button>
            </div>
          </div>
        </div>

        <!-- Course Image -->
        <div class="flex-shrink-0">
          <img
            alt="Course Image"
            [src]="getCourseImage(selectedCourse)"
            class="w-64 h-36 object-cover rounded-lg shadow"
          />
          <!-- <input
            *ngIf="isEditingImage"
            type="file"
            (change)="onImageChange($event)"
            accept="image/*"
            class="mt-2"
          /> -->

          <div class="input" *ngIf="isEditingImage">
            <label for="image-file-input">Select course display image:</label>
            <p-fileUpload
              mode="advanced"
              name="file"
              id="image-file-input"
              [customUpload]="true"
              [accept]="'.jpg,.jpeg,.png'"
              [showUploadButton]="false"
              [showCancelButton]="false"
              chooseLabel="Choose a file"
              chooseIcon="pi pi-paperclip"
              (onSelect)="onImageChange($event)"
              (onRemove)="onFileRemove($event)"
              (onClear)="onFileRemove($event)"
              class="blue-button"
            ></p-fileUpload>

            <span *ngIf="!selectedFileName">No file chosen</span>
          </div>
          <i
            *ngIf="moderator && !isEditingImage"
            class="pi pi-pencil cursor-pointer"
            pTooltip="Edit course image"
            (click)="toggleEdit('image')"
            style="margin-left: 10px; font-size: 1.2rem; color: gray"
          ></i>
        </div>
      </div>

      <hr />

      <div>
        <strong class="text-lg font-semibold"><b>Course Description</b></strong>
        <i
          *ngIf="moderator && !isEditingDescription"
          class="pi pi-pencil cursor-pointer"
          pTooltip="Edit course description"
          (click)="toggleEdit('description')"
          style="margin-left: 10px; font-size: 1.2rem; color: gray"
        ></i>
      </div>
      <div>
        <div
          *ngIf="!isEditingDescription"
          [innerHTML]="sanitizedDescription || 'No description provided'"
        ></div>

        <p-editor
          (onInit)="onEditorInit($event)"
          (onTextChange)="onEditorChange($event)"
          *ngIf="isEditingDescription"
          [style]="{ height: '200px', width: '100%' }"
        ></p-editor>
      </div>

      <div
        *ngIf="isEditing"
        style="
          margin-top: 10px;
          display: flex;
          justify-content: flex-end;
          gap: 10px;
        "
      >
        <button
          pButton
          class="p-button-raised"
          type="button"
          label="Save"
          (click)="saveChanges()"
          style="height: 40px; width: 100px"
        ></button>

        <button
          pButton
          class="p-button-outlined"
          type="button"
          label="Cancel"
          (click)="cancelChanges()"
          style="
            background-color: white;
            border: 1px solid #ccc;
            color: #333;
            height: 40px;
            width: 100px;
          "
        ></button>
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-left"></p-toast>
<p-confirmDialog #cd></p-confirmDialog>
