:host ::ng-deep .ql-snow {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  :host ::ng-deep .ql-snow .ql-editor {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    text-align: left !important;
  }
  :host ::ng-deep .dynamic-editor,
  :host ::ng-deep .dynamic-editor .ql-container,
  :host ::ng-deep .dynamic-editor .ql-editor {
    height: 100% !important;
    overflow-y: auto !important;
  }
  :host ::ng-deep .ql-editor img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Optional: ensures the image covers the area without distortion */
  }

  .dynamic-editor-container {
    /* Allow the container to be resized manually */
    resize: both;
    overflow: auto;
    min-height: 200px; /* Set a minimum height */
    border: 1px solid #ccc; /* Optional: visual cue for resizing */
    padding: 8px;
  }