<div class="toolbar-container">
    <div class="tool-left">
      <span class="tool-title" style="color: #4e4e4e">Annotation Tools:</span>
      <app-iconbutton
      icon="bx-pin"
      color="text-blue-500"
      (onClick)="OnPinToolSelection()"
    ></app-iconbutton>
      <app-iconbutton
        icon="bx-shape-square"
        color="text-blue-500"
        (onClick)="OnDrawToolSelection()"
      ></app-iconbutton>
    </div>
    <span class="tool-divider"> </span>
    <div class="tool-right">
      <app-iconbutton
      icon="bx-show"
      color="text-blue-500"
      (onClick)="showHideAnnotations()"
      *ngIf="!showAnnotations"
    ></app-iconbutton>
    <app-iconbutton
    icon="bx-hide"
    color="text-blue-500"
    (onClick)="showHideAnnotations()"
    *ngIf="showAnnotations"
  ></app-iconbutton>
  </div>
  