.card {
  width: 160px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;

}
.details{
  text-align:start;
  margin-left: 5px;
}

.course-name{
  font-size: 12px;
  font-family: Roboto;
  font-weight: bold;
}

.teacher-name{
  font-size: 10px;
  font-family: Roboto;

}
