

.wrapper:not(:empty) + .default {
      display: none;
  }
::ng-deep .p-card {
      display:block;
      width: 22rem;
      /* width: 150px; */
      margin: 1rem;
      border: 3px solid #f8f8f8;
      float: left;
      left:1rem;
    
    
    
    }
    ::ng-deep .p-card:hover{
      border: 3px solid #fdfefe;
      
    }
    .course-div{
      top: 2rem;
      margin-bottom: 5rem;
     width: 110%;
    }
    :host ::ng-deep .p-card .p-card-body {
      padding: 0 !important;      /* Remove all default padding */
      padding-left: 1.5rem !important; /* Add only left padding */
    }
    
    :host ::ng-deep .p-card .p-card-content {
      padding-top: 2% !important;
      padding-bottom: 3% !important;
    }
