.wrapper:not(:empty) + .default {
  display: none;
}
::ng-deep .p-card {
  display: block;
  width: 22rem;
  /* width: 150px; */
  margin: 1rem;
  border: 3px solid #f8f8f8;
  float: left;
  left: 1rem;
}
::ng-deep .p-card:hover {
  border: 3px solid #fdfefe;
}
.course-div {
  top: 2rem;
  margin-bottom: 5rem;
  width: 110%;
}



.badge {
  position: absolute;
  top: 50px;
  right: 16px;
  color: white;
  padding: 0.2em 0.8em;
  border-radius: 0.5em;
  font-size: 0.8em;
  text-transform: capitalize;
  font-weight: bold; /* Font weight */
  z-index: 10; /* Make sure it appears on top */
  width: max-content;
  min-width: 130px;  /* Ensures consistent size */
  text-align: center; /* Centers the text within the badge */
}
.badge-blocked {
  position: absolute;
  top: 19px;
  right: 16.5px;
  background-color: grey;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 0.5em 0.5em 0em 0em;

  
  font-weight: lighter; /* Font weight */
  z-index: 10; /* Make sure it appears on top */
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-teacher {
  background-color: #0277bd;
}

.badge-student {
  background-color: rgb(234, 88, 12);
}

.badge-co-teacher {
  background-color: #27b5d8;
}

.badge-teaching-assistant {
  background-color: #979998;
}
