
<div class="flex flex-row min-h-screen h-screen">
  <div class="flex-col">
    <app-sidebar></app-sidebar>
  </div>

<div class="md:container md:mx-auto">
  <div  *ngIf="this.courses.length == 0">
     
     
    
    <p class="text-5xl leading-normal font-bold text-center mt-6">Currently you have no courses enrolled. </p>
    <p class="text-4xl leading-normal text-center mt-6"> <a href="landingPage" style="color: #0277BD;"> Click here</a>  to search for courses to start learning!</p>
  </div>
  <div class=" md:w-auto" *ngIf="this.courses.length > 0">
  <p  class=" text-5xl leading-normal font-bold text-center mt-6" style="color: #0277BD;"> My Courses  </p>
    <p class="text-4xl leading-normal text-center mt-6">Welcome back!  Pick a course from your list to start learning</p>

    
    
    
    <div  class=" cursor-pointer overscroll-y-auto h-1/2 flex flex-wrap" >
    <div *ngFor="let course of userArray"  (click)="onSelectCourse(course)">
    
    
      
     <p-card  styleClass="p-card-shadow" class="course-card">
        <hr style="margin-bottom: 0.75rem ; margin-top: 0%;">
        <ng-template pTemplate="header">
            <img alt="Card" src="/assets/img/courseCard.png">
        </ng-template>
       
        <ng-template pTemplate="content-center" style="float: left; "> 
       
                     <div class="w-full h-14">
              <p-avatar
                label="{{ course.shortName }}"
                shape="circle"
                size="large"
                [style]="{
                  'background-color': '#0277BD',
                  color: '#ffffff',
                  float: 'left',
                  top_margin: '0.5rem'
                }"
              ></p-avatar>

             
                <p class="font-bold pt-2 pl-51" style="padding-left: 60px;">{{ course.name }}</p>
              </div>
       
      <p class="p" > 
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        
        viewBox="0 0 22 22"
        style="fill: #EA580C; transform: msFilter ; float: left; margin-right:2px;"
        
      >
        <path d="M2 7v1l11 4 9-4V7L11 4z"></path>
        <path
          d="M4 11v4.267c0 1.621 4.001 3.893 9 3.734 4-.126 6.586-1.972 7-3.467.024-.089.037-.178.037-.268V11L13 14l-5-1.667v3.213l-1-.364V12l-3-1z"
        ></path>
      </svg>
        Created By: {{ course.firstName }} {{course.lastName}} </p>

      <p class="p" style=" margin-left: 4px;"> <i class="pi pi-calendar"  style="font-size: 1rem ; color: #EA580C"></i> Created On: {{course.createdAt}}</p>
    </ng-template>
       
    
    </p-card> 
    
    </div>
    </div>
  </div>
    </div>
  </div>
    <!-- <div class="row">
        <div class="column" style="background-color:#aaa;">
          <h2>Column 1</h2>
          <p>Some text..</p>
        </div>
        <div class="column" style="background-color:#bbb;">
          <h2>Column 2</h2>
          <p>Some text..</p>
        </div>
        <div class="column" style="background-color:#ccc;">
          <h2>Column 3</h2>
          <p>Some text..</p>
        </div>
      </div>
       -->