<app-vis-back-button></app-vis-back-button>
<div>
  <div style="text-align: center; font-size: 24px; font-weight: bold">{{ platform }}</div>
  <div>
    <div class="category">By Topics</div>
    <app-concepts-word-cloud></app-concepts-word-cloud>
  </div>
  <div>
    <div class="category">By course</div>
    <app-course-category-charts></app-course-category-charts>
  </div>

  <div>
    <div class="category">By Teacher</div>
    <app-most-active-teachers></app-most-active-teachers>
  </div>


  <div>
    <div class="category">By Institution</div>
    <app-most-active-institutions></app-most-active-institutions>
  </div>
</div>
