.container {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  position: relative;
  left: 40%;
}
.material-name {
  margin-right: 1rem;
  border: 1px solid #c4c4c4;
  padding: 1rem;
  box-shadow: 1px 1px #c4c4c4;
}
.material-name:hover {
  background-color: whitesmoke;
}
.highlight {
  box-shadow: 2px 2px rgba(3, 105, 161, 255);
  border: 1px solid rgba(3, 105, 161, 255);
  font-weight: bold;
  color: rgba(3, 105, 161, 255);
}
