name: Continuous Integration

on:
  push:
    tags:       [ v*.*.* ]
    branches:   [ main, dev, development ]
  pull_request:
    branches:   [ main, dev, development ]

jobs:
  assert-branch:
    name: Assert main branch
    runs-on: ubuntu-latest
    steps:
    - name: Notify if untagged
      if: ${{ !(github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) }}
      run: echo "::notice::Not tagged, skipping branch check"

    # Step added as a workaround for https://github.com/rickstaa/action-contains-tag/pull/18
    # TODO: bump version of action-contains-tag and remove this workaround step after PR above is merged
    - name: Work around action-contains-tag regression due to Git issue
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      run: git config --global remote.origin.followRemoteHEAD never

    - name: Checkout repository
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # all history

    - name: Determine if tag is contained in branch history
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      uses: rickstaa/action-contains-tag@v1
      id: contains_tag
      with:
        reference: main
        tag: ${{ github.ref_name }}

    - name: Notify about allowed branch
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') && steps.contains_tag.outputs.retval == 'true'
      run: echo "::notice::Release tag located on main branch"

    - name: Fail because of forbidden branch
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') && steps.contains_tag.outputs.retval != 'true'
      uses: actions/github-script@v7
      with:
        script: core.setFailed('Release tag not located on main branch')

  images:
    name: Build container images
    needs: [ assert-branch ]
    uses: ./.github/workflows/build.yml
    with:
      services:        '[ "webapp", "webserver", "coursemapper-kg/concept-map", "coursemapper-kg/preprocess", "coursemapper-kg/recommendation", "coursemapper-kg/wp-pg" ]'
      base_image_name: "ghcr.io/ude-soco/coursemapper-webserver-"
      push:            ${{ github.event_name != 'pull_request' }}

  release:
    name: Release on GitHub
    needs: [ assert-branch, images ]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/release.yml
