name: CI

on:
  push:
    tags:       [ v*.*.* ]
    branches:   [ main, development ]
  pull_request:
    branches:   [ main, development ]

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      services:        "[ 'proxy', 'webapp', 'webserver' ]"
      base_image_name: "socialcomputing/coursemapper-webserver-"
      push:            ${{ github.event_name != 'pull_request' }}
    secrets:
      registry_user:   ${{ secrets.DOCKERHUB_USERNAME }}
      registry_token:  ${{ secrets.DOCKERHUB_TOKEN }}

  check:
    name:      Validate manifests
    runs-on:   ubuntu-latest
    container: deck15/kubeval-tools
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: kubeval
      run:  kubectl kustomize .k8s | kubeval --schema-location https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master
    - name: kube-score
      run:  kubectl kustomize .k8s | kube-score score -
      continue-on-error: true

  release:
    needs: build-images
    if:    github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    uses:  ./.github/workflows/release.yml
