<p-panel
  header="Create Annotation"
  [toggleable]="false"
  class="create-annotation"
>
  <div class="dropdwon">
    <p-dropdown
      [options]="annotationTypes"
      [(ngModel)]="selectedAnnotationType"
      placeholder="Annotation type"
      [showClear]="true"
      appendTo="body"
    ></p-dropdown>

    <p-dropdown *ngIf="createAnnotationFromPanel$ | async"
      [options]=""
      optionLabel="name"
      placeholder="Slide"
      class="slide-number"
      appendTo="body"
    ></p-dropdown>
  </div>
  <span class="p-float-label">
    <textarea pInputTextarea [(ngModel)]="text"></textarea>
    <button
      pButton
      type="p-button-icon"
      icon="pi pi-send"
      class="p-button-text p-button-rounded"
      (click)="postAnnotation()"
    ></button>
  </span>
</p-panel>
