<div class="flex-col justify-evenly">
  <div class="flex flex-row w-full">
    <span class="font-medium text-xl w-full">Create Annotation</span>
    <div class="flex w-full justify-end" *ngIf="showCancelButton">
      <app-iconbutton
        icon="bx-x"
        color="{{sendButtonColor}}"
        (click)="cancel()"
      ></app-iconbutton>
    </div>
  </div>
  <div [ngStyle]="{'border': '2px solid' + annotationColor}" class="rounded-lg p-3 mt-2">
    <div class="flex flex-col justify-evenly space-y-2">
      <div class="flex flex-row justify-start space-x-3 w-full">
        <div class="flex-col">
          <span>Annotation Type</span>
          <p-dropdown
          [options]="annotationTypesArray"
          [(ngModel)]="selectedAnnotationType"
          autoWidth="false"
          appendTo="body"
          [style]="{ minWidth: '100%', maxWidth: '50px', 'border': '1px solid' + annotationColor, height: '55px' }"
          class="mr-6"
          (ngModelChange)="onAnnotationTypeChange()"
        ></p-dropdown>
        </div>

        <div class="flex-col">
          <span>Slide</span>
          <p-dropdown
          [options]="annotationLocationsArray"
          [(ngModel)]="selectedAnnotationLocation"
          autoWidth="false"
          [disabled]="disableSlidesDropDown"
          appendTo="body"
          [appUpdateBorderColor]="annotationColor"
          [style]="{ minWidth: '100%', height: '55px'}"
        ></p-dropdown>
        </div>

        <div *ngIf="selectedAnnotationLocation === 'Slide Range'">
          <span>From</span>
          <p-dropdown
          [options]="fromPageArray"
          [(ngModel)]="selectedFromPage"
          autoWidth="false"
          [disabled]="disableSlidesDropDown"
          appendTo="body"
          [style]="{ minWidth: '100%', 'border': '1px solid' + annotationColor, height: '55px' }"
          (onChange)="onSelectedFromPage()"
          (onShow)="onShowOfSelectedFromPageDropDpown()"
        ></p-dropdown>
        </div>

        <div *ngIf="selectedAnnotationLocation === 'Slide Range'">
          <span>To</span>
          <p-dropdown
            [options]="toPageArray"
            [(ngModel)]="selectedToPage"
            autoWidth="false"
            [disabled]="!isFromSelected"
            appendTo="body"
            [style]="{ minWidth: '100%', 'border': '1px solid' + annotationColor, height: '55px' }"
          ></p-dropdown>
        </div>
      </div>
      <div class="flex flex-row space-x-3">
        <textarea
          pInputTextarea
          [(ngModel)]="text"
          (ngModelChange)="onTextChange()"
          [autoResize]="true"
          rows="2" cols="60"
          class="w-full"
          [style]="{'border': '1px solid' + annotationColor}"
        ></textarea>
        <app-iconbutton
          icon="bx-send"
          color="{{sendButtonColor}}"
          (onClick)="postAnnotation()"
          class="mb-0 mt-12 flex-1 justify-end"
          [ngStyle]="{'color': annotationColor }"
          [disabled]="sendButtonDisabled"
        ></app-iconbutton>
      </div>
    </div>
</div>
</div>

